<div class="large-8 columns" data-equalizer="support-selector-box">
		<h1><%= t('titles.support') %></h1>
					<ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1">
	          <li>
								<a href="/support/tech_support" class="expand button">
	                <div data-equalizer-watch="support-selector-box2">
										Technical Support
	                </div>
            		</a>
	            </li>
            <li>
            	<a href="/support/repairs" class="expand button">
                <div data-equalizer-watch="support-selector-box2">
									Repair
                </div>
              </a>
            </li>
            <li>
            	<a href="/support/parts_new" class="expand button">
                <div data-equalizer-watch="support-selector-box2">
									Spare Parts
                </div>
              </a>
            </li>
            <li>
            	<a href="https://prodealerportal.harman.com" target="_blank" class="expand button">
                <div data-equalizer-watch="support-selector-box2">
									Harman Accounts
                </div>
              </a>
            </li>            
          </ul>
	</div>