<%  ExternalLink.get_all_download_categories_for_product(@products.id).each do |cat| %>
	<div class="row">
		<div class="small-12 columns"><h4 class="color-soundcraft"><%= cat.name.html_safe  %></h4></div>
	</div>
	<div class="row">
		<div class="small-2 medium-1 columns">&nbsp;</div>
		<div class="small-11 medium-9 large-8 columns end">
			<%
			ExternalLink.get_all_external_links_for_product(@products.id, cat.id).each do |dl| 
			%>
			<div class="div-border product_cat_bg"><font class="margin-left margin-right"><%= link_to dl.title.html_safe, dl.url.html_safe, target: dl.target %></font></div>
			<% end %><br />
		</div>
	</div>

<% end %>
