<li align="center">

<div >	
	<a href="/products/<%= prod.slug %>"><%= image_tag(prod.image.url(style), :id => "tn-prod", :class => "fade_out")  %></a>
</div>
<a href="/products/<%= prod.slug.downcase %>" class="small-text"><%= prod.name %></a>
</li>