<p id="please_wait"><i>Please wait ...</i></p>
<iframe src="<%= @src %>" width="100%" height="600"></iframe>

<%= content_for :extra_js do %>
  <script>
    $(document).ready(function() {
      $('#please_wait').delay(300).remove();
    });
  </script>
<% end %>
