<div id="locale_container">
	<%= image_tag 'world-map.png' %>
	<p>Please select your language/region:</p>

	<ul>
		<% website.available_locales.each do |website_locale| %>
		<li> <%= link_to website_locale.name, "/#{website_locale.locale}" %></li>
		<% end %>
	</ul>
</div>