<h1>Terms of Use</h1>

<p>Last Updated: November 3, 2011</p>

<h3 class="subheader">Who We Are:</h3>

<p>This web site is operated by or on behalf of Harman International Industries, Incorporated (“referred to as “Harman”, “we”, “our” and “us”). Harman’s registered address is:</p>

<blockquote>
	Harman International Industries, Incorporated<br/>
	400 Atlantic Street, 15th Floor<br/>
	Stamford, CT 06901, USA<br/>
	+1.203.328.3500
</blockquote>

<h3 class="subheader">Welcome to Harman’s Website:</h3>

<p>Welcome to Harman’s website. Our website offers to you information and resources about us, our business, our products and other tools and services, as well as opportunities to purchase certain Harman products. Please read these terms of use carefully before using this website. Your access and use of this website, as well as any purchases you may make through this website, are each subject to these terms of use and applicable laws. By using any part of this website, you unconditionally agree to follow and be bound by these terms of use. If you do not agree to these terms of use, do not use this website. Please review these terms of use periodically as these terms of use may change and Harman may make such changes at any time.</p>

<h3 class="subheader">Your Age and Agreement to these Terms of Use:</h3>

<p>This website is intended solely for users who are thirteen (13) years of age or older and it is a violation of these terms of use for anyone under 13 to use this website. By using this website, you represent to us that you are at least 13 years old. If you are at least 13 but are under the age of 18, you may only use this website with your parent’s or guardian’s consent and your parent or guardian must provide consent after having read these terms of use. You agree to all of the terms and conditions of these terms of use or if you are between the ages of 13 and 18, you represent that you have obtained your parent’s or legal guardian’s consent after your parent or legal guardian has reviewed and agreed to these terms of use. If you are a parent or legal guardian who has consented to the use of this website by a person between the ages of 13 and 18, you are fully responsible for that person’s use of this website, including all financial charges and legal liability that that person may incur.</p>

<h3 class="subheader">Changes to these Terms of Use or Website:</h3>

<p>Harman may change these terms of use or the website at any time by posting the amendments on this website without any obligation to provide notice to you. These changes will be effective upon Harman’s posting of these changes on the website. You agree that Harman will not be liable to you for any change or discontinuance, in whole or in part, of the terms of use or this website. Your use of the website after these changes will constitute your acceptance to the changes to the terms of use or this website. You further agree to review these terms of use periodically and to make yourself aware of these changes.</p>

<h3 class="subheader">Termination:</h3>

<p>Harman reserves the right in its sole discretion to terminate or restrict your use of all or any part of this website, without reason, without notice and without liability to you or anyone else. The clauses in these terms of use pertaining to your use of Harman’s intellectual property, indemnification and limitation of liability, and other clauses elsewhere in these terms of use that expressly provide for their survival upon termination or expiration, will survive any termination or expiration, in whole or in part, of these terms of use or your license to use this website.</p>

<h3 class="subheader">Intellectual Property:</h3>

<p>You acknowledge that all business information, code, content, drawings, graphics, information, logos, metadata, meta tags, marketing information, page format and style, phrases, pictures, music clips, video clips, product descriptions, product reviews, renderings, text and trademarks, the compilation of all of the foregoing and all intellectual property rights and goodwill associated therewith (collectively referred to as “site content”) is owned by Harman (or used by it under license from third parties), and Harman reserves all rights in and to the site content. Except as expressly granted to you under these terms of use, Harman does not grant you any right, title or interest in or to any part of the site content. You will not copy, reproduce, publish, distribute, transmit, disseminate, display, exhibit, edit, modify, create derivative works from, or exploit in any way, any part of the site content. You will not frame or utilize framing techniques to enclose any Harman trademark, logo, or other proprietary information. You will not use any meta tags or any other "hidden text" utilizing Harman’s name or trademarks. You will not delete, remove or otherwise alter any copyright, trademark or other proprietary notice appearing in or on the site content. You will not take any action to jeopardize, limit or interfere in any manner with Harman’s rights in and to the site content. You agree not to portray Harman, its products or this website in a false, misleading, derogatory or otherwise offensive manner. Harman reserves the sole and exclusive right at its discretion to assert claims against third parties for infringement or misappropriation of its intellectual property rights in the site content. This website may contain site content owned or licensed by third parties. All restrictions set forth in these terms of use equally apply to all site content owned or licensed by third parties.</p>

<h3 class="subheader">Grant of License:</h3>

<p>Subject to the restrictions defined in these terms of use, we grant you a limited, revocable, non-exclusive, non-assignable, non-transferable license to access and use the website solely for the purpose of your own non-commercial use to review information about Harman and Harman’s products, to provide content regarding Harman’s product where allowed, or to order items offered for sale by Harman on this website. Any other use by you is strictly prohibited. All rights not expressly granted to you in these terms of use are reserved to Harman.</p>

<p>There may be embeddable software applications available for you to use and display on your website or personal page ("Widgets"). We grant you a limited, revocable, non-exclusive, non-assignable, non-transferable license for the duration of the term of these terms of use, to display Widgets on your site solely for the purpose of facilitating referrals from your site or personal page to this website. Without limiting any other rights or remedies, we may limit, suspend or terminate this license and/or your right to access or display Widgets at any time and for any reason, including but not limited to your display of Widgets on a site or in a manner that we deem unacceptable for any reason at our discretion.</p>

<p>In connection with your use or display of Widgets, you will: (a) use any data, images, text, or other information obtained by you from us only in a lawful manner and only in accordance with the terms of these terms of use; (b) not modify or alter Widgets; (c) not sell, redistribute, sublicense or transfer any part of any Widget; and (d) not use or display any part of any Widget in a manner intended to send sales to any site other than this website.</p>

<h3 class="subheader">You will not display Widgets on any sites or pages that:</h3>

<ol style="margin-left: 20px">
	<li>Contain, exhibit or refer to, in our discretion, material that is disparaging, derogatory or defamatory to us or any third party;</li>
	<li>Contain any sexually explicit material;</li>
	<li>Promote or depict violence or hate toward any persons or groups;</li>
	<li>Promote illegal activities;</li>
	<li>Promote alcohol, tobacco, illegal drug use or illegal gambling in any way;</li>
	<li>Promote any investment schemes or provide financial advice;</li>
	<li>Promote or condone discrimination based on race, sex, religion, nationality, disability, sexual orientation, or age;</li>
	<li>Include Harman or any of its trademarks or variations thereof in their domain names without authorization from us; or</li>
	<li>Otherwise violate intellectual property rights of Harman.</li>
</ol>

<h3 class="subheader">License Restrictions:</h3>

<p>You will not (or assist, allow or direct any third person to): (i) extract, separate, remove or otherwise copy any part of the site content; (ii) disassemble, decompile, reverse engineer or otherwise convert any part of the site content to source code or a human-perceivable form; (iii) adapt, modify or create a derivative work of any part of the site content; (iv) distribute, encumber, lease, rent, sell, transmit, transfer, or otherwise dispose of the site content, in whole or in part; or (v) use the site content for any purpose other than what is expressly allowed in these terms of use.</p>

<h3 class="subheader">Your Account on this Website:</h3>

<p>In certain circumstances, our website may allow you to provide your opinion and feedback regarding our products, or you may be allowed special pricing for participating in marketing campaigns at the discretion of Harman, or Harman may offer for sale certain of its products on this website. In exchange, you may be required to create a username and password for your use. Select a non-obvious password and preserve your username and password with care; do not allow anyone to use your login credentials to access the website. Do not create more than one account or username for yourself, or create an account or username on behalf of another. You agree to immediately notify Harman in the event of any unauthorized use of your login credentials. Harman will not be responsible for any loss or liability resulting from the unauthorized use of your login credentials with or without your knowledge. You are fully and solely responsible for all activities that occur by use of your login credentials. When you provide or post information on the website, you agree to provide true, accurate and current information and to promptly update such information to keep it true, accurate and current. If you provide any information that is (or Harman reasonably believes to be) untrue or inaccurate, Harman may edit, remove or refuse such information and suspend or terminate your access to your account. Without incurring any responsibility or liability therefor, Harman reserves the right to take any action it deems necessary to ensure the security of the website and your account, including without limitation, terminating your account, changing your password or requesting additional authentication information from you. The security of your personal information is important to Harman. Harman agrees to take reasonable steps to ensure the safety of your personal information. Harman does not represent or guarantee your personal information is free from security threats or other vulnerabilities. Harman reserves the right to terminate your account if Harman, in its discretion, deems your account to be inactive for an extended period of time, and Harman shall have no liability whatsoever to you or any party in relation to such termination.</p>

<h3 class="subheader">Your Content on this Website:</h3>

<p>Harman does not pre-screen content that you or other users post to the website and the website serves merely as a forum for users to discuss Harman’s products (however, Harman reserves the right to, from time to time and at its discretion, monitor user comments and posts without incurring any liability therefor.) Harman does not guarantee that any information is true, accurate or current or otherwise not false, misleading, inaccurate, fraudulent, deceptive or illegal. By posting any content or information to the website, you grant Harman a non-exclusive, non-revocable, worldwide and perpetual right to use any part of your posted information and content in any manner or media now existing or hereafter developed, including the right to adapt, modify, edit, decompile, create derivative works, sublicense, assign, commercialize and otherwise exploit without any compensation due to you, which right shall survive any termination of your license to use this website or ability to post content hereto. You shall have no right or title to your username, which shall be Harman’s property. Your use of the website constitutes your consent to allow Harman to store content created by you, including your personal information on Harman’s host computers. You are solely responsible for your interaction with other users of this website, whether online or offline, and Harman is not responsible for any loss or damage relating to such interaction. You also agree to observe and follow the following posting rules:</p>

<ul style="margin-left: 20px">

	 <li>You will not impersonate anyone else.</li>
	 <li>You will not post any content that includes information that is false, misleading, inaccurate, fraudulent, deceptive or that promotes illegal activity.</li>
	 <li>You will not post your personal information or solicit any personal information from other users of the website.</li>
	 <li>You will not post any content or information in violation of any laws or regulations.</li>
	 <li>You will not insult, bully or flame any other users of the website.</li>
	 <li>You will not post content that is that is offensive, libelous, defamatory, indecent, harmful, harassing, intimidating, threatening, hateful, abusive, vulgar, obscene, pornographic or sexually explicit.</li>
	 <li>You will post only constructive information.</li>
	 <li>You will not speculate or post rumors about Harman, Harman’s products or any other user.</li>
	 <li>You will not post information that you do not own or control all rights to. You are fully and solely responsible for all content that you post.</li>
</ul>

<p>Without prejudice to Harman’s other termination rights, Harman may terminate your use of this website or ability to post content thereto, in whole or in part, for any violation of any of the foregoing terms and conditions.</p>

<h3 class="subheader">Privacy:</h3>

<p>Our Privacy Policy describes the collection and use of information on this website. Read our Privacy Policy prior to any use of this website. Our Privacy Policy will be governed by these terms of use.</p>

<h3 class="subheader">User Content Complaints:</h3>

<p>You agree that by using this website, you may encounter content that you may deem offensive, indecent, defamatory or objectionable. You agree to use this website at your sole risk, and that Harman shall have no liability to you for content that you may deem offensive, indecent, defamatory or objectionable.</p>

<p>In the event any objectionable content or information appears on the website, notify Harman in writing of the objectionable content. Harman will make a good-faith effort to investigate all allegations of objectionable content that violates the terms of use, but Harman does not undertake, represent or warrant that Harman will take any action relating thereto.</p>

<h3 class="subheader">Notice of Infringement Claims:</h3>

<p>If you believe that your work has been improperly copied and posted to the website, please provide Harman with your name, address, telephone number, e-mail address, a physical or electronic rendering of your signature, a description of your copyrighted work, a description of the location of your copyrighted work on the website and a statement by you made under penalty of perjury (in such form and substance as we may require) that the above information is accurate and that you are the copyright owner or otherwise authorized to act on behalf of the copyright owner.</p>

<h3 class="subheader">Notices for Complaints:</h3>

<p>Send all legal notices under these terms of use to:</p>

<p>Attention: Legal Department<br/>
Harman International Industries, Incorporated<br/>
400 Atlantic Street, 15th Floor<br/>
Stamford, CT 06901, USA<br/>
+1.203.328.3500
</p>

<h3 class="subheader">Site Security:</h3>

<p>Compromising the security of the website is prohibited and may result in criminal and civil liability. Harman may investigate security-compromising activities and will contact and cooperate with law enforcement if a crime has possibly occurred. By way of illustration, Harman deems the following activity as attempts to compromise the security of the website: unauthorized access to information on Harman’s server computer or systems such as probes, scans, or vulnerability tests of the website, bypass or circumvention of the website’s authentication measures, interfering with service to any end user, interfering with or tampering with the website’s host computer or network facilitating any connection with or to the website, sending unsolicited emails, such as promotions or advertisements for products or services to Harman or any of the users of this website, attempts to overload Harman’s host computer or network, altering or cloning packet headers, e-mail headers or message headers. You agree not to use any device, software or other means to interfere or attempt to interfere with the proper working of this website or any activity being conducted hereon. You also agree not to use or attempt to use any engine, software, tool, agent or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search this website, except the search engine and search agents made available by Harman on this website or other generally available third party web browsers (e.g., Microsoft Explorer or Mozilla Firefox).</p>

<h3 class="subheader">Harman’s Usage and Storage of Information:</h3>

<p>Harman may establish standard practices and limits regarding the use of the website, including the type of user-posted content permitted on the website, maximum number of days user-created content is displayed, accessible or retained by Harman or the maximum number of e-mails an account may send or receive and the maximum disk-space allotted to each website user. Harman will have no liability for the preservation or deletion of any content or personal information maintained by the website or otherwise provided by you to Harman through use of the website. Harman reserves the right to modify its usage and storage of content and information from time to time.</p>

<h3 class="subheader">Links to Third Party Websites:</h3>

<p>This website may link to other websites owned or operated by third parties, or otherwise allow you to access your user account through third party social networking or similar websites or software applications. Harman has no control over these third party websites or applications and shall have no liability for such websites or applications. Any references to any third party names, marks, products or services, or hyperlinks to third party sites or material are provided to you solely for convenience, and do not imply any affiliation, sponsorship or endorsement by Harman. Harman has no responsibility whatsoever for any content, practices, policies or acts of or by such third parties, nor does Harman make any warranties or representations whatsoever regarding such third party content, practices, policies or acts.</p>

<h3 class="subheader">Product Orders:</h3>

<p>All purchase orders for product placed by you through this website are subject to Harman’s acceptance and the availability of product or as otherwise provided by law. Harman reserves the right to refuse to accept or cancel any purchase order (or any portion thereof) at any time without any reason and without liability to you or anyone else. All purchase orders for products are subject to Harman’s terms of sale and, in the event of any conflict between these terms of use and the terms of sale, the terms of sale shall prevail. If Harman refuses to accept or cancels your purchase order (or any portion thereof) after your payment method has been charged or otherwise received by Harman, Harman will, at its option and sole discretion, either reverse the corresponding payment method or issue you a refund. You agree to fully pay for all orders made through your account on this website. Harman may charge your credit card, debit card or other method of payment previously authorized for any unpaid items purchased through this website and any other charges accruing to your account. Harman may, from time to time, make items available on pre-order, and by pre-ordering products, you authorize Harman to automatically charge your account when the item becomes available and ships to you.</p>

<p>Nothing in this website shall be deemed as an offer to sell products binding upon Harman. While we strive to provide accurate and current information on this website, pricing, clerical, typographical or similar errors may occur on this website at any time. Also, browsing this website through a mobile device may result in inaccurate or outdated information. Harman cannot confirm the price of an item until that item is made available for shipping. In the event that an incorrect price is posted for an item, Harman may, at its discretion, elect to either exercise its order cancellation rights as set forth in these terms of use, or contact you to determine if you wish to proceed with your order for the item at the correct price. Our online prices may vary from brick-and-mortar retail prices for the same items. Harman does not price match for any items made available through this website.</p>

<p>Harman strives to post accurate product descriptions. Nevertheless, Harman does not represent or warrant that product descriptions or other content on this website are accurate, complete, reliable, current, or error-free. Should you find any item that is not as described, your exclusive remedy is to return it in unused condition and in its original packaging for a refund of your purchase price, subject to Harman’s applicable return policies.</p>

<p>Harman may, at any time, in its sole discretion and without notice, limit the quantity of items purchased per person, per account, per credit/debit card, per household or per order.</p>

<p>Risk of loss and title to items purchased through this website shall pass on to the purchaser upon our delivery of such item to the carrier.</p>

<p>By ordering products from Harman’s distributors or other authorized third party sellers through this website, you acknowledge that such orders shall be fulfilled by such third party sellers and not Harman, and Harman shall have no responsibility for the processing, fulfillment, shipping, returns or customer service relating to those orders. In the event of any conflict between these terms of use and any conflicting terms or conditions applied by Harman’s distributors or other authorized third party sellers, then these terms of use will prevail (including those terms relating to ownership of site content, our license to your comments or posted content, rules on your conduct on this website, disclaimers and limitations on liability), except only with respect to product return policies, customer service issues, shipping and delivery issues, payment and credit terms, and other terms of sale, which shall be governed by Harman’s distributor’s or third party seller’s terms of use and terms of sale. To the fullest extent possible, conflicting terms between these terms of use and Harman’s distributor’s or third party seller’s terms of use and terms of sale shall be interpreted to allow for the preservation of Harman’s and such distributor’s or third party seller’s rights and remedies against users of this website.</p>

<h3 class="subheader">Enforcement:</h3>

<p>Harman reserves the right to enforce these terms of use at the sole discretion of Harman. Harman may issue warnings, suspend or terminate use or access to the website, edit user-posted content and information, prosecute or institute legal proceedings for any violation of these terms of use. Harman’s refusal or failure to enforce any right or provision of these terms of use will not constitute a waiver of such right or provision. These terms of use shall not be modified by Harman’s trade practice or Harman’s course of dealing with you. Harman may at any time assign its rights and duties under these terms of use to any party without any notice to any party. If any right or provision is deemed unlawful or void, then the provision will be deemed severable from these terms of use and will not affect the validity or enforceability of the remaining terms. These terms will be governed by and construed under the laws of the State of New York, U.S.A., without regard to choice of law provisions, and not by the U.N. Convention on contracts for the international sale of goods. Any dispute or claim by you relating in any way to your visit to or use of any part of this website or any content found therein, to any products offered or sold through this website, or to the interpretation of these terms of use, will be resolved by binding arbitration, rather than in court. The Federal Arbitration Act and federal arbitration law apply to these terms of use. The arbitration will be conducted by the American Arbitration Association (“AAA”) under its rules, including the AAA's Supplementary Procedures for Consumer-Related Disputes. The AAA's rules are available at www.adr.org. Payment of all filing, administration and arbitrator fees will be governed by the AAA's rules. You may choose to have the arbitration conducted by telephone, based on written submissions, or in person in the county where you live or at another mutually agreed location. You agree that any dispute resolution proceeding relating in any way to your visit to or use of any part of this website or any content found therein, to any products offered or sold through this website, or to the interpretation of these terms of use will be conducted only on an individual basis and not in a class, consolidated or representative action. If for any reason a claim proceeds in court rather than in arbitration, you agree to waive any right to a jury trial, and you agree to bring any legal proceedings against Harman exclusively in the federal or state courts located in New York, New York, U.S.A., and you waive all defenses with respect to venue and jurisdiction in the state and federal courts located in New York, New York, U.S.A., including lack of personal jurisdiction and forum non conveniens. For the avoidance of doubt, you agree that we may bring suit in court to enjoin infringement or other misuse of intellectual property rights.</p>

<h3 class="subheader">Indemnification:</h3>

<p>You agree to indemnify, defend, and hold harmless Harman, its parent company, shareholders, officers, directors, employees, agents, licensors, distributors, affiliates and suppliers from and against any and all claims, losses, expenses, damages and costs, including, without limitation, attorneys' fees, arising from or relating in any way to your use of this website, including without limitation any content posted or otherwise created by you. This obligation will survive the termination or modification of these terms of use, or of your right to use this website.</p>

<h3 class="subheader">WARRANTY DISCLAIMER:</h3>

<p>THIS WEBSITE, ANY WIDGETS, AND THE INFORMATION AND CONTENT PROVIDED HEREIN ARE PROVIDED ON AN "AS IS" AND “AS AVAILABLE” BASIS, WITHOUT ANY WARRANTIES OF ANY KIND. EXCEPT AS PROHIBITED, AND TO THE FULLEST EXTENT ALLOWED, BY LAW, HARMAN DISCLAIMS ALL WARRANTIES OF EVERY KIND INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. HARMAN DOES NOT REPRESENT NOR WARRANT THAT THE WEBSITE OR ANY WIDGETS WILL BE UNINTERRUPTED OR ERROR-FREE, THAT ANY DEFECTS WILL BE CORRECTED OR THAT ANY PART OF THIS WEBSITE OR WIDGETS, OR THE SERVER THAT MAKES ANY PART OF THIS WEBSITE AVAILABLE ARE FREE OF DEFECT OR FREE FROM ANY VIRUSES OR SECURITY COMPROMISING MECHANISMS. HARMAN DOES NOT MAKE ANY WARRANTIES OR REPRESENTATIONS REGARDING THE USE OF THE INFORMATION, CODE OR CONTENT PROVIDED BY THIS WEBSITE IN TERMS OF THEIR CORRECTNESS, ACCURACY, ADEQUACY, TRUTHFULNESS, USEFULNESS, RELIABILITY OR OTHERWISE.</p>

<h3 class="subheader">LIMITATION OF LIABILITY:</h3>

<p>UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY, WHETHER IN TORT, CONTRACT, STRICT LIABILITY OR OTHERWISE, SHALL HARMAN OR ITS PARENT COMPANY OR ANY OF ITS SHAREHOLDERS, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, LICENSORS, DIRECTORS, AFFILIATES, SUPPLIERS OR DISTRIBUTORS (“RELEASED PARTIES”) BE LIABLE FOR ANY DIRECT, SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES (INCLUDING DAMAGES FOR LOST PROFITS, LOSS OF GOODWILL, LOSS OF DATA, WORK STOPPAGE, ACCURACY OF RESULTS, COMPUTER FAILURE OR COMPUTER MALFUNCTION) THAT RELATE TO THE USE OF OR INABILITY TO USE THIS WEBSITE OR THE PERFORMANCE OR THE CONDUCT OF OTHER USERS OF THIS WEBSITE, EVEN IF ANY OF THE RELEASED PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU ASSUME TOTAL RESPONSIBILITY FOR YOUR USE OF THE WEBSITE. YOUR ONLY REMEDY AGAINST ANY OF THE RELEASED PARTIES FOR DISSATISFACTION WITH THE WEBSITE OR ANY CONTENT IS TO STOP USING THE SITE. HOWEVER, IF ANY OF THE RELEASED PARTIES ARE FOUND LIABLE TO YOU FOR ANY DAMAGE OR LOSS WHICH IS IN ANY WAY CONNECTED WITH YOUR USE OF THIS WEBSITE OR ANY CONTENT, OR YOUR PURCHASE OF ANY ITEM THROUGH THIS WEBSITE, SUCH RELEASED PARTIES’ LIABILITY WILL NOT EXCEED U.S. $100.00 IN THE AGGREGATE. YOU AGREE TO FILE ANY CLAIM OR CAUSE OF ACTION YOU MAY BELIEVE YOU HAVE RELATING TO THIS WEBSITE (INCLUDING THE PURCHASE OF GOODS THROUGH THIS WEBSITE) WITHIN ONE (1) YEAR FROM WHEN SUCH CLAIM OR CAUSE OF ACTION ARISES.</p>

<h3 class="subheader">EXPORTS:</h3>

<p>You acknowledge that items made available on this website may include technology or software that are subject to customs and export control laws and regulations. By purchasing, downloading or using technology or software from this website, you agree to comply with all applicable laws and regulations, including the Export Administration Act and the Arms Export Control Act, and you represent and warrant that you shall not transfer the software or technology to a foreign national or a foreign destination in violation of such laws, rules and regulations.</p>

<h3 class="subheader">GUEST CHECKOUT:</h3>

<p>Harman may, from time to time, allow you to purchase from this website as a guest without creating or using an account (“guest checkout”). While using guest checkout, you will be required to enter certain information, such as first and last name, year of birth, billing and shipping address, telephone number, credit card information and a valid email address where we can send order and shipping notices. This information will not be saved on our site and you will have to re-enter it every time you use guest checkout. Guest checkout activities and orders are also governed by these terms of use.</p>

<h3 class="subheader">ELECTRONIC COMMUNICATIONS:</h3>

<p>When you use this website or send us e-mails, you are communicating with us electronically. You consent to receive communications from us electronically. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement for such communications to be valid, binding and enforceable. You represent and warrant that the email address you provided to Harman is current and valid, and you agree to immediately update Harman on any change of email address, and you will be solely responsible for your email address’ failure or inability to receive communications at any given time.</p>
