<h1>Pages</h1>

<% if can? :create, Page %>
<ul class="button-group round">
	<li><%= link_to 'New page', new_admin_page_path, class: "small success button" %></li>
</ul>
<% end %>

<table class="data" width="100%">
	<tr>
		<th><b>Page URL</b> (click to visit page)</th>
		<th style="padding-left: 8px"><b>Page Title</b> (click to edit page)</th>
	</tr>
<% @pages.each do |page| %>
	<tr>
		<td><%= link_to page_link(page), page_link(page) %></td>
		<td style="padding-left: 8px"><%= link_to page.title, [:admin, page] %></td>
	</tr>
<% end %>
</table>
