<a name="line_loss"></a>
<div class="row">
  <div class="large-5 columns">
    <div class="panel">
      <h4 class="text-center">Line Loss</h4>
      <form id="line_loss">
        <input type="hidden" id="mult" value="20">

        <label for="prated">Power driven on line</label>
        <div class="row collapse">
          <div class="large-9 small-8 columns">
            <input type="text" name="prated"/>
          </div>
          <div class="large-3 small-4 columns">
            <span class="postfix">watts</span>
          </div>
        </div>

        <label for="r2">Length of line</label>
        <div class="row collapse">
          <div class="large-9 small-8 columns">
            <input type="text" name="r2"/>
          </div>
          <div class="large-3 small-4 columns">
            <span class="postfix">ft.</span>
          </div>
        </div>

        <label for="vline">Voltage level</label>
        <div class="row collapse">
          <div class="large-9 small-8 columns">
            <input type="text" name="vline"/>
          </div>
          <div class="large-3 small-4 columns">
            <span class="postfix">volts</span>
          </div>
        </div>

        <label for="r1">Wire gauge</label>
        <div class="row collapse">
          <div class="large-9 small-8 columns">
            <select name="r1">
              <option value=".99">#10</option>
              <option value="1.58">#12</option>
              <option value="2.53">#14</option>
              <option value="4.02" selected="selected">#16</option>
              <option value="6.39">#18</option>
              <option value="10.15">#20</option>
              <option value="16.14">#22</option>
              <option value="25.67">#24</option>
            </select>
          </div>
          <div class="large-3 small-4 columns">
            <span class="postfix">AWG</span>
          </div>
        </div>

        <div class="row">
          <div class="large-12 small-12 columns text-center">
            <input type="submit" value="Calculate" class="small radius button"/>
            <input type="reset" value="Reset" class="small secondary radius button"/>
          </div>
        </div>

        <label for="ploss">Line loss</label>
        <div class="row collapse">
          <div class="large-9 small-8 columns">
            <input type="text" name="ploss"/>
          </div>
          <div class="large-3 small-4 columns">
            <span class="postfix">dB</span>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="large-7 columns">
    <p>This calculator provides line loss with 2-conductor cable on a constant voltage line.</p>

    <p>Equation used to calculate the data:<br/>
    <strong>Ploss = 10 * Log [1 - ((2 * RL) / (2 * RL + (Vline squared / Prated))]</strong><br/>
    <strong>RL = (Rref / 1000) * D</strong></p>

    <p><i>Where:</i><br/>
    <strong>D</strong> = length of wire used<br/>
    <strong>Ploss</strong> = power loss in dB<br/>
    <strong>Prated</strong> = power driven on line<br/>
    <strong>RL</strong> = wire guage resistance<br/>
    <strong>Vline</strong> = voltage on line</p>
  </div>
</div>
