<a name="ohms_watts_law"></a>
<div class="row">
  <div class="large-5 columns">
    <div class="panel">
      <h4 class="text-center">Ohm's Law / Watt's Law</h4>
      <form id="ohms_watts_law">
        <div class="row collapse">
          <div class="large-4 small-12 columns">
            <label for="x" class="inline">Voltage</label>
          </div>
          <div class="large-5 small-9 columns">
            <input type="text" name="x"/>
          </div>
          <div class="large-3 small-3 columns">
            <span class="postfix">volts</span>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-4 small-12 columns">
            <label for="i" class="inline">Current</label>
          </div>
          <div class="large-5 small-9 columns">
            <input type="text" name="i"/>
          </div>
          <div class="large-3 small-3 columns">
            <span class="postfix">amps</span>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-4 small-12 columns">
            <label for="r" class="inline">Resistance</label>
          </div>
          <div class="large-5 small-9 columns">
            <input type="text" name="r"/>
          </div>
          <div class="large-3 small-3 columns">
            <span class="postfix">ohms</span>
          </div>
        </div>
        <div class="row collapse">
          <div class="large-4 small-12 columns">
            <label for="p" class="inline">Power</label>
          </div>
          <div class="large-5 small-9 columns">
            <input type="text" name="p"/>
          </div>
          <div class="large-3 small-3 columns">
            <span class="postfix">watts</span>
          </div>
        </div>
        <div class="row">
          <div class="large-12 small-12 columns text-center">
            <input type="submit" value="Calculate" class="small radius button"/>
            <input type="reset" value="Reset" class="small secondary radius button"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="large-7 columns">
    <p>Ohm's Law states the relationship between current, voltage and resistance.
    Watt's Law states the relationships of power to current, voltage and resistance.</p>

    <p>Enter any two known values and press "Calculate" to solve for the others.</p>

    <p>Equations used to calculate the data:<br/>
    <strong>V = IR</strong><br/>
    <strong>P = VI</strong></p>

    <p><i>Where:</i><br/>
    <strong>I</strong> = current<br/>
    <strong>P</strong> = power<br/>
    <strong>R</strong> = resistance<br/>
    <strong>V</strong> = voltage</p>
  </div>
</div>
