<br /><br />
<div class="row fullWidth">
	<div class="small-3 large-2 columns" align="right" >
		<a name="<%= header_title.gsub(" ", "-") %>"></a>
	</div>
	<div class="small-9 large-10 columns thick_left" >
		<a href="<%= "/products/#{header_title.gsub(" ", "-")}".downcase %>">
			<h3 data-magellan-destination="<%= header_title.gsub(" ", "-") %>" class="color-soundcraft">
			<%= header_title %>
		</h3>
		</a>
	</div>
</div>