<div class="row fullWidth">
	<div class="small-1 column ">&nbsp;</div>
	<div class="small-10 column  end" >
			<i><%= write_product_application_string(@products.id) %></i>
			<br /><br />
	</div>
</div>