<div align="center" class="margin-top">
<%= link_to("Product Registration", product_registration_path, class: "button radius margin-right") %>
<%= link_to("Warranty", warranty_path, class: "button radius margin-right") %>
</div>