<div class="row fullWidth">
	<div class="small-1 column ">&nbsp;</div>
	<div class="small-10 column end" >
		<% 
		
		# currently not in use hence set to 999
		if @products.id == 999 
		
		%>
			<%= link_to(image_tag("/images/products/Si-impact-banner-600x200.jpg", class: "fade image_border"), "https://www.facebook.com/SoundcraftMixers/app_451684954848385", target: "_blank")  %>
		<br /><br />
		
		<% end %>	
	</div>
</div>

