<%  if @products.live == 1 %>
<div class="fullWidth related_products_layer" align="right">
	<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" id="alt_button" class="button dropdown" >Related Products</button><br>
	<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
	  <% Product.get_related_products(@products).each do |prod|   %>
	   <li>
	   	<a href="/products/<%= urlise(prod.name) %>">
	   		<div><%= image_tag(prod.image.url("thumb"), :id => "tn-prod", :class => "fade_out")  %></div>
	   		<div><%= prod.name.html_safe %></div>
	   		</a>
	   	</li>
	  <% end %>
	</ul>
</div>
<% end %>
