<h1>RSO Site Panels</h1>

<ul class="button-group round">
	<li><%= link_to 'New panel', new_admin_rso_panel_path, class: "small success button" %></li>
</ul>

<ul>
<% @rso_panels.each do |rso_panel| %>
  <li><%= link_to rso_panel.name, [:admin, rso_panel] %></li>
<% end %>
</ul>


