<% set_meta_tags title: "ePedal Labels",
				 reverse: true %>

<%= render_partial 'digitech/products/istomp_style' %>

<h1>Thanks!</h1>

<p>We've received your request. Watch for it in the mail soon.</p>

