<% set_meta_tags title: t('titles.artists'),
				 reverse: true %>

<ul class="pagination">
	<% ("a".."z").each do |letter| %>
		<% if @all_artists[letter].size > 0 %>
      <li class="<%= 'current' if letter == params[:letter] %>"><%= link_to letter, all_artists_path(letter) %></li>
		<% else %>
      <li class="unavailable"><%= link_to letter, '' %></li>
		<% end %>
	<% end %>
</ul>

<div data-equalizer>
  <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1">
    <% @artists.each do |artist| %>
      <li><%= render_partial "artist", artist: artist %></li>
    <% end %>
  </ul>
</div>
