<%#
By default, sites can't have new artists. If the brand you're working
with should have artists, then create an html template for that brand.
For example: app/views/digitech/artists/become.html.erb
%>

<p>Signing up as an artist for <%= @website.brand.name %> is not configured.</p>
