<!DOCTYPE html>
<html>
<head>
	<title>Lexicon Pro Software</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="google-site-verification" content="z2YH0Gt2csHUrioS-HaXOOGbuki9Tc3zr08nr0Yr08k" />
	<link rel="stylesheet" type="text/css" href="http://www.lexiconpro.com/styles.css">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= render_partial "shared/analytics" %>
</head>
<body>
<center><div class="bg">
			<div class="div_bg index">
				<%= yield %>
				<div>
					<a href="http://www.lexiconpro.com/" target="_blank"><img src="/images/lexicon/lexicon_logo_sm.png"></a>
				</div>
			</div>
		</div>
</center>
</body>
</html>
