<p>Welcome <%= @email %>!</p>

<p>Unfortunately, we couldn't find a matching email address for the account you entered.
Please try again or contact Adam Anderson at 801-568-7627 or adam.anderson@harman.com
for assistance.</p>
