<p>Welcome <%= @email %>!</p>

<p>Unfortunately, we couldn't find a matching email address for the account you entered.
Please try again or contact our toolkit administrators for assistance:</p>

<ul>
<%= HarmanSignalProcessingWebsite::Application.config.toolkit_admin_contact_info.each do |tka| %>
	<li><%= tka %></li>
<% end %>
</ul>
