<h3><%= link_to t('professionals'), artists_path %></h3>

<% website.artists.where(featured: true).order("RAND()").limit(3).all.each do |artist| %>
	<%= render_partial "artists/artist", artist: artist %>
<% end %>

