<div id="signup">
	<form action="<%= email_signup_url %>" method="POST">
		<h2><%= t('news_signup')%></h2>
		<input type="text" name="Email" size="30" value="email address" style="width: 130px; font-size: 14px; padding: 2px;" onfocus="if (this.value == 'email address') this.value = '';"> 
		<input type="submit" name="go" value="signup">
	</form> 
</div>