<%#= cache ["twitter_feed", website.brand, Rails.env, Date.today] do %>

<% if website.twitter && tw = website.twitter.match(/(\w*)$/).to_s %>


	<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#0c90f5'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('<%= tw %>').start();
</script>

<br/>
<a href="https://twitter.com/<%= tw %>" class="twitter-follow-button" data-show-count="false" data-size="large" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF">Follow @<%= tw %></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<% end %>

<%# end %>