<h1>RSO monthly reports</h1>
<ul class="button-group round">
	<li><%= link_to 'New monthly report', new_admin_rso_monthly_report_path, class: "small success button" %></li>
</ul>

<ul>
<% @rso_monthly_reports.each do |rso_monthly_report| %>
  <li><%= link_to rso_monthly_report.name, [:admin, rso_monthly_report] %></li>
<% end %>
</ul>

