
<ul class="button-group round">
    <li><%= link_to 'Back To List', admin_vip_global_regions_path, class: "small button round" %>	</li>
    <li><%= link_to 'Delete', admin_vip_global_region_path(@vip_global_region), confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>
<h1>Edit AMX VIP Global Region</h1>

<%= render "form" %>