<h1>New Project</h1>

<div class="row">
	<div class="large-8 columns">
		<%= render 'form' %>
	</div>
	<div class="large-4 columns">
		<div class="tip">
			<p>Hi. Use the "Due On" field to set the date the project
				should be completed.</p>
			<p>Use the "Event" dates to control where
				this project shows up on the calendar view.</p>
		</div>
	</div>
</div>
