<h1>Listing Badges</h1>

<% if can? :create, Badge %>
<ul class="button-group round">
	<li><%= link_to 'New Badge', new_admin_badge_path, class: "small success button" %></li>
</ul>
<% end %>

<ul class="large-block-grid-6 small-block-grid-3">
	<% @badges.each do |badge| %>
	<li><%= link_to image_tag(badge.image.url(:medium), lazy: false), [:admin, badge] %><br /><%= link_to badge.name, [:admin, badge] %></li>
	<% end %>
</ul>
