<%= simple_form_for [:admin, @brand_toolkit_contact] do |f| %>

	<div class="instructions">
		If the person you'd like to add does not appear in the drop-down below, contact Adam.
		That person needs to be added to the website user database first.
	</div>

	<%= f.association :user, label: "Select Existing User", collection: User.staff %>

	<div id="user_fields">
		<%= render "user_fields", f: f %>
	</div>

	<div class="field">
		<%= f.submit %>
	</div>

<% end %>