<h1>RSO Site Pages</h1>

<ul class="button-group round">
	<li><%= link_to 'New page', new_admin_rso_page_path, class: "small success button" %></li>
</ul>

<ul>
<% @rso_pages.each do |rso_page| %>
  <li><%= link_to rso_page.name, [:admin, rso_page] %></li>
<% end %>
</ul>
