<h1>RSO Site Pages</h1>

<div class="button_container">
	<%= link_to 'New page', new_admin_rso_page_path, class: "new button" %>
</div>

<ul>
<% @rso_pages.each do |rso_page| %>
  <li><%= link_to rso_page.name, [:admin, rso_page] %></li>
<% end %>
</ul>
