<h1>Brands</h1>
<% if can? :create, Brand %>
<ul class="button-group round">
	<li><%= link_to 'New Brand', new_admin_brand_path, class: "small success button" %></li>
</ul>
<% end %>

<ul class="list">
<% @brands.order(Arel.sql("UPPER(name)")).each do |brand| %>
  <% if brand.live_on_this_platform? %>
    <li><%= link_to brand.name, [:admin, brand] %></li>
  <% end %>
<% end %>
</ul>

<h6><i>Brands not active on this platform</i></h6>
<ul class="list">
<% @brands.order(Arel.sql("UPPER(name)")).each do |brand| %>
  <% if !brand.live_on_this_platform? %>
    <li><%= link_to brand.name, [:admin, brand] %></li>
  <% end %>
<% end %>
</ul>
