<% 
# "current_products_for_toolkit" is one level deep
# "toolkit_products" recurses down child families
	level ||= 0
	products = (level > 0) ? product_family.current_products_for_toolkit : product_family.toolkit_products
%>

<table style="width: 100%">
	<thead>
	<tr>
		<th width="33%" colspan="2">Product</th>
		<th width="66%">Product Type</th>
	</tr>
	</thead>
	<tbody>
	<% products.each do |product| %>
		<%= render "product_row", product: product %>
	<% end %>
	</tbody>
</table>