<h1>Admin Dashboard</h1>

<% if !@msg.blank? %>
   <div class="alert"><%= @msg %></div>
<% end %>

<% if Rails.env.development? %>
<p>test link to local employee store: <%= link_to "http://localhost:3001/", "http://localhost:3001/" %></p>
<% end %>


<br/>
<span class="small">
	Hint: anywhere you see the drag icon (<%= image_tag("drag_handle.gif", style: "vertical-align: middle;") %>)
	you can drag and drop those items to change the order they appear on the site.
</span>