<h1>Admin Dashboard</h1>

<% if !@msg.blank? %>
   <div class="alert"><%= @msg %></div>
<% end %>

<% if Rails.env.development? %>
<p>test link to local employee store: <%= link_to "http://localhost:3001/", "http://localhost:3001/" %></p>
<% end %>

<p>You may have noticed a slightly different look to the admin site. All the menu items you're used
	to seeing on the left are now up there ^^ on the top. This is part of an effort to get 
	all of the sites using the same front-end platform. It is a work-in-progress, though, so
	you'll see changes rolling out gradually.</p>

<p>Let me know if you have any questions.</p>

<p>--Adam</p>

<br/>
<span class="small">
	Hint: anywhere you see the drag icon (<%= image_tag("icons/drag_handle.gif", style: "vertical-align: middle;") %>)
	you can drag and drop those items to change the order they appear on the site.
</span>