<ul class="button-group round">
    <li><%= link_to 'Websites List', admin_vip_websites_path, class: "small button round" %>	</li>
    <li><%= link_to 'Delete', admin_vip_website_path(@vip_website), confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>
<h1>Edit AMX VIP Website</h1>

<%= render "form" %>