<h1>AMX VIP Websites</h1>

<ul class="button-group round">
	<li><%= link_to 'Programmers List', admin_vip_programmers_path, class: "small button round" %>	</li>
	<li><%= link_to 'New AMX VIP website', new_admin_vip_website_path, class: "small success button" %></li>
</ul>

<table class="data">
  <tr>
  	<th></th>
    <th>Url</th>
  </tr>

<% @vip_websites.each do |website| %>
  <tr style="vertical-align:text-bottom;">
    <td><%= link_to 'Edit', edit_admin_vip_website_path(website), class: "small round button" %></td>
    <td><%= website.url %></td>
  </tr>
<% end %>
</table>