<h1>Editing artist</h1>

<%= form_for([:admin, @artist], html: {multipart: true}) do |f| %>
  <%= render "form", f: f %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to "Reset Password", reset_password_admin_artist_path(@artist), confirm: "Are you sure you want to reset this artist's password?", method: :post %>