
<!-- Global Regions -->
<ul class="button-group round">
	<!--<li><%#= link_to 'All Regions', vip_programmers_path(request.query_parameters.except("region")), class: "tiny button round #{'success' if @region.nil? }" %></li>-->
	<% @all_global_regions.each do |region|%>
		<li><%= link_to region.name, vip_programmers_path(request.query_parameters.merge({ region: region.name })), class: "tiny button round #{'success' if @region == region.name }" %></li>
	<% end %>
</ul>