<ul class="button-group round">
    <li><%= link_to 'Emails List', admin_vip_emails_path, class: "small button round" %>	</li>
    <li><%= link_to 'Delete', admin_vip_email_path(@vip_email), confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>
<h1>Edit AMX VIP Email</h1>

<%= render "form" %>