(function(){
	var $emails_dropdown = $('#vip_programmer_email_vip_email_id');

	// clear the email list before we rebuild it
	$emails_dropdown.empty();
	
	// rebuild email dropdown list
	$emails_dropdown.append($("<option></option>"));		
	<% Vip::Email.not_associated_with_this_programmer(@vip_programmer_email.programmer).each do |email| %>
		$emails_dropdown.append($("<option value='<%=email.id%>'><%=email.email%></option>"));
	<% end %>
	
	// let chosen know the email dropdown list has been updated
	$emails_dropdown.trigger('chosen:updated');
})();