<%
meta title: "What's On",
description: "What's On",
keywords: %w(soundcraft harman audio mixer mixing consoles),
reverse: true
#canonical: news_url()
%>
<div class="header_bc">
<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
	<li class="unavailable"  aria-disabled="true">>></li>
    <li role="menuitem"><a href="#">Home</a></li>
    <li role="menuitem" class="current"><a href="#">What's on</a></li>
</nav>
</div>
<div class="row">
<div class="small-12 columns" >
	<br>
<br>
<br>
	
WHat's ON

<%= zoom_image_tag("/good-food.jpg", :id => "my_image")  %>
<br>
<br>
<a href="/en/mwp_calendar.png" data-lightbox="test">Image #2</a>
	<a href="/en/mwp_logo.png" data-lightbox="test">Image #3</a>
	<a href="/en/mwp_training.png" data-lightbox="test">Image #4</a>
<br>
<br>
<br>
<br>

<a href="#" data-reveal-id="videoModal" class="radius button">Example Modal w/Video</a>
<div id="videoModal" class="reveal-modal tiny" data-reveal>
  <h2>This modal has video</h2>
  <div class="flex-video" width="400">
    <iframe width="600" height="400" src="http://www.youtube.com/embed/wnXCopXXblE" frameborder="1" allowfullscreen="" ></iframe>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>



	<br>
<br>
<br>
<br>
	
</div>
</div>
