<h1>Support</h1>

<div class="row">
  <div class="small-12 medium-5 columns">
    <p>You are logged in for support resources. Product pages have links for parts
    and technical documentation.</p>

    <p><%= link_to "Perform a parts search", parts_path %></p>
  </div>
</div>
