<h1>Listing Service Centers</h1>

<% if !website.service_centers_from_brand_id.blank? %>
	Note: <%= website.brand_name %> is configured to use the service centers from 
	<%= Brand.find(website.service_centers_from_brand_id).name %>. Please manage
	the service centers on its website instead of this one.
<% else %>

<% if can? :create, ServiceCenter %>
<ul class="button-group round">
	<li><%= link_to 'New Service Center', new_admin_service_center_path, class: "small success button" %></li>
</ul>
<% end %>

<ul class="list">
<% @service_centers.each do |service_center| %>
    <li><%= link_to service_center.name, [:admin, service_center] %></li>
<% end %>
</ul>

<% end %>

