<h1>Label Sheets</h1>

<% if can? :create, LabelSheet %>
<ul class="button-group round">
	<li><%= link_to 'New label sheet', new_admin_label_sheet_path, class: "small success button" %></li>
</ul>
<% end %>

<ul id="label_sheets" class="list">
	<% @label_sheets.each do |label_sheet| %>
	<li id="label_sheet_<%= label_sheet.id %>"><%= link_to label_sheet.name, [:admin, label_sheet] %></li>
	<% end %>
</ul>

