---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1.6/geocode?api_key=secret_api_key&fields=zip4&q=54%20West%20Colorado%20Boulevard%20Pasadena%20CA%2091105
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Billable-Lookups-Count:
      - '1'
      X-Billable-Fields-Count:
      - '1'
      Request-Handler:
      - api105
      X-Ratelimit-Remaining:
      - '998'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Period:
      - '60'
    body:
      encoding: UTF-8
      string: '{"input":{"address_components":{"number":"54","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","state":"CA","zip":"91105","country":"US"},"formatted_address":"54
        W Colorado Blvd, Pasadena, CA 91105"},"results":[{"address_components":{"number":"54","predirectional":"W","street":"Colorado","suffix":"Blvd","formatted_street":"W
        Colorado Blvd","city":"Pasadena","county":"Los Angeles County","state":"CA","zip":"91105","country":"US"},"formatted_address":"54
        W Colorado Blvd, Pasadena, CA 91105","location":{"lat":34.145375,"lng":-118.151622},"accuracy":1,"accuracy_type":"rooftop","source":"Los
        Angeles","fields":{"zip4":{"record_type":{"code":"S","description":"Street"},"carrier_route":{"id":"C014","description":"City
        Delivery"},"building_or_firm_name":null,"plus4":["1923"],"zip9":["91105-1923"],"government_building":null,"facility_code":{"code":"P","description":"Post
        Office"},"city_delivery":true,"valid_delivery_area":true,"exact_match":true}}},{"address_components":{"number":"54","predirectional":"E","street":"Colorado","suffix":"Blvd","formatted_street":"E
        Colorado Blvd","city":"Pasadena","county":"Los Angeles County","state":"CA","zip":"91105","country":"US"},"formatted_address":"54
        E Colorado Blvd, Pasadena, CA 91105","location":{"lat":34.145499,"lng":-118.14932},"accuracy":0.8,"accuracy_type":"rooftop","source":"Los
        Angeles","fields":{"zip4":{"record_type":{"code":"S","description":"Street"},"carrier_route":{"id":"C017","description":"City
        Delivery"},"building_or_firm_name":null,"plus4":["1902"],"zip9":["91105-1902"],"government_building":null,"facility_code":{"code":"P","description":"Post
        Office"},"city_delivery":true,"valid_delivery_area":true,"exact_match":true}}}]}'
  recorded_at: Fri, 22 Jan 2021 15:12:12 GMT
recorded_with: VCR 6.0.0
