<h3><%= link_to t('artists').ucfirst, artists_path %></h3>

<% website.artists.where(featured: true).find_each.sort_by(&:position)[0,3].each do |artist| %>
	<%= render_partial "artists/artist", artist: artist %>
<% end %>
