<div class="row collapse">
  <div class="large-12 columns text-center">
    <div class="quotebox">
      <ul data-orbit data-options="slide_number:false; pause_on_hover:false; navigation_arrows:false;">
        <% @news.each do |news| %>
          <li>
            <h3><%= link_to truncate(translate_content(news, :title), length: 100), news %></h3>
            <h4 class="subheader"><%=l news.post_on, format: :short %></h4>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
