<div style="padding-left: 20px;">
<h2 style="text-align: center"><%= social_media_links 'facebook' %> 
<%= link_to t('titles.facebook_page', brand: website.brand_name), website.facebook, target: "_blank" %></h2>
<div class="fb-like-box" data-href="<%= website.facebook %>" data-width="300" data-colorscheme="dark" data-show-faces="true" data-border-color="#222" data-stream="true" data-header="false"></div>
</div>
