<div class="panel">
  <div class="overline"></div>
  <h4>Consultant Resources</h4>

  <p>A library for professional A/V consultants to quickly and
  easily find project resources for HARMAN Professional
  brands</p>

  <%= link_to "Consultant Portal", "#{ENV['PRO_SITE_URL']}/consultants", target: "_blank", class: "small radius button" %>
</div>
