<div class="panel">
  <div class="overline"></div>
  <h4>Harman Equipment Financing</h4>

  <p>Our flexible finance programs and
  unbeatable rates make it easy for you
  to get the equipment you really
  want and need.</p>

  <%= link_to "Learn More", "https://www.harmanequipmentfinance.com/", target: "_blank", class: "small radius button" %>
</div>
