<%= cache ["highlights_strip", website.brand, I18n.locale] do %>
  <div class="homepage_block ">
    <ul class="medium-block-grid-<%= @features.length %> small-block-grid-1">
      <% @features.each do |feature| %>
        <li> <%= feature_button(feature, carousel: false) %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
