<% if website.show_locales? %>
	<div id="locale_switcher">
		<%= link_to '#', id: "locale_menu" do %>
			<%= t('language_region') %>
			<%= image_tag 'arrow_down.png', alt: '>' %>
		<% end %>
		<div id="locale_selections"> 
			<% website.available_locales.reject{|l| l.locale.to_s == I18n.locale.to_s}.each do |website_locale| %>
				<%= link_to website_locale.name, switch_locale(website_locale.locale) %>
			<% end %>
		</div>
	</div>
<% end %>