<% if item.respond_to?(:other_locales_with_translations)  %>
  <%
      translations = item.other_locales_with_translations(website)

      # cleanup translations based on session
      if !(session[:geo_us]) # we're not in the US
        translations.delete("en-US")
      elsif !!(session[:geo_us])
        translations.delete("en")
      end

      # Remove a language if it matches or locale (stripping country)
      current_language = I18n.locale.to_s.split("-").first
      translations.delete(current_language)
  %>

  <% if translations.length > 0 %>
    <button href="#" class="button dropdown" data-dropdown="other-languages" aria-controls="other-languages" aria-expanded="false"><%= t(:view_this_page_in_another_language) %></button>
    <ul id="other-languages" data-dropdown-content class="f-dropdown" aria-hidden="true">
      <% translations.each do |translated_locale| %>
        <li><%= link_to language_name_lookup(translated_locale), url_for(request.params.merge(locale: translated_locale)) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
