<% if website.brand.offers_rentals? %>
  <div class="panel">
    <div class="overline"></div>
    <h4 class="">Live Sound Equipment</h4>

    <p>For easy access to live sound products,
    visit the HARMAN Professional Global Alliance
    Program to find where to buy or rent HARMAN
    Pro gear.</p>

    <%= link_to "Learn More", "https://www.harmanproalliance.com", target: "_blank", class: "small radius button" %>
  </div>
<% end %>
