<%# 2023-04-28 The below was commented out because the rental site domain is no longer owned by Harman %>
<%# Leaving the partial here in case we decide to repurpose it in the future. %>
<% if website.brand.offers_rentals? %>
  <!--
  <div class="panel">
    <div class="overline"></div>
    <h4 class="">Live Sound Equipment</h4>

    <p>For easy access to live sound products,
    visit the HARMAN Professional Global Alliance
    Program to find where to buy or rent HARMAN
    Pro gear.</p>

    <%#= link_to "Learn More", "", target: "_blank", class: "small radius button" %>
  </div>
  -->
<% end %>
