<%= cache ["social_strip", website.brand, I18n.locale] do %>
  <div class="homepage_block white_strip">
    <h2 class="text-center"><%= t('titles.connect_with_us') %></h2>
    <div class="social text-center">
      <%= social_media_links 'twitter',
        'facebook',
        'youtube',
        'youku',
        'google+',
        'instagram',
        'linkedin',
        'wechat',
        'weibo',
        'tmall',
        style: 'circle',
        size: '64x64' %>
    </div>

    <% if website.email_signup_url %>
      <div class="row" style="margin-top: 40px">
        <div class="medium-4 medium-offset-4 small-12 columns">
          <%= render_partial 'shared/newsletter_signup' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
