<%= cache ["social_strip", website.brand, I18n.locale] do %>
  <div class="homepage_block white_strip">
    <h2 class="text-center"><%= t('titles.connect_with_us') %></h2>
    <div class="social text-center">
			<%= social_media_links 'twitter', 'facebook', 'youtube', 'youku', 'google+', 'instagram', 'linkedin', 'wechat', 'weibo', style: 'circle', size: '64x64' %>
    </div>

    <% if website.email_signup_url %>
    <div class="row">
      <div class="large-8 large-offset-2 columns">
        <div class="row" style="margin-top: 40px">
          <div class="large-6 large-offset-3 columns">
            <%= render_partial 'shared/newsletter_signup' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
