<% if website.solutions.length > 0 %>
<li class="has-dropdown"><%= link_to 'Solutions', {}, class: "disabled" %>
  <ul class="dropdown">
    <% website.solutions.order("name").each do |solution| %>
      <li><%= link_to solution.name, solution %></li>
    <% end %>
  </ul>
</li>
<% end %>
