<div id="videoModal" class="reveal-modal" data-reveal aria-labelledby="Video" aria-hidden="true" role="dialog">
  <p>&nbsp;</p>
  <div class="flex-video youtube widescreen">
    <p>&nbsp;</p>
    <iframe name="videoIFrame" id="videoIFrame" src="" data-src="" frameborder="0" allowfullscreen></iframe>
  </div>
  <a class="close-reveal-modal close-video" aria-label="Close">&#215;</a>
</div>
