<div class="panel">
  <div class="overline"></div>
  <h4>Vertec/VTX Owners Signup</h4>

  <p>bla bla bla. signup here for this thing.</p>

  <%= link_to "Sign Up", "/vtx-vertec-owner-sign-up", target: "_blank", class: "small radius button" %>
</div>
