<% set_meta_tags :title => t('professionals').capitalize,
				 :description => t('meta.description.featured_artists', :brand => website.brand_name),
				 :keywords => (@featured_artists).collect{|a| a.name}.join(", "),
				 :reverse => true %>

<div id="featured_artist_box">
	<%= artist_slideshow(:slides => @featured_artists, :transition => 'toggle', :size => "960x408") %>
</div>

<div id="artist_landing_page">
<% @artist_tiers.each do |artist_tier| %>
<% if artist_tier.artists_for(website).size > 0 %>
	<!-- <h3><%= artist_tier.name.pluralize %></h3> -->
	<% artist_tier.artists_for(website).shuffle[0,3].each do |artist| %>
	  	<%= render_partial "artist", :artist => artist %>
	<% end %>
	<div class="clear"></div>
<% end %>
<% end %>
</div>

<p style="text-align: right"><b><%= link_to "> all #{website.brand.name.downcase} #{t('professionals')}", all_artists_path %></b></p>
