<h1>Request Submitted</h1>

<p>Thanks. Your price request has been submitted. We'll be in touch soon.</p>

<p>Visit the details of your price request on your <%= link_to "profile page", profile_path %>.</p>
