<div class="panel">
	<h4>U.S. Government</h4>
	<ul>
		<li><a href="/en-US/amx-us-government-purchases">U.S. Government Purchases</a></li>
		<li><a href="/en-US/GSA">GSA</a></li>
		<li><a href="/en-US/DISA-JITC">DISA/JITC</a></li>
		<li><a href="/en-US/508-compliance">508 Compliance</a></li>
		<li><a href="/en-US//certificate-of-volatility">Certificate of Volatility</a></li>
		<li><a href="/en-US/government-expedited-order-process">Expedited Order Process</a></li>
	</ul>
</div>