<div class="panel">
	<h4>U.S. Government</h4>
	<ul>
		<li><a href="/en-US/amx-us-government-purchases">U.S. Government Purchases</a></li>
		<li><a href="/en-US/GSA">GSA</a></li>
		<li><a href="/en-US/DISA-JITC">DISA/JITC</a></li>
		<li><a href="/en-US/508-compliance">508 Compliance</a></li>
		<li><a href="/en-US//certificate-of-volatility">Certificate of Volatility</a></li>
		<li><a href="/en-US/certificate-of-networthiness">Certificate of Networthiness</a></li>
		<li><a href="/en-US/government-expedited-order-process">Expedited Order Process</a></li>
	</ul>
</div>
<div class="panel">
	<h4>NY OGS</h4>
	<ul>
		<li><a href="/en-US/ny-ogs">NY OGS</a></li>
		<li><a href="/en-US/ny-ogs-buying-options">NY OGS Buying Options</a></li>
	</ul>
</div>