<div class="large-8 columns" data-equalizer="support-selector-box">
		<h1><%= t('titles.support') %></h1>
					<ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1">
	          <li>
								<a href="/support/tech_support">
	                <div class="panel" data-equalizer-watch="support-selector-box">
										<h3>Technical Support</h3>
	                </div>
            		</a>
	            </li>
            <li>
            	<a href="/support/rma">
                <div class="panel" data-equalizer-watch="support-selector-box">
									<h3>Repair</h3>
                </div>
              </a>
            </li>
            <li>
            	<a href="/support/parts">
                <div class="panel" data-equalizer-watch="support-selector-box">
									<h3>Spare Parts</h3>
                </div>
              </a>
            </li>
            <li>
            	<a href="https://prodealerportal.harman.com" target="_blank">
                <div class="panel" data-equalizer-watch="support-selector-box">
									<h3>Harman Accounts</h3>
                </div>
              </a>
            </li>            
          </ul>
	</div>