<% set_meta_tags title: t('titles.support'),
				 description: t('meta.description.support', brand: website.brand_name),
				 reverse: true %>

<div class="row">

	<%=render_partial "support/support_left_side_bar"%>
	
	<%=render_partial "support/support_index_new"%>
	<%#=render_partial "support/support_index_old"%>
</div>

<%=render_partial "shared/support_chat_javascript"%>
