<div class="clearfix" id="page" >
	
<!--  #product 1 -->
<div class="feature_product_1 row fullWidth">
  <div id="pf1" class="small-12 medium-6 large-6 columns">
    	<img  id="pf1_img" src="/images/test/product_vi6.jpg" alt="" height="100%" width="100%" />
  </div>
  <div id="pf1_txt" class="small-12 medium-6 large-6 columns">
    	<h1>Soundcraft Vi6</h1>
sdd
sd<br>
d<br><a href="#" class="button radius">info</a>

  </div>
</div>
<!--  END --> 

<!--  #product 2 -->   
<div class="feature_product_2 row fullWidth">
  <div id="pf2" class="small-12 medium-6 large-6 columns">
		<img  id="pf2_img" src="/images/test/product_sip.jpg" alt="" height="100%" width="100%"  />
  </div>
  <div id="pf2_txt" class="small-12 medium-6 large-6 columns">
    	<h1>Soundcraft Si Performer</h1>
    	firmly esta<br><a href="#" class="button radius">info</a>

  </div>
</div>
<!--  END --> 

</div>
