
<div class="row collapse">
	<div class="small-12 medium-6 columns bg_transparent">
	<a href="/videos/15"><img src="<%= s3_homepage_path %>homepage_how_to.jpg" class="fade" alt="How-To Videos" /></a>
	
	</div>	

	<div class="small-6 medium-3 columns bg_transparent">
	<a href="/news"><img src="<%= s3_homepage_path %>homepage_latest_news.jpg" class="fade" alt="Latest News" /></a>
	</div>	

	<div class="small-6 medium-3 small-text-center columns visit_us">
<h4>visit us at</h4>	
<a href="http://wfxweb.com/2015/" target="_blank" class="button radius">
	<h3>WFX 2015</h3>Music City Center, Nashville<br/><br/>November, 11-12</a>
	
	</div>

</div>	