<table style="width: 650px; margin-left:">
	<% @playlists.each do |playlist| %>
    <tr>
      <th colspan="2">
        <h2 style="color:#222"><%= playlist['snippet']['title'] %></h2>
      </th>
    </tr>
    <%= cache ["playlist_feed", playlist['id']] do %>
      <% Youtube.get_video_list_data(playlist["id"], limit: 50)["items"].each do |v| %>
        <%= render_partial "videos/video", video: v %>
      <% end %>
    <% end %>
	<% end %>
</table>

<% if @youtube_user.present? %>
<div style="position: absolute; top: 24px; right: 6px; width: 265px; text-align: center;">
	<p><%= link_to(image_tag("icons/circle/128x128/youtube.png", alt: "YouTube"), "https://www.youtube.com/#{@youtube_user}", target: "_blank") %></p>
  <p>Visit our channel on Youtube</p>
</div>
<% end %>
