<%= content_for :title do %>Connect with <%= website.brand.name %><% end %>

<h1 class="text-center">Connect with <%= website.brand.name %></h1>
<p class="text-center">Tell us about your project. Complete the form below to connect with us.</p>
<div class="row">
  <div class="small-12 medium-12 large-8 large-offset-2 columns">
    <%= render 'form' %>
  </div>
</div>
