<% if @product_family.title.present? %>
  <h1><%= translate_content(@product_family, :title) %></h1>
<% else %>
  <h1><%= translate_content(@product_family, :name) %></h1>
<% end %>


<div class="product-family-banner-container text-center">
  <%= image_tag @product_family.title_banner.url, alt: @product_family.name, style: "width: 100%" %>
</div>
