<ul class="button-group round">
    <li><%= link_to 'AMX DXLink Attribute Names List', admin_amx_dxlink_attribute_names_path, class: "small button round" %></li>
</ul>

<h3>New AMX DXLink Attribute Name</h3>

<%= render "form" %>
