<h1>Listing Systems</h1>

<%= link_to 'New System', new_admin_system_path, class: "small round success button" %>

<ul class="list">
<% @systems.each do |system| %>
  <li><%= link_to system.name, [:admin, system] %></li>
<% end %>
</ul>

