(function(){
	var $products_dropdown = $('#product_site_element_product_id');

	// clear the product list before we rebuild it
	$products_dropdown.empty();
	
	// rebuild product dropdown list
	$products_dropdown.append($("<option></option>"));		

	<% Product.not_associated_with_this_site_element(@product_site_element.site_element, website).each do |product| %>
		$products_dropdown.append($("<option value='<%=product.id%>'><%=escape_javascript(product.name.strip)%></option>"));
	<% end %>
	
	// let chosen know the product dropdown list has been updated
	$products_dropdown.trigger('chosen:updated');
})();
