<h2>AMX InConcert Partners</h2>
<div style="margin-bottom:30px;padding-bottom:77px;"><img align="left" hspace="10" vspace="3" src="/resource/logo_amx-inconcert-partners.png">InConcert is a partnership program between AMX and key 3rd-party manufacturers dedicated to saving you, the dealer, time and effort controlling AV components using an AMX system. AMX is continuously evaluating new equipment from every major manufacturer and creating the proper programming modules for these devices to make every installation as quick and easy as possible.</div>

    <div class="row">
        <div class="large-12 large-offset-0 medium-8 medium-offset-2 columns" data-equalizer="brands">
            <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1">

                <% @partners.each do |partner| %>
                <li>
                    <%= link_to partner.url, target:"_blank" do %>
                        <div class="panel text-center" data-equalizer-watch="brands" style="background:transparent;">
                            <div class="brand-logo">
                                <% if partner.present? || ENV['show_placeholders'] == "true" %>
                                    <p>
                                        <%= image_tag partner.site_element.resource.url(:original), alt: partner.name, title: partner.name %><br />
                                        <%= link_to(partner.name, partner.url, target:"_blank", title: partner.name) %>
                                    </p>
                                    <%if partner.amx_device_discovery %>
                                        <div><%= image_tag "/resource/logo_amx-inconcert-partners.png", size:"40x35", alt: "Has AMX Device Discovery", title: "Has AMX Device Discovery" %></div>
                                    <%end%>
                                <% end %>
                            </div>
                        </div>
                    <% end %>                    
                </li>
                <% end # @partners.each do |partner|%>
            </ul><!-- <ul class="large-block-grid-3 medium-block-grid-3 small-block-grid-1"> -->
        </div><!-- <div class="large-8 large-offset-2 medium-8 medium-offset-2 columns" data-equalizer="brands"> -->
    </div><!-- <div class="row"> -->