<li>
  <div class="text-center">
    <%= link_to news do %>
      <%= translate_image_tag(news, :news_photo, size: :medium_square, alt: :title, lazy: false) %>
    <% end %>
  </div>
  <div class="news-summary">
    <p><%= link_to translate_content(news, :title), news_path(news, locale: I18n.locale) %></p>
    <small><%=l news.post_on, format: :long %></small>
  </div>
</li>
