<div class="row">
  <div class="large-2 hide-for-small columns">
    <% if news.news_photo_file_name.present? %>
      <%= link_to image_tag(news.news_photo.url(:tiny_square)), news %>
    <% end %>
  </div>
  <div class="large-8 end columns">
    <b><%=l news.post_on.to_date, format: :long %></b><br/>
    <%= link_to translate_content(news, :title), news %>
  </div>
</div>
<div class="row">
  <div class="large-10 columns">
    <hr/>
  </div>
</div>
