<li>
  <% if news.news_photo.present? %>
    <div class="text-center">
      <%= link_to(image_tag(news.news_photo.url(:small_square)), news) %>
    </div>
  <% end %>
  <small><%=l news.post_on, format: :long %></small>
  <p><%= link_to translate_content(news, :title), news_path(news, locale: I18n.locale) %></p>
</li>
