<style>
.main {
  counter-reset: main-counter;
  list-style: decimal;
}

.main > li {
  counter-increment: main-counter;
}
.sub {
  counter-reset: sub-counter;
  list-style:none;
}

.sub-alpha {
  counter-reset: sub-counter;
  list-style: lower-alpha;
  margin-top:1rem;
  margin-left:3rem;
}

.sub > li {
  counter-increment: sub-counter;
  margin-bottom: 0.5em;
  align-items: baseline;
}

.sub > li:before {
  content: counter(main-counter) "." counter(sub-counter) " ";
}

</style>
<p>&nbsp;</p>

<ol class="main">
  <li><span class="list-heading">APPLICATION</span>
    <ol class="sub">
      <li>&nbsp;This Warranty Policy sets forth the standard warranty terms applicable to the AMX branded Product(s) purchased from Harman International Industries Incorporated or its Affiliate (“Seller”), as indicated by the Confirmation or invoice.</li>
      <li>&nbsp;This Warranty Policy is intended to supplement the applicable Terms and Conditions of Sale.</li>
      <li>&nbsp;Unless the context otherwise requires, capitalized words and expressions contained in this Warranty Policy shall have the meaning as given in the applicable Terms and Conditions of Sale.</li>
    </ol>
  </li>
  <li><span class="list-heading">WARRANTY TERMS</span>
    <ol class="sub">
      <li>&nbsp;Subject to the terms of this Warranty Policy, Seller warrants as follows:</li>
      <li>&nbsp;AMX Finished Products will be free of material defects in materials and workmanship under normal use for three (3) years from the date of purchase, with the exception of

      <ol class="sub-alpha">
        <li>LCD and LED panels are warranted for three (3) years from the date of purchase, except for the display and touch overlay components, which are warranted for a period of one (1) year from the date of purchase;</li>
        <li>Varia touch panels are warranted for three (3) years from the date of purchase on the entire device including display &amp; touch overlay components;</li>
        <li>Disk drive mechanisms, pan/tilt heads and external power supplies are warranted for a period of one (1) year from the date of purchase;</li>
        <li>AMX lighting Products are warranted to switch on and off any load that is properly connected to our lighting Products, as long as the AMX lighting Products are under warranty. AMX also warrants the control of dimmable loads that are properly connected to our lighting Products. The dimming performance or quality thereof is not warranted, due to the random combinations of dimmers, lamps and ballasts or transformers;</li>
        <li>AMX software and firmware included in the Products is warranted for a period of ninety (90) days from the date of purchase;</li>
        <li>Batteries and incandescent lamps are not covered under the Limited Warranty;</li>
        <li>The Warranty Period for AMX EPICA, Enova DGX (DGX Enclosure and respective IO boards only), Modula, Modula Series 4, Modula Cat Pro Series and 8Y-3000 Product models will continue for the original installation until five (5) years after the product number has been discontinued. However, if the Product is moved from its original installation to a different installation, the Warranty Period will automatically become three (3) years from the date of purchase and, if more than three (3) years have elapsed since the date of purchase, the Warranty Period will automatically expire.</li>
        <li>Used Products (B-stock) certified as such by Seller prior to Sale of such Used Products, are warranty for one (1) year from the date of purchase. No warranty will apply to Used Products which are not certified by Seller prior to Sale of such Used Products.</li>
      </ol>

    </ol>
  </li>

  <li><span class="list-heading">WARRANTY CLAIMS</span>
      <ol class="sub">
        <li>&nbsp;If this product has a defect covered by this warranty, Seller will, at its sole option, either:
          <ol class="sub-alpha">
            <li>repair this product at no charge to you, using new or refurbished replacement parts,</li>
            <li>exchange this product with a product that is new or which has been manufactured from new or serviceable used parts and is at least functionally equivalent to this product, or</li>
            <li>refund the purchase price of the product.</li>
          </ol>
        </li>
        <li>&nbsp;Any replaced or refunded parts or products shall become the Seller’s property, and, by submitting any product for warranty service, the Buyer represents and warrants that they are the sole owner of such product, and that it is not subject to any liens or encumbrances.</li>
      </ol>
  </li>

  <li><span class="list-heading">EXCLUSIONS AND LIMITATIONS</span>
    <ol class="sub">
      <li>&nbsp;The Limited Warranty does not apply to Finished Products or spare parts from which any serial number has been altered, defaced or removed or which have been damaged or rendered defective
      <ol class="sub-alpha">
        <li>as a result of being modified, altered or repaired by an unauthorized agent or improperly transported, stored, installed, used or maintained,</li>
        <li>damage caused by acts of nature, including flood, erosion or earthquake or</li>
        <li>damage caused by a sustained low or high voltage or by a low or high voltage disturbance, including brownouts, sags, spikes or power outages.</li>
      </ol>
      </li>
      <li>&nbsp;Where the Finished Products contain certain hardware and firmware components obtained from third-party suppliers (“Third Party Components”). The Limited Warranty does not apply to the Third-Party Components, except that:
      <ol class="sub-alpha">
        <li>To the extent permitted by Seller’s contracts with the suppliers of the Third-Party Components, Seller shall pass through to Buyer all warranties such suppliers make to Seller regarding the operation of the Third Party Components; and</li>
        <li>Seller warrants that, during the Warranty Period, all Seller-developed components of the Products will interface and function properly with the Third Party Components so long as the Third Party Components operate as warranted by the third-party supplier.</li>
      </ol>
      </li>
      <li>&nbsp;OTHER THAN THE LIMITED WARRANTY EXPRESSLY SET FORTH HEREIN, SELLER MAKES NO OTHER WARRANTIES, EXPRESS, IMPLIED, WRITTEN, ORAL OR STATUTORY, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE AND ANY WARRANTIES OTHERWISE ARISING FROM A COURSE OF DEALING, COURSE OF PERFORMANCE OR USAGE OF TRADE. SELLER RESERVES THE RIGHT TO MODIFY OR DISCONTINUE DESIGNS, SPECIFICATIONS, WARRANTIES, PRICES, AND POLICIES WITHOUT NOTICE.</li>
    </ol>
  </li>

  <li><span class="list-heading">OBTAINING WARRANTY SERVICE</span>
    <ol class="sub">
      <li>&nbsp;For any warranty claim by the Buyer based on any defect in Finished Products or spare parts, the Buyer shall contact the Seller directly to request warranty service. Customers outside the United States should contact their local distributor for warranty information.</li>
      <li>&nbsp;All Products returned for service require a return material authorization (“RMA”) number. The RMA number should be requested from the Customer Service department. The RMA number must be clearly marked on the outside of each box containing Product to be returned. The RMA is valid until thirty (30) days after issuance, at which time the RMA will be cancelled. Any shipments received that are not consistent with the RMA, or after the RMA has been cancelled, will be refused. Seller is not responsible for Products returned without a valid RMA number.</li>
      <li>&nbsp;Subject to the terms, conditions and limitations set forth herein, Seller will, at no cost to Buyer, repair any material Product defect due to materials or workmanship issues reported during the applicable Warranty Period.
      <ol class="sub-alpha">
        <li>Buyer is responsible for inbound freight and Seller is responsible for outbound ground freight expenses.</li>
        <li>The Warranty Period for Products repaired will be ninety (90) days from Shipping Date or the balance of the original Product’s Warranty Period, whichever is greater.</li>
        <li>Products that are returned and exhibit signs of damage or unauthorized use will have their warranty invalidated.</li>
      </ol>
      </li>
    </ol>
  </li>

  <li><span class="list-heading">SOFTWARE LICENSE</span>
    <ol class="sub">
      <li>Subject to the terms of this Agreement (including any restrictions set forth in the Registration), Seller hereby grants Dealer a non-exclusive, non-transferable license, within the territory specified in the Registration (or worldwide if none is specified), to use the Licensed Software, in object code form only, solely for purposes of demonstrating and marketing Products to potential purchasers and for providing Product support to End Users of the Products. “Licensed Software” means all software provided by Seller hereunder (including software and firmware embedded in the Products and custom software, including the encoding of graphical images for specific Solutions), including any subsequent modifications, enhancements, improvements or updates provided hereunder.</li>
      <li>Subject to the terms of this Agreement (including any restrictions set forth in the Registration), Seller hereby grants Dealer a non-exclusive, non-transferable license, within the territory specified in the Registration (or worldwide if none is specified), to grant sublicenses to End Users to use the Licensed Software, in object code form only, solely as necessary to operate and use of the applicable Product with which the Licensed Software is provided (“End User Licenses”). Each End User License will be in writing and will, at a minimum, provide that:
      <ol class="sub-alpha">
        <li>The Licensed Software is licensed, not sold. Seller and its suppliers retain all copyrights and other intellectual property rights in and to the Licensed Software. End User may not create derivative works of the Licensed Software.</li>
        <li>End User shall not, and shall not permit any third party to, disclose, display, loan, publish, transfer (whether by sale, assignment, exchange, gift, operation of law or otherwise), license, sublicense or otherwise disseminate the Licensed Software. End User shall not reverse engineer, decompile, or disassemble the Licensed Software.</li>
        <li>End User may not make copies of the Licensed Software other than as reasonably required for backup or archival purposes.</li>
        <li>The Licensed Software is provided with RESTRICTED RIGHTS. Use, duplication, or disclosure by the government is subject to restrictions as set forth in subparagraph (c)(1)(ii) of The Rights in Technical Data and Computer Software clause at DFARS 252.227-7013 or subparagraphs (c)(1) and (2) of the Commercial Computer Software Restricted Rights at 48 CFR 52.227-19, as applicable.</li>
      </ol>
      </li>
      <li>If Dealer is designated a Distributor in the Registration, then subject to the terms of this Agreement (including any restrictions set forth in the Registration), Seller hereby grants Distributor a non-exclusive, non-transferable license, within the territory specified in the Registration (or worldwide if none is specified), to grant sublicenses to its dealers to use the Licensed Software, in object code form only, solely for purposes of demonstrating and marketing Products to potential purchasers and providing Product support to End Users.</li>
      <li>Dealer will comply with the restrictions set forth in this Section and, if designated a Distributor in the Registration, will cause its dealers to comply with these restrictions.
      <ol class="sub-alpha">
        <li>The Licensed Software will be used only by Dealer and only for the purposes expressly set forth in this Agreement. Dealer shall provide access to the Product solely to those of its full time employees or sub-contractors who require such access for the purposes set forth in this Agreement, so long as Dealer advises each such employee or sub-contractor of the confidentiality and other obligations set forth in this Agreement. Notwithstanding the foregoing, Dealer will remain liable to Seller for any failure to comply with this Agreement by its employees or sub-contractors.</li>
        <li>Except as may be necessary in connection with its use of the Product for the purposes set forth herein, Dealer shall not, and shall not permit any other person to, disclose, display, loan, publish, transfer (whether by sale, assignment, exchange, gift, operation of law or otherwise), license, sublicense, copy or otherwise disseminate the Licensed Software, in whole or in part, to any third party. Dealer shall not, and shall not permit any other person to, disassemble, decompile, reverse engineer or otherwise attempt to access or recreate the source code of any Licensed Software.</li>
        <li>Dealer shall not alter, conceal or remove any notices regarding patents, patent applications, trademarks or copyrights, or any other legal notices contained on or in the Product. Dealer will retain on or in all copies of the Licensed Software the exact form of any such notices.</li>
        <li>Dealer acknowledges and agrees that the Licensed Software and any other Seller Confidential Information embodied in the Product is the valuable property and trade secret of Seller, that any violation by Dealer would cause Seller irreparable injury for which Seller would have no adequate remedy at law and that, in addition to any other remedies, Seller is entitled to preliminary and other injunctive relief against any such violation without being required to post a bond or prove any damages.</li>
        <li>During normal business hours and with reasonable notice to Dealer, Seller may conduct an investigation, either directly or through a designated representative and at Seller’s expense, to confirm Dealer’s compliance with the terms and conditions of this Agreement. Dealer shall allow Seller, or Seller’s designated representative, to have access to Dealer’s premises and any records (in whatever form kept by or on behalf of Dealer) relating to the Product and Dealer’s use thereof. Dealer shall cooperate with, and shall reasonably assist, Seller in any such investigation. Any such investigation will be conducted in a manner that is designed not to disrupt Dealer’s business and will be restricted in scope, manner and duration to that reasonably necessary to confirm Dealers’ compliance with this Agreement.</li>
      </ol>
      </li>
    </ol>
  </li>
</ol>

<p>&nbsp;</p>
<p>Updated: February 2023</p>