<h1>Editing system rule</h1>

<ul class="button-group round">
	<li><%= link_to 'Back', [:admin, @system], class: "small secondary button" %>	</li>
	<li><%= link_to 'Delete', [:admin, @system, @system_rule], confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>

<%= render 'form' %>
