<ul class="button-group round">
    <li><%= link_to 'Services List', admin_vip_services_path, class: "small button round" %>	</li>
    <li><%= link_to 'Delete', admin_vip_service_path(@vip_service), confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>
<h1>Edit AMX VIP Service</h1>

<%= render "form" %>