<li id="product_family_<%= product_family.id %>">
	<span class="handle"><%= image_tag("icons/drag_handle.gif", lazy: false) %></span>
  <%= link_to product_family.tree_names, [:admin, product_family] %>
  <% if product_family.locale_product_families.size > 0 %>
    <span style="color:#888;">
      [<%=product_family.locales(website).sort.join(", ")%>]
    </span>
  <% end %>
</li>
