<h1>Product Families</h1>

<% if can? :create, ProductFamily %>
<ul class="button-group round">
	<li><%= link_to 'New Product Family', new_admin_product_family_path, class: "small success button" %></li>
</ul>
<% end %>

<% if @searched_product_families %>

	<ul class="nosort list">
		<%= render partial: "product_family", collection: @searched_product_families %>
	</ul>

<% else %>

	<h3 class="subheader">Top-level Families</h3>
	<ul id="product_families" class="sortable_list">
		<%= render partial: "product_family", collection: @product_families %>
	</ul>
	<br/>
	<% if @children.size > 0 %>
	<h5 class="subheader">All the rest</h5>
	<ul class="nosort list">
		<%= render partial: "product_family", collection: @children %>
	</ul>
	<% end %>

<% end %>