(function(){
	var $products_dropdown = $('#product_innovation_product_id');

	// clear the product list before we rebuild it
	$products_dropdown.empty();
	
	// rebuild product dropdown list
	$products_dropdown.append($("<option></option>"));		

	<% Product.not_associated_with_this_innovation(@product_innovation.innovation, website).sort_by(&:name).each do |product| %>
		$products_dropdown.append($("<option value='<%=product.id%>'><%=product.name%></option>"));
	<% end %>
	
	// let chosen know the product dropdown list has been updated
	$products_dropdown.trigger('chosen:updated');
})();
