<h1>Listing specifications</h1>

<%= link_to 'New Specification', new_admin_specification_path, class: "small round success button" %>

<ul class="list">
<% @specifications.each do |specification| %>
  <li><%= link_to specification.name, [:admin, specification] %></li>
<% end %>
</ul>

