<%= content_for :feature do %>
<div class="text-center news_banner" style="padding-bottom:3.7rem;">
    <div class="row">
      <div class="medium-8 medium-offset-2 large-6 large-offset-3 small-12 columns">
        <h1 class="text-center"><%= t('titles.case_studies') %></h1>
      </div>
    </div>
  </div>
<% end %>