<%= cache ["social_strip", website.brand, I18n.locale] do %>
  <div class="homepage_block">

    <% if website.email_signup_url %>
      <div class="row" style="margin-top: 40px">
        <div class="medium-4 medium-offset-4 small-12 columns">
          <%= render_partial 'shared/newsletter_signup' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
