<%= cache ["video_strip", website.brand, I18n.locale] do %>
  <% if @youtube && !@youtube.blank? %>

    <div class="homepage_block">
      <div class="container" id="homepage-video-banner">
        <div class="row">
          <div class="large-12 small-12 columns">
            <%= render_partial 'shared/column_for_youtube' %>
          </div>
        </div>
      </div>
    </div>

  <% elsif @featured_video %>

    <div class="homepage_block">
      <div class="container text-center" id="homepage-video-banner">
        <iframe width="957" height="538" src="//www.youtube.com/embed/<%= @featured_video %>?rel=0&amp;showinfo=0&amp;enablejsapi=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

  <% end %>
<% end %>
