# Add application configuration variables here, as shown below.

ASSET_HOST: 'http://assets.domain.com'
ASSET_SYNC_ON: "1"

DEVISE_PEPPER: devise_pepper_hash
DEVISE_REMEMBER_TOKEN: remembered_user_token
DEVISE_SECRET_KEY: devise_secret_key

GEOKIT_YAHOO_CONSUMER_KEY: yahoo_consumer_key
GEOKIT_YAHOO_CONSUMER_SECRET: yahoo_consumer_secret
GEOKIT_GOOGLE: google_key

RECAPTCHA_PUBLIC_KEY: recaptcha_public_key
RECAPTCHA_PRIVATE_KEY: recaptcha_private_key

SECRET_TOKEN: app_secret_token
SECRET_KEY_BASE: app_secret_key_base

TWITTER_CONSUMER_KEY: twitter_consumer_key
TWITTER_CONSUMER_SECRET: twitter_consumer_secret
TWITTER_OAUTH_TOKEN: twitter_oauth_token
TWITTER_OAUTH_TOKEN_SECRET: twitter_oauth_token_secret

BING_TRANSLATOR_ID: your_bing_translator_id
BING_TRANSLATOR_KEY: your_bing_translator_key

EMPLOYEE_INVITATION_CODE: inviation_code_for_employees
RSO_INVITATION_CODE: invitation_code_for_rso
MEDIA_INVITATION_CODE: invitation_code_for_media

HPRO_EXECS: name1@email.com|name2@email.com

TOOLKIT_ADMIN_EMAIL_ADDRESSES: name3@email.com|name4@email.com
TOOLKIT_ADMIN_CONTACT_INFO: First Last at first.last@email.com

EXCEPTION_RECIPIENTS: name5@email.com|name6@email.com

CHEETAHMAIL_USERNAME: your_cheetahmail_username
CHEETAHMAIL_PASSWORD: your_cheetahmail_password

RACKSPACE_USERNAME: your_rackspace_username
RACKSPACE_API_KEY: your_rackspace_api_key
FOG_PAPERCLIP_CONTAINER: "attachments"
FOG_HOST_ALIAS: 

GOOGLE_YOUTUBE_API_KEY: generate_read_only_api_key

INVENTORY_FILE: "/path/to/inventory.xml"
PRICING_FILE: "/path/to/pricing.xml"
EMPLOYEE_PRICING_PERCENT_OF_COST: "1.9"
ARTIST_PRICING_PERCENT_OF_COST: "1.9"

MAILGUN_API_KEY: key-1234567
MAILGUN_DOMAIN: your-mailgun-domain
