<ul class="button-group round">
	<li><%= link_to admin_online_retailers_path, class: "small secondary button" do %>
    <%= fa_icon "angle-double-left" %> Back to Retailer List
  <% end %>
  </li>
</ul>
<h1>Editing Online Retailer</h1>

<%= render "form" %>

