<h1>Listing Online Retailers</h1>

<% if can? :create, OnlineRetailer %>
<ul class="button-group round">
	<li><%= link_to 'New Online Retailer', new_admin_online_retailer_path, class: "small success button" %></li>
</ul>
<% end %>

<h3>Retailers for Where to Buy page (sorted)</h3>
<%= render "/admin/online_retailers/list", retailers: OnlineRetailer.brand_online_retailers(website), type: "wtb" %>

<h3>Active Retailers</h3>
<%= render "/admin/online_retailers/list", retailers: @online_retailers.where(active: true), type: "active" %>

<h3>Inactive Retailers</h3>
<%= render "/admin/online_retailers/list", retailers: @online_retailers.where(active: false), type: "inactive" %>
