<div class="panel">
  <%= s3_uploader_form callback_url: upload_admin_site_elements_url,
      id: "s3_uploader",
      callback_param: "direct_upload_url",
      acl: "public-read",
      expiration: 24.hours.from_now.utc.iso8601,
      max_file_size: 900.megabytes do %>
    <div class="row">
      <div class="large-8 columns">
        <p><%= "#{ @site_element.new_record? ? 'Start' : 'If you want to replace the file, start' } the upload before filling out the rest of the form:" %></p>
        <div class="row">
          <div class="large-6 columns">
            <%= file_field_tag :file %>
          </div>
          <div class="large-6 columns" id="site_element_progress">
            <div id="uploads_container"></div>
            <script id="template-upload" type="text/x-tmpl">
            <div id="upload_{%=o.unique_id%}" class="upload">
              {%=o.name%}
              <div class="progress success progress-striped active"><span class="bar meter" style="width: 0%"></span></div>
              <div id="upload_instruct" class="hint">Wait for the upload to complete before submitting the form.</div>
            </div>
            </script>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>

