<ul class="button-group round">
	<li><%= link_to 'Back to List', admin_site_elements_path, class: "small secondary button" %>	</li>
</ul>
<h1>New Site Resource</h1>

<p>Product-specific resources like product images, manuals, brochures, etc. should be uploaded on the
	admin page for that product.</p>

<%= render 'form' %>

