<div  class="web-form-section">
	<div>
	<%= f.check_box :soundcraft_optin, checked: true %>
	<span class="color-gray-medium margin-left"><%= "Would you like to receive interested products and services from Soundcraft" %></span>
</div>
<div >
	<%= f.check_box :third_party_optin %>
	<span class="color-gray-medium margin-left"><%= "Would you like to receive interested products and services from other harman companies?" %></span>
</div>
</div>