<table class="info" style="margin-left: auto; margin-right: auto;">

  <% products.each do |product| %>
    <% if product.active_softwares.size > 0 %>
      <tr>
        <th>
          <% if product.photo && !product.discontinued? %>
            <%= image_tag product.photo.product_attachment.url(:tiny) %><br/>
          <% end %>
          <%= product.name %>
        </th>
        <td>
          <%= render_partial "products/downloads", product: product %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
