<h1>Activation Success!</h1>

<p>Here is your <%= @activation.software_name %> authorization code.  
	Please copy and paste this code into the authorization field of the software:</p>
	
<h2 style="letter-spacing: 0.21em;"><%= @activation.key %></h2>

