<ul class="button-group round">
    <li><%= link_to 'AMX DXLink Device List', admin_amx_dxlink_device_infos_path, class: "small button round" %></li>
</ul>

<h1>New AMX DXLink Device</h1>

<%= render "form" %>
