<a name="products"></a>
<h3 data-magellan-destination="products" class="color-soundcraft"><%= write_search_result_records(@products.length, "product") %></h3>

<br /><br />
<% @products.each do |product| %>
	<div class="row">
		<div class="small-4 columns" align="center">
			<%= link_to(image_tag(product.image.url(:medium), class: "radius5 fade image_border"), "/products/#{product.slug}")  %>
			<%= link_to(product.name.html_safe, product_path(product, locale: I18n.locale))  %>
		</div>
		<div class="small-8 columns">
		</div>
	</div>
<% end %>

