
<div class="row">
  <div class="large-12 columns panel">
    <img src="https://jblpro.com/resource/jbl-professional-vertec-vtx-signup-form-image.jpg" border="0">
    <h2>VerTec / VTX Owners Signup Thank You!</h2>
    <p>Thank you for submitting details about your available VerTec / VTX rental equipment!<br/>
       We will review your information and contact you shortly.</p>
  </div>
</div>