<!--This file and corresponding controller action are not currently used but I'm keeping it because it maybe need in the future.-->
<!--<h1>Admin::AmxDxlinkComboAttributes#index</h1>-->
<!--<p>Find me in app/views/admin/amx_dxlink_combo_attributes/index.html.erb</p>-->
