<div class="row">
	<div class="small-12 medium-4 columns">
		<img src="http://soundcraft.com.s3.amazonaws.com/promotions/get-started/ableton-banner.jpg" width="100%" />
	</div>	
	<div class="small-12 medium-8 columns">
		<h4>
		  <strong>Say hello to your new studio.</strong> 
		  Ableton Live is a flexible music production environment that is also a powerful performance tool - made to inspire creativity. That's why it's used everywhere, from the smallest bedroom studios to the world's biggest stages.
		 <br/><br/>	
			For more information: <a href="http://www.ableton.com/en/live/" class="text-sub-header" target="_blank">www.ableton.com/en/live</a>
		<br/>
		</h4>
	</div>	
</div>
<br/>
	<div class="row">
		<div class="small-12 columns"><strong>This copy of Ableton Live Lite provides:</strong></div>
	</div>
	<div class="row">
		<div class="small-1 columns">&nbsp;</div>
		<div class="small-11 columns end">
<br/>
<ul>
<li>Ableton's fast intuitive workflow, based on unique Session and Arrangement Views.</li>
<li>Professional-quality audio recording and MIDI sequencing on up to 8 tracks.</li>
<li>Creative sound design and processing with Impulse and Simpler instruments, plus Drum, Instrument and Effects Racks.</li>
<li>600 MB of loops and samples.</li>
<li>Plug-and-play compatibility with many hardware controllers.</li>
<li>Studio effects including EQ, compression, reverb, delay, chorus, filter and more.</li>
<li>Unlimited use of the included Ableton instruments and effects.</li>
<li>Unlimited use of your favorite VST and AU instruments and effects.</li>
</ul>
</div>
</div><br/>
	<div class="row">
		<div class="small-12 column"><strong>How to get started with Live Lite:</strong></div>
	</div>
	<div class="row">
		<div class="small-1 columns">&nbsp;</div>
		<div class="small-11 columns">
<br/>
<ol>
<li> Download and install the latest version of Ableton Live Lite at: <a href="http://Ableton.com/live-lite" target="_blank"><strong class="text-sub-header">ableton.com/live-lite</strong></a>.</li>
<li> Launch Ableton Live Lite.</li>
<li> Live will guide you through an authorisation process and you will be asked a serial number. Please enter the <strong class="text-sub-header">serial printed on the Ableton Live 9 Lite card</strong> that came with your Ui mixer. <br/>
	<img src="http://soundcraft.com.s3.amazonaws.com/promotions/get-started/ableton-card.jpg" width="807" />
</li>
</ol>
</div>
</div>
<br/><br/>
	<div class="row">
		<div class="small-12 column">
<h4>Looking for more features?</h4>
Unlock the full potential of Live. Live 9 Standard and Suite vastly expand your creative potential with more features, more sounds and more possibilities. As a Live Lite user you can save up to USD 100 / EUR 70 on an upgrade compared to buying a new license. See what you'll get in Live 9 Standard and Suite: <a href="http://Ableton.com/lite-upgrade" target="_blank">Ableton.com/lite-upgrade</a>.<br/>
<br/><br/><div class="small-text"><i>Ableton and the Ableton logo are trademarks of Ableton AG. VST is a trademark of Steinberg Media Technologies GmbH. All rights reserved. Made in Germany. &copy; 2001-2013 Ableton AG.</i>
</div>
		</div>
	</div>