<div class="row">
	<div class="small-12 column">
		<img src="http://soundcraft.com.s3.amazonaws.com/promotions/get-started/mpx-l-logo.jpg" width="600" />
		<br/><br/>
		<h4>
		  <strong>The Lexicon MPX-L Reverb Plug-In elevates any home recording and project studio to a new level.</strong> 
		   Aspiring engineers and producers now have a new way to bring the legendary Lexicon heritage and sound to their mix, and with this complimentary MPX-L license, you'll sound more professional than ever.
		 <br/><br/>	
			For more information: <a href="http://www.lexiconpro.com/soundcraft-offer" class="text-sub-header" target="_blank">www.lexiconpro.com/soundcraft-offer</a>.
		</h4>
	</div>	
</div>
<br/>
<div class="row">
	<div class="small-12 column"><strong>How to get started with the Lexicon MPX-L Reverb Plug-in:</strong></div>
</div>
<div class="row">
	<div class="small-1 columns">&nbsp;</div>
	<div class="small-11 columns">
		<br/>
		<ol>
			<li> Register at the Lexicon MPX-L page with your Signature MTK serial number and a scan of your receipt: <a href="http://lexiconpro.com/soundcraft-offer" target="_blank"><strong class="text-sub-header">lexiconpro.com/soundcraft-offer</strong></a>.</li>
			<li> Check your email inbox for email with a download link.</li>
			<li> download and install the plug-in.</li>
		</ol>
	</div>
</div>
<br/><br/>
