<%
	@meta = Page.find_by lcl_name: 'about_soundcraft'
	meta title: @meta.title,
	description: strip_html(@meta.description),
	keywords: @meta.keywords.gsub(" ", ",")

%>
<div id="header_bc">
	<div id="header_spacer"></div>
	<div id="header_bc_image" >
	<%= image_tag('top_border.gif') %>
	</div>
	<div id="bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
	    <li role="menuitem" class="current"><a href="#"><%= @meta.title %></a></li>
	</nav>
	</div>
</div>
<div class="row fullWidth">
	<div class="small-12 columns" >
		<br />
		<h1><%= @meta.title %></h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns" >
Founded in 1973, Soundcraft first made its mark with the launch of the industry-changing Series 1, the first mixing console built into a flight case satisfying the demands of the growing touring band market. Since then it has grown to become an industry leader in digital and analogue consoles for Tours, Theatres, Houses of Worship, Performance Venues and Recording applications.
<br/><br/>
Design and innovation has always been at the heart of Soundcraft's philosophy. Over the years it has introduced a number of iconic consoles such as the Broadway, Sapphyre. GB Series, MH series, Vi Series, Si Series, Signature and Ui. and being twinned with sister console company Studer, has been responsible for industry changing innovations such as the patented FaderGlow and Vistonics user interfaces all designed to make the engineers job and learning - easier.
<br/><br/>
Whether you are an international A1 sound engineer, or an up and coming learner, Soundcraft has a solution for you and support and training to help you make it all happen.
<br/><br/>
As part of the Harman Professional Division, Soundcraft remains dedicated to innovating professional mixing systems and is able to draw on the technologies of its sister companies who make up the famous family of Harman brands which include: <a href="http://www.akg.com/" target="_blank">AKG</a>, <a href="http://www.bssaudio.com/" target="_blank">BSS</a>, <a href="http://www.crownaudio.com/en-US" target="_blank">Crown</a>, <a href="http://dbxpro.com/en-US" target="_blank">dbx</a>, <a href="http://www.jblpro.com/" target="_blank">JBL</a>, <a href="http://www.lexiconpro.com/en-US" target="_blank">Lexicon</a>, <a href="http://www.studer.ch/en-US" target="_blank">Studer</a> and most recent additions to the family <a href="http://www.martin.com/" target="_blank">Martin Professional</a> lighting, and <a href="http://www.amx.com/" target="_blank">AMX</a> video and audio control systems. 
<br/><br/>
<div class="flex-video">
   <iframe width="600" height="400" src="//www.youtube.com/embed/IRqRvEVNOYA" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
</div>
<br/><br/>
	</div>
</div>





