<%
	@meta = Page.find_by lcl_name: 'experience_harman'
	meta title: @meta.title,
	description: strip_html(@meta.description),
	keywords: @meta.keywords.gsub(" ", ",")

%>
<div id="header_bc">
	<div id="header_spacer"></div>
	<div id="header_bc_image" >
	<%= image_tag('top_border.gif') %>
	</div>
	<div id="bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
	    <li role="menuitem" class="current"><a href="#"><%= @meta.title %></a></li>
	</nav>
	</div>
</div>
<div class="row fullWidth">
	<div class="small-12 columns" >
		<br />
		<h1><%= @meta.title %></h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns" >
<div >
  <p><span>Chances are HARMAN and its innovative brands have already touched your life today. More than 80 percent of the world's luxury cars are equipped with our premium audio and infotainment systems. Your favourite music, movie or television show was likely recorded or broadcast with our help. We share the stage with talented performing artists from every genre, and we fill the world's premier sporting and entertainment venues with great sound and light.</span></p>
  <p><span>But HARMAN stands for more than just great sound. We help create great lifestyle experiences for today's connected generation. We make it possible for you to enjoy your favourite digital multimedia content at home, on the go and on the road. We keep you connected to the latest news and information, while keeping both hands on the wheel and both eyes on the road. We guide you safely to your destination with photorealistic 3D navigation, communications and driver assistance systems, and we&rsquo;ll even calculate the most fuel-efficient route.</span></p>
<br />
<div class="flex-video">
   <iframe width="600" height="400" src="//www.youtube.com/embed/T4vo6C2T7z4" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
</div>
For more information on Harman, please visit <a href="http://www.harman.com" target="_blank"> www.harman.com</a>.
<br /><br /><br /><br />

</div>

	</div>
</div>





