<ul class="small-block-grid-1 medium-block-grid-3">
  <% product.current_news.sort_by(&:post_on).reverse.each do |news| %>
    <li>
      <% if news.news_photo_file_name.present? %>
        <div style="height: 120px; overflow: hidden; background-color: #000;">
          <%= link_to image_tag(news.news_photo.url(:email)), news %>
        </div>
      <% end %>
      <small><%=l news.post_on.to_date, format: :long %></small><br/>
      <%= link_to translate_content(news, :title), news %>
    </li>
  <% end %>
</ul>
