<% vintage_product_status = ProductStatus.where(name: "Vintage").first_or_initialize %>
<% set_meta_tags title: "Discontinued Products",
				 reverse: true %>
<h1 class="page_title">Discontinued Products</h1>

<div class="row">
  <div class="small-12 medium-6 large-4 columns">
    <label>Select your product:</label>
    <%= simple_form_for :product do |f| %>
      <div class="row collapse">
        <div class="small-8 columns">
          <%= f.input :id,
            as: :select,
            label: false,
            collection: @products.where.not(product_status: vintage_product_status),
            value_method: :to_param
          %>
        </div>
        <div class="small-4 columns">
          <%= f.submit "Go", class: "postfix button"%>
        </div>
    <% end %>
  </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
