(function(){
	var $product_family_dropdown = $('#product_family_customizable_attribute_product_family_id');

	// clear the product family list before we rebuild it
	$product_family_dropdown.empty();

	// rebuild product family dropdown list
	$product_family_dropdown.append($("<option></option>"));

	<% ProductFamily.options_not_associated_with_this_customizable_attribute(@product_family_customizable_attribute.customizable_attribute, website).each do |product_family| %>
		$product_family_dropdown.append($("<option value='<%=product_family.id%>'><%= CGI.unescapeHTML(product_family.name) %></option>"));
	<% end %>

	// let chosen know the software dropdown list has been updated
	$product_family_dropdown.trigger('chosen:updated');
})();
