<h1>New setting</h1>

<div class="button_container">
	<%= link_to 'Back', admin_settings_path, :class => "back button" %>
</div>

<%= form_for([:admin, @setting], :html => {:multipart => true}) do |f| %>
	<%= render "form", :f => f%>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

