<h1>New setting</h1>

<ul class="button-group round">
	<li><%= link_to 'Back', admin_settings_path, class: "small secondary button" %></li>
</ul>

<%= form_for([:admin, @setting], html: {multipart: true}) do |f| %>
	<%= render "form", f: f%>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

