<%
	@meta = Page.find_by lcl_name: 'warranty'
	meta title: @meta.title,
	description: strip_html(@meta.description),
	keywords: @meta.keywords.gsub(" ", ",")

%>
<div id="header_bc">
	<div id="header_spacer"></div>
	<div id="header_bc_image" >
	<%= image_tag('top_border.gif') %>
	</div>
	<div id="bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
	    <li role="menuitem"><a href="/support">Support</a></li>
	    <li role="menuitem" class="current"><a href="#"><%= @meta.title %></a></li>
	</nav>
	</div>
</div>
<div class="row fullWidth">
	<div class="small-12 columns" >
		<br />
		<h1><%= @meta.title %></h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns"  >


<table width="100%" border="0" cellpadding="10" cellspacing="0">
  <tbody>
    <tr>
      <td valign="top"><h3>For product under warranty</h3></td>
    </tr>
    <tr>
      <td valign="top"><br>
        <table width="75%" border="0" cellpadding="5" cellspacing="0">
          <tbody>
            <tr>
              <td width="20" align="center" valign="top">•</td>
              <td  valign="top">UK customers should in the first instance contact the dealer who sold the equipment. If any difficulty is experienced, please contact our Customer Services Department in Potters Bar, Hertfordshire:<br>
                T: + 44 (0) 1707 665000<br>
                <br></td>
            </tr>
            <tr>
              <td align="center" valign="top">•</td>
              <td valign="top">USA Customers should contact Soundcraft USA:<br>
                T: 818-920-3212<br>
                <br></td>
            </tr>
            <tr>
              <td align="center" valign="top">•</td>
              <td valign="top">Outside the UK and USA, customers are requested to contact their territorial distributor who is able to offer support in the local time zone and language. Please <a href="/where-to-buy">click here</a> to find the nearest Soundcraft near you.</td>
            </tr>
          </tbody>
        </table>
        <br>
        Please always remember to include your full address and telephone number with all enquiries. </td>
    </tr>
  </tbody>
</table>
<br>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
  <tbody>
    <tr>
      <td valign="top"><h3>For product out of warranty</h3></td>
    </tr>
    <tr>
      <td valign="top"><table width="75%" border="0" cellpadding="5" cellspacing="0">
        <tbody>
          <tr>
            <td width="20" align="center">•</td>
            <td>For out-of-warranty consoles purchased in the United Kingdom, please contact the Customer Services Department at the factory in Potters Bar, Hertfordshire: Telephone +44 (0)1707 665000.</td>
          </tr>
          <tr>
            <td align="center">•</td>
            <td>For all other out-of-warranty consoles, please contact the appropriate territorial distributor. Please <a href="/where-to-buy">click here</a> to find the nearest Soundcraft near you.</td>
          </tr>
        </tbody>
      </table>
        <br>
        When mailing or faxing please remember to give as much information as possible. This should include your name, address &amp; a daytime telephone number.</td>
    </tr>
  </tbody>
</table>
<br>
<table width="100%" border="0" cellpadding="10" cellspacing="0">
  <tbody>
    <tr>
      <td valign="top"><br>
        Should you experience any difficulty please contact <a href="/support/contact-us">Customer Services Department</a>. <br>
        We can: <br>
        <br>
        <table width="75%" border="0" cellpadding="5" cellspacing="0">
          <tbody>
            <tr>
              <td width="20" align="center">•</td>
              <td>assist with problems (both remotely &amp; in the field)</td>
            </tr>
            <tr>
              <td align="center">•</td>
              <td>provide technical training &amp; on-site commissioning for complex products</td>
            </tr>
            <tr>
              <td align="center">•</td>
              <td>carry out service, repairs &amp; certain modifications</td>
            </tr>
            <tr>
              <td align="center">•</td>
              <td>provide a spares &amp; documentation service for many of our older products</td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
	</div>
</div>





