<h1>Reviews</h1>

<% if can? :create, ProductReview %>
<ul class="button-group round">
	<li><%= link_to 'New review', new_admin_product_review_path, class: "small success button" %></li>
</ul>
<% end %>

<ul class="list">
<% @product_reviews.each do |product_review| %>
  <li><%= link_to product_review.title, [:admin, product_review] %> </li>
<% end %>
</ul>
