<div class="bumped-up" style="margin-bottom:1em;">
  <div class="banner-container">
    <% if @banner_image.present? %>
      <h1><img alt="<%= website.brand.name %> <%= t('nav.case_studies') %>" src="<%=@banner_image.url%>"></h1>
    <% end %>
  </div>
</div>
