<%= cache ["compatibility_strip", website.brand, I18n.locale] do %>
  <div class="homepage_block gray_strip">
    <div class="row">
      <div class="large-5 columns">
        <%= image_tag "#{website.folder}/protocols.png", alt: "AVB, Dante, BLU Link, CobraNet" %>
      </div>
      <div class="large-6 columns">
        <br/>
        <h1>BSS Works With Anything</h1>
        <p class="padded">Whatever level and flavor of audio networking the
        system demands, BSS Audio Soundweb London provides the solution.
        Whether it’s simple point-to-point localized high-channel count
        within a rack to venue-wide Ethernet-based audio networking, BSS
        provides it all.</p>
        <%= link_to "Learn More", '/bss-network-audio', class: "large button" %>
      </div>
    </div>
  </div>
<% end %>
