<h1>Editing online retailer link</h1>

<%= render "form" %>

<div class="hint">
	Last checked: <%= @online_retailer_link.link_checked_at.to_s %><br/>
	Response code: <%= @online_retailer_link.link_status %>
</div>
