<%
	@meta = Page.find_by lcl_name: 'freedom_to_mix_sweepstakes'
	meta title: @meta.title,
	description: strip_html(@meta.description),
	keywords: @meta.keywords.gsub(" ", ",")

%>
<div id="header_bc">
	<div id="header_spacer"></div>
	<div id="header_bc_image" >
	<%= image_tag('top_border.gif') %>
	</div>
	<div id="bc">
	<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
		<li class="unavailable"  aria-disabled="true">>></li>
	    <li role="menuitem"><a href="/">Home</a></li>
	    <li role="menuitem" class="current"><a href="#"><%= @meta.title %></a></li>
	</nav>
	</div>
</div>
<div class="row fullWidth">
	<div class="small-12 columns" >
		<br />
		<h1><%= @meta.title %></h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns" >
<h3>Official Rules</h3>

<ol>
<li><strong>Official Rules.</strong> The Sweepstakes is subject to these Official Rules except as expressly stated otherwise. No purchase necessary. A purchase or payment of any kind will not increase your chances of winning. Void where prohibited. The Sweepstakes is sponsored by Harman International Industries, Incorporated, 400 Atlantic Street, Stamford, CT 06901 (the &quot;Sponsor&quot;).<br>
    <br>
</li>
<li><strong>Eligibility.</strong> The Sweepstakes is open to all NAMM attendees who are legal residents of the United States (but excluding U.S. military installations in foreign countries and all other U.S. territories and possessions),and &nbsp;are the legal age of majority in their state of residence (and at least 18) at the start of the Sweepstakes ("Entrant"). By participating in the Sweepstakes, Entrant agrees to be fully and unconditionally bound by these Official Rules and the decisions of Sponsor. Entrant must have an internet connection and a Facebook, Instagram, or Twitter account (which are free).<br>
  <br>
</li>
<li><strong>Sweepstakes Restrictions.</strong> Employees of Sponsor its affiliates, Sweepstakes supervisors and members of their immediate families, and each of their respective parent companies, subsidiaries, affiliates, officers, governors, owners, distributors, retailers, advertising/promotion agencies (collectively &ldquo;Released Parties&rdquo;), and members of their immediate families (parent, spouse, sibling or child and their respective spouses, regardless of where they reside) and those living in the same household of each, whether or not related, are not eligible to participate or win. The Sweepstakes is subject to all applicable federal, state and local laws, rules and regulations. Void where prohibited.<br>
<br>
</li>
<li><strong>Social Media Platforms.</strong> Entrants may enter the Sweepstakes through Facebook, Instagram, or Twitter. In addition to these Official Rules, Entrants must also abide by the terms of use for Sponsor's website and Facebook, Instagram, and Twitter. Entrants may not inaccurately tag content (e.g., do not tag yourself in a photo if you are not in it). This Sweepstakes is in no way sponsored, endorsed or administered by, or associated with Facebook, Instagram, or Twitter. Posting duplicate, or near duplicate updates or links is a violation of Twitter and may cause suspension of your Facebook, Instagram, and Twitter accounts. Facebook, Instagram, and Twitter are also included in the definition of &nbsp;&quot;Released Parties.&quot;<br>
  <br>
</li>
<li><strong>Privacy.</strong> The information you provide in your entry will be used for administering this Sweepstakes and for marketing purposes in accordance with Sponsor&rsquo;s privacy policy found here: <a href="http://www.harman.com/EN-US/SiteMap/Pages/PrivacyPolicy.aspx" target="_blank">http://www.harman.com/EN-US/SiteMap/Pages/PrivacyPolicy.aspx</a>.<br>
    <br>
</li>
<li><strong>Sweepstakes Period: </strong>The Sweepstakes begins at 12:00 a.m. Eastern Time and ends at 07:59:59 p.m. according to the dates outlined below (the &quot;Sweepstakes Period&quot;).
<br><br>
<table width="423" border="1" cellpadding="2">
    <tr>
      <td width="201" valign="top"><p align="center"><strong>Sweepstakes Entry </strong><br>
        <strong>Start Date</strong></td>
      <td width="202" valign="top"><p align="center"><strong>Sweepstakes Entry</strong><br>
        <strong>End Date</strong></td>
    </tr>
    <tr>
      <td width="201"><p align="center">January   22, 2015</td>
      <td width="202"><p align="center">January   25, 2015</td>
    </tr>
  </table>
<br>
Entries must be received within the Sweepstakes Period according to the Sponsor&rsquo;s internal time clock. Entries will not be accepted if received after the Sweepstakes Entry End Date.<br>
<br>
</li>
<li><strong>How to Enter the Sweepstakes.<br>
    <br>
</strong>
  <ul>
        <li><strong>7.1 Post.</strong> Take a picture or video of the new Soundcraft Ui Series Mixer at NAMM in Harman booth #6914, then share, post, or tweet your picture or video. Share, post, or tweet a picture of your experience on the social media site pages listed below using the hashtags #FreedomToMix‚&nbsp;#Sweeps ("Entry(ies")).<br>
          <br>
          <ul>
  <li><strong>7.1.1 Facebook:</strong> SoundcraftMixers<br>
    <br>
  </li>
  <li><strong>7.1.2 Instagram:</strong> SoundcraftMixers<br>
    <br>
  </li>
  <li><strong>7.1.3 Twitter:</strong> SoundcraftUK<br>
    <br>
  </li>
</ul>
        </li>
	</ul>
</li>
<li><strong>Sweepstakes Entry Restrictions. </strong><br>
  <br>
</li>
	<ul>
		<li><strong>8.1 Multiple Entries.</strong> Limit of one (1) original Entry per day per natural person. Multiple Entries will not be considered. Posting the same Entry repeatedly on Facebook, Instagram, or Twitter will not increase your chances at winning and may result in the suspension of your accounts.
		  <br>
		  <br>
		</li>
		<li>
<strong>8.2 Multiple Accounts.</strong> Persons discovered entering under multiple Facebook, Instagram, or Twitter accounts will be disqualified. Sponsor reserves the right to disqualify false Entries or Entries suspected of being false. In the event of a dispute as to the identity of a Winner (defined in Section 9 below), Sponsor, in its sole discretion, will determine the Winner to be the person who owns the winning Facebook, Instagram, or Twitter account.
		</li>
	</ul>
</li>
<li><strong>
Prizes. <br>
<br>
</strong>
<ul>
		<li><strong>9.1 Prize ARV.</strong> In total there will be 5 Winners consisting of 2 Grand Prize Winners and 3 Runner-up Winners (collectively the &quot;Winners&quot;) as set forth below. The approximate retail value (&quot;ARV&quot;) for all prizes offered during the Sweepstakes Period is $2295.
&nbsp;<br>
<br>
          <table border="1" cellpadding="0">
                <tr>
                  <td width="118" valign="top"><p align="center"><strong>Prize Level</strong></td>
                  <td width="88" valign="top"><p align="center"><strong>Quantity</strong></td>
                  <td width="153" valign="top"><p align="center"><strong>Prize </strong></td>
                  <td width="91" valign="top"><p align="center"><strong>ARV</strong></td>
                </tr>
                <tr>
                  <td width="118" valign="top"><p align="center">Grand   Prize</td>
                  <td width="88"><p align="center">2</td>
                  <td width="153"><p align="center">Soundcraft   Ui16</td>
                  <td width="91"><p align="center">$549</td>
                </tr>
                <tr>
                  <td width="118" valign="top"><p align="center">Runner-up   Prize</td>
                  <td width="88"><p align="center">3</td>
                  <td width="153"><p align="center">Soundcraft   Ui12</td>
                  <td width="91"><p align="center">$399</td>
                </tr>
              </table>
              <br>
      </li>
		<li><strong>9.2 Prize Restrictions.</strong> No substitution, transfer, or cash redemption of any prizes permitted, provided however that Sponsor reserves the right to substitute a prize with another prize of equal or greater value should the advertised prize become unavailable for any reason. Winners cannot assign or transfer their prize to another person or business.
		  <br>
		  <br>
		</li>
        <li>
<strong>9.3 Liabilities.</strong> Winners are solely responsible for any and all federal, state, and local taxes on prizes. All activities related to the prize are at the Winners&rsquo; own risk and subject to whatever restrictions are imposed by the entities that govern such activities. Winners may be issued an IRS Form 1099 for the ARV of any awarded prize.
		<br>
		<br>
        </li>
        <li>
<strong>9.4 Unclaimed Prizes.</strong> If the prize notification or any prize is returned as undeliverable, or if a Winner may not accept or receive a prize for any reason, the prize will be forfeited. Sponsor may not make multiple attempts to contact potential winners. Unclaimed prizes will not be awarded.
		<br>
		<br>
        </li>
	</ul>
</li>
<li><strong>Odds. </strong>The odds of winning depend upon the number of eligible entries received.<br>
  <br>
</li>
<li><strong>Notification of Winners</strong>. <br>
  <br>
<ul>
		<li><strong>11.1 Notification</strong>. Potential Winners will be notified on or before<strong> January 30, 2015</strong>. The potential winners will be notified by a Direct Message through their Facebook, Instagram, or Twitter account. Potential winners will be required to respond as directed within 5 business days of attempted notification. Potential winners may also be sent a liability release form and winner&rsquo;s affidavit of eligibility (&quot;Release&quot;). Winners may be required to complete and return the Release within 5 days from the date of notification before Sponsor awards any prize.
	      <br>
	      <br>
      </li>
        <li><strong>11.2 Alternate Winners</strong>. An alternate Winner will be selected from among the remaining eligible Entries in accordance with these Official Rules if a potential winner: <br>
          <br>
          <ul>
  <li> 11.2.1 fails to respond to notification of winning as required by these Official Rules; <br>
    <br>
  </li>
  <li> 11.2.2 fails to sign and return the Release as required by these Official Rules; or <br>
		    <br>
	      </li>
		  <li> 11.2.3 cannot accept or receive the prize for any reason. <br>
			    <br>
	      </li>
</ul>
		</li>
        <li> <strong>11.3 Prize Delivery.</strong> Winners will receive prizes by mail within approximately 60 days of the date on which the Sponsor receives the completed, signed Release from the Winners, depending upon availability and nature of prize. <br>
          <br>
        </li>
</ul>
</li>
<li>
<strong>Publicity.</strong> By participating in the Sweepstakes, all Entrants agree to be bound by these Official Rules and irrevocably grant the Sponsor and their respective successors, assigns and licensees the right to use such Entrants&rsquo; name, voice, photograph, video or film clips, biographical information and/or other visual likeness in any and all media or formats known or later developed without any further compensation, permission or notification for any purpose, including without limitation, commercial, advertising and promotional purposes in connection with Sponsor&rsquo;s website and Sponsor&rsquo;s Facebook, Instagram, or Twitter accounts.
<br>
<br>
</li>
<li>
<strong>Intellectual Property</strong> <br>
<br>
<ul>
		<li>
<strong>13.1 License to Submissions.</strong> By submitting a photo, video recording, audio recording, or text as Entry into the Sweepstakes, Entrant warrants and represents that he/she personally took the photo, recorded the video or audio, or composed the written text and has any and all rights to such photo, video or audio recording, or text. All Entries, whether or not copyrightable, and any copyrights or copyrightable works or designs and other intellectual property related to or submitted in this Sweepstakes are and will become the sole property of Sponsor. By submitting an Entry, and to the extent that Sponsor does not or cannot perfect its title in and to the Entries, Entrant grants Sponsor an irrevocable, royalty-free, perpetual, transferable, worldwide right to use, reproduce, edit, market, store, distribute, have distributed, publicly and privately display, publicly and privately perform, transmit, have transmitted, create derivative works based upon, and promote any Entry, as such may be edited and modified by the Sponsor in its sole discretion, for editorial, commercial, promotional and all other purposes, including posting on any websites.
      <br>
      <br>
      </li>
        <li>
<strong>13.2 Assignment of Submissions.</strong> By entering the Sweepstakes, Entrants irrevocably assign and transfer to Sponsor and its agents, affiliates, and licensees, all rights in the Entry, including, without limitation, all copyrights. If the Entry contains any materials or elements that are not owned by the Entrant, and/or which are subject to the rights of third parties, the Entrant is responsible for obtaining, prior to submission of the Entry, any and all releases and consents necessary to permit the use and exhibition of the Entry by Sponsor in the manner set forth in these Official Rules, including, without limitation, name and likeness permissions from any person who appears in or is identifiable in the Entry. Sponsor reserves the right to request proof of these permissions in a form acceptable to Sponsor from any Entrant at any time. Failure to provide such proof may, if requested, render an Entry null and void. By submitting an Entry, Entrant warrants and represents that he/she and any persons appearing or who are identifiable in the Entry consent to the submission and use of the Entry in the Sweepstakes and to its use as stated in these Official Rules.
		<br>
		<br>
        </li>
	</ul>
</li>
<li>
<strong>Sweepstakes Interference. <br>
<br>
</strong>
	<ul>
		<li>
<strong>14.1 Impairment.</strong> Any portion of the Sweepstakes may be canceled, suspended and/or modified, in whole or in part, if in Sponsor&rsquo;s opinion any fraud, technical failure or other factor beyond Sponsor&rsquo;s control impairs the integrity or proper functioning of the Sweepstakes. Sponsor reserves the right in its sole discretion to disqualify any individual who is found to be tampering with the entry process or the operation of the Sweepstakes, to be acting in violation of these Official Rules, or to be acting in a disruptive manner, or with the intent to disrupt or undermine the legitimate operation of the Sweepstakes, or to annoy, abuse, threaten or harass any other person.
		<br>
		<br>
		</li>
        <li>
<strong>14.2 Sponsor&rsquo;s Remedies.</strong> Sponsor reserves the right to seek damages and other remedies from any such person to the fullest extent permitted by law. Entrant may not enter with multiple identities or use any automated system, bot or other device or artifice to enter or obtain more than the maximum number of qualified Entries. Any attempt to deliberately damage or undermine the legitimate operation of the Sweepstakes may be in violation of criminal and civil laws and will result in disqualification from participation in the Sweepstakes. Should such an attempt be made, Sponsor reserves the right to seek remedies and damages to the fullest extent of the law, including criminal prosecution.
		<br>
		<br>
        </li>
	</ul>
</li>
<li>
<strong>Limitations of Liability. <br>
<br>
</strong>
    <ul>
      <li> <strong>15.1 Entrant's Sole Remedy.</strong> If for any reason an Entry is confirmed to have been erroneously deleted, lost or otherwise destroyed or corrupted, the Entrant's sole remedy is another Entry in the same Sweepstakes during the Sweepstakes Period. <br>
        <br>
      </li>
      <li><strong>15.2 Indemnification.</strong> Entrants and Sweepstakes Winners also agree to release, discharge, indemnify and hold harmless Sponsor and the Released Parties from and against any claims, actions, liability, loss, injury or damages, disability, attorneys' fees, and costs of litigation and settlement, as well as any liability due to any injuries, damages or losses to any person, including, without limitation death to Entrants, Sweepstakes Winner, or any third party, or damages or losses to property of any kind resulting in whole or in part, directly or indirectly, by any reason, from: <br>
        <br>
        <ul>
		  <li>
			    15.2.1 use, redemption, acceptance, possession, ownership, or misuse of any prize;
			      <br>
			      <br>
		  </li>
			  <li>
			    15.2.2 participation in any activity, event, or excursion offered in connection with the prize;
			      <br>
			      <br>
			  </li>
			  <li>
			    15.2.3 use of any facility, service and/or accommodation related to the prize; or
			      <br>
			      <br>
			  </li>
			  <li>
			    15.2.4 participation in any Sweepstakes-related activity or participation in this Sweepstakes.
			      <br>
			      <br>
			  </li>
			  </ul>
		</li>
		<li>
  <strong>15.3 No Liability.</strong> The Released Parties will not be liable for:<br>
  <br>
<ul>
	      <li>
		      15.3.1 late, lost, delayed, misdirected, incomplete unreadable, inaccurate, garbled or unintelligible Entries, communications or declarations, regardless of the method of transmission;
		        <br>
		        <br>
	      </li>
		    <li>
		      15.3.2 telephone system, telephone or computer hardware, software or other technical malfunctions, lost connections, disconnections, delays or transmission errors;
		        <br>
		        <br>
		    </li>
		    <li>
		      15.3.3 data corruption, theft, destruction, unauthorized access to or alteration of Entries or other materials;
		        <br>
		        <br>
		    </li>
		    <li>
		      15.3.4 any injuries, losses or damages of any kind caused by the prize or resulting from acceptance, possession or use of a prize, or from participation in the Sweepstakes; or
		        <br>
		        <br>
		    </li>
		    <li>
		      15.3.5 any printing, typographical, administrative or technological errors in any materials associated with the Sweepstakes.
		        <br>
		        <br>
		    </li>
		    </ul>
		  </li>
		<li>
<strong>15.4 Technical Malfunctions.</strong> Without limiting the generality of the foregoing, Released Parties are not responsible for computer malfunctions, network connections, email delivery problems, Sponsor or third party systems failure or incompatibility, typographical, technical or key-stroke errors, or interruptions in internet services, and for incomplete, illegible, misdirected, misprinted, late, lost, damaged or stolen notifications.
		<br>
		<br>
		</li>
        <li>
<strong>15.5 Force Majeure.</strong> In the event Sponsor is prevented from continuing with the Sweepstakes by any event beyond its control, including but not limited to fire, flood, earthquake, explosion, labor dispute or strike, act of God or public enemy, or any federal, state or local government law, order, or regulation, or other cause not reasonably within Sponsor&rsquo;s control (each a &quot;Force Majeure&quot; event or occurrence), then subject to any governmental approval which may be required, Sponsor will have the right to modify, suspend, or terminate the Sweepstakes. If the Sweepstakes is terminated before the designated end date, Sponsor may, if possible, select the Winners from all eligible, non-suspect Entries received as of the date of the event giving rise to the termination.
		<br>
		<br>
        </li>
	</ul>
</li>
<li>
<strong>Severability.</strong> The invalidity or unenforceability of any provision of these Official Rules will not affect the validity or enforceability of any other provision. In the event that any provision is determined to be invalid or otherwise unenforceable or illegal, these Official Rules will otherwise remain in effect and will be construed in accordance with their terms as if the invalid or illegal provision were not included. 
<br>
<br>
</li>
<li>
<strong>Governing Law and Venue.</strong> Disputes regarding these Official Rules and/or this Sweepstakes will be governed by the internal laws of the State of New York, and each entrant irrevocably and unconditionally agrees that it will not commence any action, litigation or proceeding of any kind whatsoever against Sponsor in any way arising from or relating to this Sweepstakes or these Official Rules in any forum other than the appropriate district or State courts of the State of New York sitting in the Borough of Manhattan.
Disputes. Decisions of Sponsor are binding and final. No claimant in any dispute involving Sponsor will be entitled to claim or obtain indirect, punitive, incidental or consequential damages. Sponsor&rsquo;s failure to enforce any provision in these Official Rules will not constitute a waiver of that provision. As a condition of participating in this Sweepstakes, Entrant waives any right he/she may have to participate in a class action or have a trial by jury for any litigation directly or indirectly arising out of, under or in connection with this Sweepstakes.
<br>
<br>
</li>
<li><strong><font color="#cc0000">Sweepstakes Results:</font></strong> The sweepstake has ended and the winners have been chosen, we thank you everyone that participated.
  Here are the lucky winners: <br>
  <br>
  <table width="455" border="1" cellpadding="0">
    <tr>
      <td width="143" valign="top"><p align="center"><strong>Prize Level</strong></td>
      <td width="148" valign="top"><p align="center"><strong>Prize </strong></td>
      <td width="148" valign="top"><p align="center"><strong>Winners</strong></td>
    </tr>
    <tr>
      <td width="143" valign="top"><p align="center">Grand   Prize</td>
      <td width="148" valign="top"><p align="center">Soundcraft   Ui16</td>
      <td width="148" valign="top"><p align="center">Kat McDowell<br>
        Alex Barnett
      </td>
    </tr>
    <tr>
      <td width="143" valign="top"><p align="center">Runner-up   Prize</td>
      <td width="148" valign="top"><p align="center">Soundcraft   Ui12</td>
      <td width="148" valign="top"><p align="center">Aaron Spencer<br>
        Jessy Gomez<br>
        Isadora Duzzit
      </td>
    </tr>
  </table>
  <br>
</li>
</ol>
&copy; 2015, Harman International Industries, Incorporated. All rights reserved.


	</div>
</div>