<div style="text-align: center; margin-top: 40px;">
	<h4 class="subheader">Welcome to the</h4>
	<h2>Marketing Toolkit</h2>
	Choose a brand to begin:
</div>

<div class="row" style="margin: 40px 0px;">
<div class="small-12 large-8 columns large-offset-2" style="text-align: center">
	<% toolkit_brands.each do |brand| %>
		<% if brand.logo.present? %>
				<%= link_to(image_tag(brand.logo.url(:thumb), style: "margin: 10px"), [:toolkit, brand]) %>
		<% end %>
		<% end %>
	<ul>
	<% toolkit_brands.each do |brand| %>
		<% if brand.logo.blank? %>
		<li><%= link_to(image_tag(brand.logo), [:toolkit, brand]) %></li>
		<% end %>
	<% end %>
	</ul>
</div>
</div>

<div class="container" style="text-align: center">

</div>

