<h4>Select A Language</h4>
<p>Choose the language to translate to. If your target languages is not listed, please contact an admin.</p>

<ul>
<% Locale.order(:name).each do |locale| %>
  <% unless I18n.default_locale.to_s == locale.code.to_s %>
    <li><%= link_to(locale.name, admin_content_translations_path(locale.code.to_s)) %></li>
  <% end %>
<% end %>
</ul>
