<h1>Activation Success!</h1>

<p>Here is your <%= @activation.software_name %> authorization code.  
	<br/>Please copy and paste this code into the authorization field of the software:</p>
	
<h2 style="letter-spacing: 0.21em; font-size: 110%; margin-top: 30px"><%= @activation.key %></h2>

<p style="margin-top: 30px;">If the activation code gives you any trouble,<br/> please contact 
<%= mail_to "support@lexiconpro.com", "LexiconPro Support" %>.</p>