<div class="text-center">
	<h1>Activation Success!</h1>

	<p>Here is your <%= @activation.software.activation_name %> authorization code.
		<br/>Please copy and paste this code into the authorization field of the software:</p>

	<h2><%= @activation.key %></h2>

	<p>If the activation code gives you any trouble,<br/> please contact
	<%= mail_to "support@lexiconpro.com", "LexiconPro Support" %>.</p>
</div>
