@import 'foundation/functions';

$row-width: rem-calc(1380);
$primary-color: #00395a;
$paragraph-font-weight: 400;
$paragraph-font-size: rem-calc(12);
$paragraph-line-height: 1.4;
$anchor-font-color: lighten($primary-color, 20%);
$form-label-font-weight: 400;
$fieldset-border-color: #ccc;
$legend-bg: none;
$button-med: rem-calc(10);
$button-tny: rem-calc(5);
$button-sml: rem-calc(7);
$button-lrg: rem-calc(13);
$topbar-bg-color:                      #00395a;
$topbar-bg:              $topbar-bg-color !default;
$topbar-margin-bottom:                 rem-calc(20px);
$topbar-divider-border-bottom:         solid 1px lighten($topbar-bg-color, 10%);
$topbar-divider-border-top:            solid 1px darken($topbar-bg-color, 10%);

//not sure why it doesn't work, so including in parent css file
@import "foundation";
@import "font-awesome";

body {
	background: #F0F3F4;
}
@media screen {
	#bg { position: fixed; top: 0; left: 0; z-index: -99991;}
	.bgwidth { width: 100%; }
	.bgheight { height: 100%; }
}
@media print{
	#bg { display: none;}
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
.alert {
  a {
    color: white;
  }
}
.warning {
	color: red !important;
}
ul.large-block-grid-3 {
	li {
		div.group {
			height: 300px;
			overflow: auto;
		}
	}
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
ul.list {
	margin-left: 16px;
	li {
		list-style: disc;
	}
}
ol.list {
  li {
    font-size: rem-calc(14);
    margin-bottom: rem-calc(6);
  }
}
.little, .small {
	font-size: 9px;
	font-weight: normal;
}
.hint {
  display: block;
  font-size: 70%;
  color: #444;
  margin: -9px 0px 16px;
}
.bigger_hint {
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	line-height: 15px;
	font-style: oblique;
	color: #222;
}
.instructions {
	background: {
		color: #eaeaea;
	}
	border: 1px solid #dcdcdc;
	font-size: 14px;
	line-height: 22px;
	padding: 10px 16px;
	color: #333;
	text-shadow: 0px 1px 0px #FFF;
	margin-top: 10px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 5px #ebebeb;
}
img {
	border: none;
	vertical-align: middle;
}

input.boolean, input.check_boxes, input.radio_buttons {
    margin-right: 6px;
}
select[multiple] {
  height: 200px;
}
form.custom {
	input.button {
		// margin-top: 10px; //messes up inline buttons
	}
}

div.field, div.actions {
	margin: 16px 0px;
	color: #555;
}

div#profile_links {
	position: absolute;
	top: 12px;
	right: 12px;
}
div.group {
	background: #FFF;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 5px 18px;
	border: 1px solid #D6E8EE;
}
/***** Sortable *****/
ul.sortable_list {
  margin:4px 0px;
  padding:0px;
	li {
	  margin:0;
	  margin-bottom:4px;
	  padding: 1px 0px;
	  /*background-image: asset-url('icons/drag_handle.gif');*/
	  /*background-repeat: no-repeat;*/
	  /*background-position: 5px 6px;*/
	  cursor:move;
	  list-style: none;
	  color: #888;
	}
}
ul.nosort .handle {
	display: none;
}
/***** Tables ******/
table.data {
	border-collapse: collapse;
	th {
		padding: 5px 20px;
		text-align: center;
		color: white;
		background: #999;
		text-shadow: #666 0px 1px 0px;
		border: 1px solid #CCC;
		border-bottom: 1px #666 solid;
		a {
			color: white;
		}
	}
	td {
		border: 1px solid #CCC;
		padding: 6px;
	}
}
/***** buttons *******/
.button_container {
	margin: 8px 0px;
}

tr.strike td,
.strike {
	text-decoration: line-through;
}

/****** chosen-rails style overrides ******/
.chosen-container-single .chosen-default {
    height: 38px;
    line-height: 36px;
    border-radius: 0;
}

#product_specification_specification_id_chosen .chosen-default {
    height: 23px;
    line-height: 21px;
    border-radius: 0px;
}

#product_specification_specification_id_chosen div.chosen-search {
	background: none;
}

.chosen-container-single .chosen-search {
    // background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 99% -20px;
    background-position-x: 99%;
    background-position-y: -20px;    
}

.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    // background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 0px 10px;
    background-position-x: 0px;
    background-position-y: 10px;     
}


#site_element_resource_type_chosen.chosen-container-single .chosen-single div b,
#edit_product_software_associaton .chosen-container-single .chosen-single div b, 
.product_specification_specification .chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    // background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 0px 10px;
    background-position-x: 0px;
    background-position-y: 3px;     
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 10px;
}

#site_element_resource_type_chosen.chosen-container-single .chosen-single div b,
#edit_product_software_associaton .chosen-container-active.chosen-with-drop .chosen-single div b, 
.product_specification_specification .chosen-container-active.chosen-with-drop .chosen-single div b {
    //background-position: -18px 10px;
}

.chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    // background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 100% -42px;
    background-position-x: 100%;
    background-position-y: -42px;    
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
}

.chosen-container-multi > ul.chosen-choices {
	min-height:38px;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	height:33px;
}

textarea.code_preview {
  font-family: Courier, Consolas;
  height: 400px;
}
