/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*= require label_sheets
*= require jquery-ui-1.10.4.custom.min
*= require admin_foundation_and_overrides
*= require_self
*/

body { 
	background: #F0F3F4; 
}
@media screen {
	#bg { position: fixed; top: 0; left: 0; z-index: -99991;}
	.bgwidth { width: 100%; }
	.bgheight { height: 100%; }
}
@media print{
	#bg { display: none;}
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
.alert {
  a {
    color: white;
  }
}
ul.large-block-grid-3 {
	li {
		div.group {
			height: 300px;
			overflow: auto;
		}
	}
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
ul.list {
	margin-left: 16px;
	li {
		list-style: disc;
	}
}
.little, .small {
	font-size: 9px;
	font-weight: normal;
}
.hint {
  display: block;
  font-size: 70%;
  color: #444;
  margin: -9px 0px 16px;
}
.bigger_hint {
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	line-height: 15px;
	font-style: oblique;
	color: #222;
}
.instructions {
	background: {
		color: #eaeaea;
	}
	border: 1px solid #dcdcdc;
	font-size: 14px;
	line-height: 22px;
	padding: 10px 16px;
	color: #333;
	text-shadow: 0px 1px 0px #FFF;
	margin-top: 10px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 5px #ebebeb;
}
img {
	border: none;
	vertical-align: middle;
}

.custom.checkbox {
    margin-right: 6px;
}
form.custom {
	input.button {
		// margin-top: 10px; //messes up inline buttons
	}
}

div.field, div.actions {
	margin: 16px 0px;
	color: #555;
}

div#profile_links {
	position: absolute;
	top: 12px;
	right: 12px;
}
div.group {
	background: #FFF;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 5px 18px;
	border: 1px solid #D6E8EE;
}
/***** Sortable *****/
ul.sortable_list {
  margin:4px 0px;
  padding:0px;
	li {
	  margin:0;
	  margin-bottom:4px;
	  padding: 1px 0px;
	  /*background-image: asset-url('icons/drag_handle.gif');*/
	  /*background-repeat: no-repeat;*/
	  /*background-position: 5px 6px;*/
	  cursor:move;
	  list-style: none;
	  color: #888;
	}
}
ul.nosort .handle { 
	display: none;
}
/***** Tables ******/
table.data {
	border-collapse: collapse;
	th {
		padding: 5px 20px;
		text-align: center;
		color: white;
		background: #999;
		text-shadow: #666 0px 1px 0px;
		border: 1px solid #CCC;
		border-bottom: 1px #666 solid;
		a {
			color: white;
		}
	}
	td {
		border: 1px solid #CCC;
		padding: 6px;
	}
}
/***** buttons *******/
.button_container {
	margin: 8px 0px;
}

tr.strike td,
.strike {
	text-decoration: line-through;
}

