@import 'foundation/functions';

$strip-bg-even: #E1E1E1;
$strip-bg-odd: #000000;

$row-width: rem-calc(1170);
$default-float: left;

$harman-blue: #006498;
$primary_color: #0b406b;
$light-gray: #CCC;
$medium-gray: #999;
$dark-gray: #444;
$body-bg: #FFF;
$body-font-color: #666;
$body-font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: 400;

$secondary-color: $medium-gray;
// $alert-color: #c60f13;
// $success-color: #5da423;
$include-print-styles: true;
$header-font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 500;
// $header-font-style: normal;
$header-font-color: $dark-gray;
// $header-line-height: 1.4;
$header-top-margin: rem-calc(10px);
// $header-bottom-margin: .5em;
// $header-text-rendering: optimizeLegibility;

$h1-font-size: rem-calc(38px);
$h2-font-size: rem-calc(26px);
$h3-font-size: rem-calc(21px);
$h4-font-size: rem-calc(18px);
$h5-font-size: rem-calc(15px);
$h6-font-size: 1em;

// $subheader-line-height: 1.4;
$subheader-font-color: lighten($dark-gray, 20%);
// $subheader-font-weight: 300;
// $subheader-top-margin: .2em;
// $subheader-bottom-margin: .5em;

// $small-font-size: 60%;
$small-font-color: lighten($header-font-color, 35%);

// $paragraph-font-family: inherit;
$paragraph-font-weight: 400;
// $paragraph-font-size: 1em;
// $paragraph-line-height: 1.6;
// $paragraph-margin-bottom: rem-calc(20px);
// $paragraph-aside-font-size: rem-calc(14px);
// $paragraph-aside-line-height: 1.35;
// $paragraph-aside-font-style: italic;

$accordion-navigation-padding: rem-calc(14);
$accordion-navigation-bg-color: scale-color($light-gray, $lightness: 25%);
$accordion-navigation-active-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -13%);
$accordion-content-padding: rem-calc(12);
$accordion-navigation-font-size: rem-calc(13);
$tabs-navigation-padding: rem-calc(12);
$tabs-navigation-bg-color: $light-gray;
$tabs-navigation-active-bg-color: white;
$tabs-navigation-hover-bg-color: scale-color($tabs-navigation-bg-color, $lightness: -6%);
$tabs-navigation-font-color: $dark-gray;
$tabs-navigation-active-font-color: $tabs-navigation-font-color;
$tabs-navigation-font-size: rem-calc(13);
$tabs-navigation-font-family: $body-font-family;
// $anchor-text-decoration: none;
$anchor-font-color: $primary-color;
$anchor-font-color-hover: lighten($anchor-font-color, 5%);

// Lists

// $list-style-position: outside;
// $list-side-margin: rem-calc(20px);
// $list-nested-margin: rem-calc(20px);
// $definition-list-header-weight: bold;
// $definition-list-header-margin-bottom: .3em;
// $definition-list-margin-bottom: rem-calc(12px);


// Base for lots of form spacing and positioning styles
$form-spacing: rem-calc(18px);

// $form-label-pointer: pointer;
// $form-label-font-size: rem-calc(14px);
$form-label-font-weight: 400;
$form-label-font-color: lighten($body-font-color, 10%);
// $form-label-bottom-margin: rem-calc(3px);
// $input-font-family: inherit;
$input-font-color: rgba(0,0,0,0.65);
//$input-font-size: rem-calc(16px);
$input-bg-color: darken(#fff, 2%);
$input-focus-bg-color: #fff;
// $input-border-color: darken(#fff, 20%);
// $input-focus-border-color: darken(#fff, 40%);
// $input-border-style: solid;
// $input-border-width: 1px;
// $input-disabled-bg: #ddd;
// $input-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
// $input-include-glowing-effect: true;

// $fieldset-border-style: solid;
// $fieldset-border-width: 1px;
// $fieldset-border-color: #ddd;
// $fieldset-padding: rem-calc(20px);
// $fieldset-margin: rem-calc(18px) 0;

$legend-bg: none;
$legend-font-weight: 200;
// $legend-padding: 0 rem-calc(3px);

// $input-error-message-padding: rem-calc(6px) rem-calc(4px);
// $input-error-message-top: -($form-spacing) - rem-calc(5px);
// $input-error-message-font-size: rem-calc(12px);
// $input-error-message-font-weight: bold;
// $input-error-message-font-color: #fff;
// $input-error-message-font-color-alt: #333;

// $glowing-effect-fade-time: 0.45s;
// $glowing-effect-color: $input-focus-border-color;

$button-tny: rem-calc(5px);
$button-sml: rem-calc(7px);
$button-med: rem-calc(10px);
$button-lrg: rem-calc(14px);

// $button-display: inline-block;
// $button-margin-bottom: rem-calc(20px);

// $button-font-family: inherit;
// $button-font-color: #fff;
// $button-font-color-alt: #333;
// $button-font-med: rem-calc(16px);
// $button-font-tny: rem-calc(11px);
// $button-font-sml: rem-calc(13px);
// $button-font-lrg: rem-calc(20px);
$button-font-weight: 300;
// $button-font-align: center;
// $button-function-factor: 10%;
// $button-border-width: 1px;
$button-border-style: none;
// $button-border-color: darken($primary-color, $button-function-factor);
// $button-radius: $global-radius;
// $button-disabled-opacity: 0.6;

$clearing-bg: #fff;
// $clearing-caption-bg: $clearing-bg;
$clearing-carousel-bg: #E1E1E1;
// $clearing-img-bg: $clearing-bg;
$clearing-close-color: $primary-color;
// $clearing-close-size: 40px;
$clearing-arrow-size: 20px;
$clearing-arrow-color: $primary-color;
$clearing-caption-font-color: #111;
// $clearing-caption-padding: 10px 30px;
// $clearing-active-img-height: 75%;
$clearing-carousel-height: 80px;
$clearing-carousel-thumb-width: 80px;
$clearing-carousel-thumb-active-border: 4px solid $primary-color;

$panel-bg: lighten($light-gray, 7%);

$orbit-timer-show-progress-bar: false;

// $table-bg: #fff;
$table-even-row-bg: lighten($body-bg, 2%);
// $table-border-style: solid;
// $table-border-size: 1px;
$table-border-color: lighten($header-font-color, 80%);
$table-head-bg: lighten($body-bg, 1%);
// $table-head-font-size: rem-calc(14px);
$table-head-font-color: $header-font-color;
// $table-head-font-weight: bold;
// $table-head-padding: rem-calc(8px) rem-calc(10px) rem-calc(10px);
// $table-row-padding: rem-calc(9px) rem-calc(10px);
// $table-row-font-size: rem-calc(14px);
// $table-row-font-color: #222;
// $table-line-height: rem-calc(18px);

// $table-display: table-cell;
// $table-margin-bottom: rem-calc(20px);

// $thumb-border-style: solid;
// $thumb-border-width: 4px;
// $thumb-border-color: #fff;
// $thumb-box-shadow: 0 0 0 1px rgba(#000,.2);
// $thumb-box-shadow-hover: 0 0 6px 1px rgba($primary-color,0.5);

// $thumb-radius: $global-radius;
// $thumb-transition-speed: 200ms;

$topbar-bg-color: $primary-color;
$topbar-bg: $topbar-bg-color !default;
$topbar-height:                        rem-calc(66);
// $topbar-margin-bottom:                 rem-calc(26px);
$topbar-input-height:                  rem-calc(12);
$topbar-title-weight:                  100;
// $topbar-title-font-size:               rem-calc(17px);
$topbar-dropdown-bg:                      rgba($topbar-bg-color, 0.9);
// $topbar-dropdown-link-color:           #fff;
$topbar-dropdown-link-bg:                 rgba(darken($topbar-bg-color, 2%),0.85);
// $topbar-dropdown-toggle-size:          5px;
// $topbar-dropdown-toggle-color:         #fff;
$topbar-dropdown-toggle-alpha:         0.5;
// $topbar-link-color:                    #fff;
// $topbar-link-color-hover:              #fff;
// $topbar-link-color-active:             #fff;
$topbar-link-weight:                   400;
$topbar-link-font-size:                rem-calc(14px);
$topbar-link-hover-lightness:          -30%; // Darken by 30%
$topbar-link-bg-hover:                 darken($topbar-bg, 3%);
$topbar-link-bg-active:                rgba($topbar-bg, 0.6);
// $topbar-dropdown-label-color:          #555;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight:    bold;
// $topbar-dropdown-label-font-size:      rem-calc(10px);
$topbar-menu-link-transform:           uppercase;
$topbar-menu-link-font-size:           rem-calc(18px);
$topbar-menu-link-weight:              200;
// $topbar-menu-link-color:               #fff;
// $topbar-menu-icon-color:               #fff;
// $topbar-menu-link-color-toggled:       #888;
// $topbar-menu-icon-color-toggled:       #888;
// $topbar-transition-speed:              300ms;
// $topbar-breakpoint:                    rem-calc(940px); // Change to 9999px for always mobile layout
// $topbar-media-query:                   "only screen and (min-width: #{$topbar-breakpoint})";
// $topbar-divider-border-bottom:         solid 1px lighten($topbar-bg-color, 10%);
// $topbar-divider-border-top:            solid 1px darken($topbar-bg-color, 10%);
$topbar-divider-border-bottom: solid 1px $topbar-bg-color;
$topbar-divider-border-top: solid 1px $topbar-bg-color;

$topbar-sticky-class:                  ".sticky";

$medium-breakpoint: em-calc(1290) !default;
$medium-range: (em-calc(720), $medium-breakpoint) !default;
$reveal-position-top: rem-calc(10);
$reveal-default-width: 60%;
$reveal-max-width: 75%;
@import 'brand_common';

.top-bar-section .has-form {
  padding-top: 5px;
}
.logo-container img {
  padding: 0px 16px;
  width: 162px;
}
.top-bar-section {
  ul {
    li {
      a {
        padding-right: 10px !important;
      }
      &.has-dropdown {
        a {
          padding-right: 12px !important;
          &:after {
            margin-right: 1px !important;
          }
        }
      }
    }
  }
}
/** search box in top nav **/
#search_form {
  button {
    margin-top: -16px;
  }
}
.top-bar {
  @media only screen and (max-width: 1300px) and (min-width: 1076px) {
    .top-bar-section {
      ul {
        li {
          a {
            padding: 0 10px !important;
            &:after {
              margin-right: 2px !important;
            }
          }
          &.has-dropdown {
            a {
              padding-right: 12px !important;
              &:after {
                margin-right: 1px !important;
              }
            }
          }
        }
      }
    }
    /** search box in top nav **/
    #search_form {
      #query {
        width:80px;
      }
    }

    input, .button {
        top: 18px;
        height: 1.9em;
    }
  }
  @media only screen and (max-width: 1075px) and (min-width: 720px) {
    .top-bar-section {
      ul {
        li {
          a {
            padding-right: 6px !important;
            &:after {
              margin-right: 2px !important;
            }
          }
          &.has-dropdown {
            a {
              padding-right: 12px !important;
              &:after {
                margin-right: 1px !important;
              }
            }
          }
        }
      }
    }
    /** search box in top nav **/
    #search_form {
      #query {
        width:80px;
      }
    }

    input, .button {
        top: 18px;
        height: 1.9em;
    }
  }
  @media only screen and (max-width: 719px) {
    li.has-form {
      padding: rem-calc(6) rem-calc(12);
      width: 100%;
    }
  }
}

div.homepage_block {
  overflow: hidden;
  h1 {
    font-size: rem-calc(38px);
  }
  h2 {
    font-size: rem-calc(28px);
  }
  &.dark {
    background: #000 asset-url('video-pattern.png');
  }
  p {
    line-height: 2;
    &.padded {
      margin: rem-calc(40) 0;
    }
  }
  &.highlights_strip {
    margin: 0;
    margin-top: -10px;
    padding: 0;
  }
  &.market_segments {
    padding-top: 0;
    margin-bottom: 10px;
  }
}

#video_pattern{
	background-image: asset-url('light-video-pattern.png');
}
@media only screen and (min-width: 720px) {
  div.featured_product_container {
    padding-top: 40px;
    div.featured_image_container {
      img {
        padding-top: 26px;
      }
    }
  }
}
@media only screen and (max-width: 719px) {
  div.featured_product_container {
    padding-top: 10px;
    div.featured_image_container {
      img {
        padding: 10px 0px;
      }
    }
  }
}
.quotebox {
  h2 {
    font-size: rem-calc(25px);
    line-height: 1.1;
  }
}
div.market-segment {
  a {
    color: $white;
    h4 {
      color: $white;
    }
    &:hover {
      color: scale-color($white, $lightness: -20%);
      h4 {
        color: scale-color($white, $lightness: -20%);
      }
    }
  }
}

/***** Product Family Page *****/
.product_family_header {
  background-color: scale-color($light-gray, $lightness: 65%);
  color: scale-color($dark-gray, $lightness: 20%);
  padding: rem-calc(40) 0 rem-calc(50);
  h1 {
    font-size: rem-calc(52);
    color: scale-color($dark-gray, $lightness: 20%);
  }
}

div.product-title-block, div.small-title-block {
  h1 {
    font-size: 48px;
  }
  dl.side-nav {
    dd {
      font-size: rem-calc(14px);
      line-height: 1.5;
      a {
        color: $medium-gray;
      }
    }
  }
}
.product_main_tab_content {
	ul {
//    list-style-image: asset-url('bss/bullet.png');
	}
  h3,h4,h5 {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 18px;
  }
}

hr.colored {
  border: 1px solid scale-color($primary-color, $lightness: 35%);
}

/***** Overlay Message *****/
@media only screen and (max-width: 40em) {
  #amx-overlay-modal
  {
    top:60px;
    position:absolute;
  }
  .reveal-modal, dialog {
    min-height: 21vh;
    width: 84%;
    left: 8%;    
    // background-color: transparent; 
    border: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  .reveal-modal .close-reveal-modal
  {
      font-size: 0.75rem;
      position: absolute;
      top: 1.25em;
      right: 2.375rem;
      color: #AAAAAA;
      font-weight: bold;
      cursor: pointer;
  }  
}

@media only screen and (min-width: 40em) {
  #amx-overlay-modal
  {
    top:60px;
    width:600px;
    position:absolute;
  }
  .reveal-modal, dialog {
    // background-color: transparent; 
    border: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);    
  }
  .reveal-modal .close-reveal-modal
  {
      font-size: 1.75rem;
      position: absolute;
      top: 0.45em;
      right: 3.375rem;
      color: #AAAAAA;
      font-weight: bold;
      cursor: pointer;
  }   
}

/* AMX VIP Programmers /vip_programmers */
#vip_table {
  .viptitle.vipheading  {
	  font-family:'Arial W01 Narrow Bold';
  }

  .bigdot {
  	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  	font-size:36px;
  	text-align:center;
  	line-height:7px;
  	padding-bottom:27px;
  }

  .borderbottomright {
  	border-right:1px black solid;
  	border-bottom:1px black solid;
  }

  .borderleft {
  	border-left:1px black solid;
  }

  .bordertop {
  	border-top:1px black solid;
  }

  .viptitle {
  	padding-bottom:10px;
  }

  .viptitle a {
  	font-size:12px;
  	font-family:'Arial W01 Narrow';
  	color:#000000;	
  	text-decoration:underline;
  }
}

$vip-programmer-table-odd-row-color: #eee7e0;


#programmer-info-container table tr.odd
{
  background-color:$vip-programmer-table-odd-row-color;
}

#programmer-info-container table{
  border: 1px solid #B3B3B3;
  width: 96%;
}

#programmer-info-container table tr td ul {
  /*line-height:.5;*/
  font-size: .8rem;
  margin-bottom:0;
}

#programmer-info-container .tables-container {
  width:98%;margin-left:auto;margin-right:auto;
}

/********** for search results */

/********** end search results styles */

/********** chosen-rails style overrides */
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  /* background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 100% -20px; */
  background: none;
  background-attachment:fixed; /* this fixes the unwanted artifacts in the search box that appear at some resolutions */
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.chosen-container-single .chosen-search {
  /* background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 100% -20px; */
  background: none;
}

/********** end chosen-rails style overrides */

.banner-container {
  position: relative;
  text-align: center;
  padding: 0;
  &.case-study {
    @media only screen and (min-width: 1000px) {
      img {
        height: 400px;
        width: 1170px;
      }
    }
    @media only screen and (min-width: 500px) and (max-width: 999px) {
      img {
        width: 100%;
      }
    }
    @media only screen and (max-width: 499px) {
      img {
        width: 100%;
      }
    }
  }
}

#security_request_type_selector li {
  margin: 0;
  padding: 0;
}

/***** Tables ******/
table.data {
	border-collapse: collapse;
	th {
		padding: 5px 20px;
		text-align: center;
		color: white;
		background: #999;
		text-shadow: #666 0px 1px 0px;
		border: 1px solid #CCC;
		border-bottom: 1px #666 solid;
		a {
			color: white;
		}
	}
	td {
		border: 1px solid #CCC;
		padding: 6px;
	}
}

/******** Search ********/

/******** Footer Logos ********/
.footer_brand_logos {
  padding: 12px 0 0 0;
}
#footer_logo_akg, #footer_logo_bss, #footer_logo_dbx {
  width: 50px;
}
#footer_logo_crown {
  width: 77px;
  padding: 8px 0 0 0;
}
#footer_logo_jbl {
  width: 76px;
  padding: 6px 0 0 0;
}
#footer_logo_lexicon {
  width: 57px;
}
#footer_logo_martin {
  width: 64px;
  padding: 9px 0 0 0;
}
#footer_logo_soundcraft {
  width: 79px;
  padding: 8px 0 0 0;
}
