@import 'foundation/functions';

@font-face {
    font-family: 'quan_lightregular';
    src: font-url('Quan-Light-webfont.eot');
    src: font-url('Quan-Light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Quan-Light-webfont.woff') format('woff'),
         font-url('Quan-Light-webfont.ttf') format('truetype'),
         font-url('Quan-Light-webfont.svg#quan_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$row-width: rem-calc(1170);
$dark-gray: #323232;
$medium-gray: #a8a8a8;
$light-gray: #d0d0d0;
$secondary-color: $light-gray;

$body-bg: #FFF;
$body-font-color: $dark-gray;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: 400;

//$primary-color: #005a91;
// $primary-color: #005991;
// $primary-color: #0076bc;
$primary-color: #0077C8;
$secondary-color: $medium-gray;
$strip-bg-even: #E1E1E1;
$strip-bg-odd: $primary-color;
$include-print-styles: true;
$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 500;
$header-font-color: $dark-gray;
//$header-top-margin: .4em;

$h1-font-size: rem-calc(36px);
$h2-font-size: rem-calc(26px);
$h3-font-size: rem-calc(20px);
$h4-font-size: rem-calc(18px);
$h5-font-size: rem-calc(16px);
//$h6-font-size: 1em;
$subheader-font-color: lighten($dark-gray, 20%);
$small-font-color: lighten($header-font-color, 35%);
$paragraph-font-weight: 400;
$accordion-navigation-padding: rem-calc(14);
$accordion-navigation-bg-color: scale-color($light-gray, $lightness: 25%);
$accordion-navigation-active-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -13%);
$accordion-content-padding: rem-calc(12);
$accordion-navigation-font-size: rem-calc(13);
$tabs-navigation-padding: rem-calc(12);
$tabs-navigation-bg-color: $light-gray;
$tabs-navigation-active-bg-color: $medium-gray;
$tabs-navigation-hover-bg-color: scale-color($tabs-navigation-bg-color, $lightness: -6%);
$tabs-navigation-font-color: $dark-gray;
$tabs-navigation-active-font-color: $tabs-navigation-font-color;
$tabs-navigation-font-size: rem-calc(14);
$tabs-navigation-font-family: $body-font-family;

$anchor-font-color: lighten($primary-color, 12%);
$anchor-font-color-hover: lighten($anchor-font-color, 9%);
$form-spacing: rem-calc(18px);
$form-label-font-weight: 400;
$form-label-font-color: lighten($body-font-color, 30%);
$input-font-color: rgba(0,0,0,0.65);
$input-bg-color: darken(#fff, 2%);
$input-focus-bg-color: #fff;
$legend-bg: none;
$legend-font-weight: 200;
$button-tny: rem-calc(5px);
$button-sml: rem-calc(7px);
$button-med: rem-calc(10px);
$button-lrg: rem-calc(14px);
$button-font-weight: 300;
$button-border-style: none;
$clearing-bg: #fff;
$clearing-carousel-bg: #E1E1E1;
$clearing-close-color: $primary-color;
$clearing-arrow-size: 20px;
$clearing-arrow-color: $primary-color;
$clearing-caption-font-color: #111;
$clearing-carousel-height: 80px;
$clearing-carousel-thumb-width: 80px;
$clearing-carousel-thumb-active-border: 4px solid $primary-color;
$panel-bg: lighten($light-gray, 7%);
// $table-bg: #fff;
//$table-even-row-bg: lighten($body-bg, 2%);
//$table-border-style: solid;
//$table-border-size: 1px;
//$table-border-color: lighten($header-font-color, 45%);
//$table-head-bg: lighten($header-font-color, 70%);
//$table-head-font-color: $header-font-color;
// $table-head-font-weight: bold;
// $table-head-padding: rem-calc(8px) rem-calc(10px) rem-calc(10px);

// $table-row-padding: rem-calc(9px) rem-calc(10px);
// $table-row-font-size: rem-calc(14px);
// $table-row-font-color: #222;
// $table-line-height: rem-calc(18px);

// $table-display: table-cell;
// $table-margin-bottom: rem-calc(20px);

$topbar-bg-color: $primary-color;
$topbar-bg: $topbar-bg-color !default;
$topbar-height:                        rem-calc(54px);
// $topbar-margin-bottom:                 rem-calc(26px);
$topbar-input-height:                  rem-calc(12);
$topbar-title-weight:                  bold;
// $topbar-title-font-size:               rem-calc(17px);
$topbar-dropdown-bg:                      rgba($topbar-bg-color, 0.9);
// $topbar-dropdown-link-color:           #fff;
$topbar-dropdown-link-bg:                 rgba(darken($topbar-bg-color, 2%),0.85);
// $topbar-dropdown-toggle-size:          5px;
// $topbar-dropdown-toggle-color:         #fff;
$topbar-dropdown-toggle-alpha:         0.5;
// $topbar-link-color:                    #fff;
// $topbar-link-color-hover:              #fff;
// $topbar-link-color-active:             #fff;
$topbar-link-weight:                   light;
// $topbar-link-font-size:                rem-calc(13px);
$topbar-link-hover-lightness:          -30%; // Darken by 30%
$topbar-link-bg-hover:                 darken($topbar-bg, 3%);
$topbar-link-bg-active:                rgba($topbar-bg, 0.6);

// $topbar-dropdown-label-color:          #555;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight:    bold;
// $topbar-dropdown-label-font-size:      rem-calc(10px);

// $topbar-menu-link-transform:           uppercase;
// $topbar-menu-link-font-size:           rem-calc(13px);
$topbar-menu-link-weight:              200;
// $topbar-menu-link-color:               #fff;
// $topbar-menu-icon-color:               #fff;
// $topbar-menu-link-color-toggled:       #888;
// $topbar-menu-icon-color-toggled:       #888;

// $topbar-transition-speed:              300ms;
// $topbar-breakpoint:                    rem-calc(940px); // Change to 9999px for always mobile layout
// $topbar-media-query:                   "only screen and (min-width: #{$topbar-breakpoint})";
// $topbar-divider-border-bottom:         solid 1px lighten($topbar-bg-color, 10%);
// $topbar-divider-border-top:            solid 1px darken($topbar-bg-color, 10%);
$topbar-divider-border-bottom: solid 1px $topbar-bg-color;
$topbar-divider-border-top: solid 1px $topbar-bg-color;

$topbar-sticky-class:                  ".sticky";

$medium-breakpoint: em-calc(1200) !default;
$medium-range: (em-calc(740), $medium-breakpoint) !default;
$reveal-position-top: rem-calc(10);
$reveal-default-width: 60%;
$reveal-max-width: 75%;
@import 'brand_common';

/** search box in top nav **/
#search_form {
  button {
    margin-top: -10px;
  }
}
@media only screen and (min-width: 720px) {
	.logo-container img {
		padding: 2px 20px 0px;
	}
	#main_container {
		padding-bottom: 100px;
	}
  .top-bar-section {
    li.has-form {
      padding-right: rem-calc(10);
    }
  }
  /** search box in top nav **/
  #search_form #query {
    margin-bottom:5px;
    width:120px;
  }
}

@media only screen and (min-width: 1301px) {
  .top-bar-section {
    li:not(.has-form) a:not(.button) {
      padding: 0 14px !important;
    }
    li {
      &.has-dropdown {
        a {
          padding-right: 14px !important;
          &:after {
            margin-right: 1px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 719px) {
	.logo-container img {
		padding: 3px 0px 0px 6px;
	}
  .top-bar-section {
    li:not(.has-form) a:not(.button) {
      padding-left: rem-calc(6);
      padding-right: rem-calc(6);
    }
    li.has-form {
      padding: rem-calc(6) rem-calc(12);
      width: 100%;
    }
  }
}

.top-bar {
  .extra-space-hamburger {
    margin-top: 1rem;
    color: white;
  }
}
body {
	line-height: 1.5;
}

h1,h2 {
  font-family: "quan_lightregular", $header-font-family;
  line-height: 0.9;
}

/**** Main ******/
@media only screen and (min-width: 720px) {
  div.homepage_block {
    h2 {
      font-size: rem-calc(48px);
    }
    p {
      font-size: rem-calc(14px);
      line-height: 1.2;
      font-weight: 300;
    }
  }
}
@media only screen and (max-width: 719px) {
  div.homepage_block {
    h2 {
      font-size: rem-calc(28px);
    }
  }
}

div.homepage_block {
  &.around-the-world {
    background-image: asset-url("crown/around_the_world_strip_bg.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.product_family_header {
  background-color: #2b2c2d;
  h5 {
    color: #EEE;
  }
  a {
    color: white;
  }
}
.amp-power-container {
  padding: 30px 0 60px;
}

/********** for search results */

/********** end search results styles */

/********** chosen-rails style overrides */
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  /* background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 100% -20px; */
  background: none;
  background-attachment:fixed; /* this fixes the unwanted artifacts in the search box that appear at some resolutions */
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

  .chosen-container-single .chosen-search {
  /* background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 100% -20px; */
  background: none;
}

  /********** end chosen-rails style overrides */

.banner-container {
  position: relative;
  text-align: center;
  padding: 0;
  &.case-study {
    @media only screen and (min-width: 1000px) {
      img {
        height: 400px;
        width: 1170px;
      }
    }
    @media only screen and (min-width: 500px) and (max-width: 999px) {
      img {
        width: 100%;
      }
    }
    @media only screen and (max-width: 499px) {
      img {
        width: 100%;
      }
    }
  }
}

