/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*= require dbx_foundation_and_overrides
*= require jquery-ui-1.10.4.custom.min
*= require add2home
*= require_self
*/

$dark-gray: #575757;
$medium-gray: #a8a8a8;
$light-gray: #d0d0d0;
$primary-color: #d72131;
$secondary-color: $light-gray;


/* Akzidenz font has a hard time with CORS, so serve from our own server */


@font-face {
    font-family: 'berthold_akzidenz_groteskMdCn';
    src: url('/assets/akzidenzgroteskbe-mdcn-webfont.eot');
    src: url('/assets/akzidenzgroteskbe-mdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/akzidenzgroteskbe-mdcn-webfont.woff') format('woff'),
         url('/assets/akzidenzgroteskbe-mdcn-webfont.ttf') format('truetype'),
         url('/assets/akzidenzgroteskbe-mdcn-webfont.svg#berthold_akzidenz_groteskMdCn') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'berthold_akzidenz_groteskLtCn';
    src: url('/assets/akzidenzgroteskbe-lightcn-webfont.eot');
    src: url('/assets/akzidenzgroteskbe-lightcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/akzidenzgroteskbe-lightcn-webfont.woff') format('woff'),
         url('/assets/akzidenzgroteskbe-lightcn-webfont.ttf') format('truetype'),
         url('/assets/akzidenzgroteskbe-lightcn-webfont.svg#berthold_akzidenz_groteskLtCn') format('svg');
    font-weight: normal;
    font-style: normal;

}


img, div.menu, .pngfix, input { behavior: url("/css/iepngfix.htc") }

#video_background {
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width:100%;
	min-height:100%;
	max-height:4000%;
	max-width:1000%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}

#feature_spacer {
	position: relative;
	height: 20%;
	#tagline {
		position: absolute;
		bottom: -20px;
		right: 20px;
		color: lighten($light-gray, 10%);
		font: {
			family: 'berthold_akzidenz_groteskLtCn';
			size: 26px;
		}
		text: {
			shadow: 0px 0px 8px #000;
			transform: uppercase;
		}
	}
}

.bg-gif {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1000;
	overflow: hidden;
}

.bg-gif img {
	min-height: 100%;
	min-width: 100%;
}
@media only screen and (min-width: 720px) {
	.bg-gif { display: none; }
	#above-nav-space { min-height: 26px;}
}
@media only screen and (max-width: 720px) {
	#video_background { display: none; }
	#feature_spacer {
		height: 14%;
	}

}

// temporary hide admin link
	.admin_function {
		display: none;
	}
@media only screen and (min-width: 720px) {
	nav.top-bar {
	  /* Prevent background color leak outs */
	    -webkit-background-clip: padding-box; 
	    -moz-background-clip:    padding; 
	    background-clip:         padding-box;
	}
	img.no-resize { max-width: none; }
	.logo-container img {
		padding: 3px 25px 0px 35px;
	}
	#main_container {
		min-height: 500px;
		padding-bottom: 100px;
	}
}
@media only screen and (max-width: 720px) {
	img.no-resize-for-small { max-width: none; }

	.admin_function {
		display: none;
	}
	.logo-container img {
		padding: 3px 0px 0px 6px;
	}
}

html {
    height: 100%;
}
body {
	//background: #ddd;
	height: 100%;
	line-height: 1.5;
}

.content-container {
	background: white;
	margin-top: 20px;
	z-index: 10;
}

.custom.checkbox {
    margin-right: 6px;
}
fieldset {
	background-color: #EEE;
}
.bglink {
	a {
		font-size: 80%;
		//color: white;
	}
}

div.text-right.bglink {
	padding-right: 3px;
	padding-bottom: 1px;
}
.hint {
  font-size: 70%;
  color: #444;
}
span.hint {
  display: block;
  margin: -9px 0px 16px;
}
div.hint {
	margin-top: 1px;
}

h1, h2 {
	font-family: 'berthold_akzidenz_groteskMdCn', Helvetica, Arial, sans-serif;
	font-weight: 100;
}

.floating_message {
	position: absolute;
	background: #F0F0F0;
	border: 1px solid #CCC;
	box-shadow: 0px 0px 8px #222;
	font-size: 140%;
	border-radius: 6px;
	-moz-border-radius: 6px;
	width: 500px;
	top: -16px;
	left: 190px;
	z-index: 10000;
	padding: 10px 36px;
	
}

ul.list {
	margin-left: 16px;
}

.panel {
	p {
		font-size: 90%;
	}
	ul.list {
		li {
			text-transform: capitalize;
		}
	}
}

.tiny {
	font-size: 10px;
	font-weight: normal;
}
.hint {
	font-size: 90%;
	color: #333;
	font-style: oblique;
}
.clear {
	clear: both;
}
#preload {
	display: none;
}

select {
    -moz-box-sizing: border-box;
    background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.65);
    display: block;
    font-family: inherit;
    font-size: 0.875em;
    height: 2.5em;
    margin: 0 0 1.125em;
    padding: 0.5625em;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
}

/**** Application Layout *****/

#supersocial {
	text-align: right;
	a {
		margin-left: 4px;
	}
	z-index: 1;
	img {
	    filter: url(/filters.svg#desaturate); /* Firefox 3.5+ */
	    filter: gray; /* IE5+ */
	    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome 18+ (currently Beta) */
		-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayscale=1)";
		&:hover {
		    filter: none;
		    -webkit-filter: grayscale(0);
			-ms-filter: none;
		}
	}
}

ul.image-grid {
	margin-bottom: 8px;
	li {
		padding:1px;
		margin:0px;
		position: relative;
		overflow: hidden;
		h4 {
			background: -moz-linear-gradient(transparent, rgba(0,0,0,1));
			font-size: 13px;
			font-weight: 200;
			letter-spacing: 1px;
			position: absolute;
			bottom: 0px;
			left: 0px;
			padding: 4px 10px;
			color: $light-gray;
			text-shadow: 1px 1px 1px #000;
			height: 26px;
			overflow: hidden;
		}
		img {
			width: 100%;
		}
		a {
			&:hover {
				h4 {
					color: white;
				}
			}
		}
		&.featured {
			height: 175px;
			h4 {
				margin: 0px 2px;
				width: 298px;
			}
		}
		&.secondary {
			height: 120px;
			h4 {
				margin: 0px 2px;
				width: 119px;
			}
		}
		&.news-with-popover {
			.popover { display: none;}
			&:hover {
				background: $primary-color;
				.popover {
					display: block;
					padding: 10px;
					color: $light-gray !important;
					h3 {
						color: white !important;
					}
					h5 {
						color: white !important;
					}
				}
				img {
					display: none;
				}
				h4 {
					color: $light-gray;
					text-shadow: none;
					background: none;
				}
			}
		}
	}
}

div#middle_features {
	margin: 40px 0px;
}



.internal_page {
	border: 1px solid #444;
	min-height: 350px;
}

div#pre-footer {
	margin: 0 auto;
	padding: 20px 0 10px;
}

.divider_above {
	border-top: 1px dotted #7283AF; 
	margin-top: 20px;
}
footer {
	position: relative;
	margin: 0px 0px 30px;
	height: 120px;
	div#footer_info {
		text-align: right;
		margin-top: 10px;
	}	
	div#footer_left {
		margin: 10px 0px;
		img {
			margin: -10px 4px 0px 0px;
		}
	}
	.footer_text {
		font-size: 80%;
	}
	.container {
		margin-bottom: 80px;
		background: white;
	}
}
div#harmanpro_bar {
	background: #5a5b5e;
	padding: 40px 0px;
	margin-bottom: 8px;
	text-align: center;
}

#social_media_links {
	text-align: center;
	margin-bottom: 10px;
	img {
		margin-left: 8px;
		margin-right: 8px;
	}
}

.light_gray {
	background: #EEE;
}

/**** Main ******/
div.superpadded {
	padding: 100px 80px;
	h2 {
		margin-top: -70px;
		margin-bottom: 4px;
	}
	.social {
		a {
			margin-right: 4px;
		}
	}
}
div.featured_product_container {
	position: relative;
	margin-bottom: 60px;
	div.featured_image_container {
		overflow: hidden;
		position: absolute;
		top: 5px;
		&.left {
			right: 20px;
		}
		&.right {
			left: 20px;
		}
		img {
			max-width: none;
		}
	}
}
@media only screen and (min-width: 720px) {
	div.homepage_block {
		min-height: 360px;
		margin: 140px 0px 100px;
		h1 {
			font-size: 4em;
			line-height: 1em;
			margin: 0;
		}
		h2 {
			font-size: 2.5em;
		}
		h3 {
			font-size: 1.5em;
			margin-top: 0;
		}
		p {
			line-height: 1.2em;
			margin-bottom: 10px;
		}
	}
}
@media only screen and (max-width: 720px) {
	div.homgepage_block {
		margin: 40px 0px;	
		h1 {
			font-size: 2.25em;
		}
	}
	div.featured_product_container {
		margin: 10px 0px;
		img {
			margin-bottom: 15px;
		}
	}
	.small-left {
		text-align: left !important;
	}

}

div.promotion_container {
	background: darken($dark-gray, 80%);
	padding: 10px 0px;
	margin-bottom: 8px;
}

div#countdown {
	margin-top: -57px;
	z-index: 99999;
	font-size: 32px;
	color: #ddd;
	font-weight: 100;
	//font-family: "Helvetica Condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
}
div.product_family_feature {
	background: #FFF;
	border: 1px solid #CCC;
	margin: 20px;
	padding: 10px;
	width: 250px;
	height: 275px;
	float: left;
	text-align: left;
	color: #000;
	h3 {
		border-top: 1px dotted #666;
		padding-top: 4px;
		margin-top: 6px;
	}
}

div.placeholder {
	border: 5px solid #CCC;
	background: #EEE;
	color: #666;
	margin-bottom: 5px;
	margin-left: auto; 
	margin-right: auto;
}
div.family_photo {
	height: 125px; width: 150px; 
}
.family_button {
	margin-right: 17px;
}
div#signup {
/*	margin-top: 8px; */
	margin-bottom: 12px;
	text-align: left;
}
div#signup h2 {
/*	margin-top: 6px;*/
}
/***** Product Family Page *****/
.product_family_header {
	text-align: center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.product_family_image_box {
	position: relative;
	float: left;
	box-shadow: 0px 2px 4px #DDD;
	width: 177px;
	height: 168px;
	overflow: hidden;
	padding: 0px;
	margin: 5px;
}
.product_family_box {
	position: relative;
	float: left;
	box-shadow: 0px 2px 4px #DDD;
	width: 165px;
	height: 160px;
	overflow: hidden;
	padding: 4px 6px;
	margin: 5px;
	background: #EEE asset-url('lexicon/light_gray_gradient.png', image) repeat-x;
	h2 {
		color: #444;
		font-size: 21px;
		line-height: 23px;
		text-shadow: 0px 1px 0px #FFF;
	}
	&:hover {
		background: #888;
		box-shadow: 0px 1px 5px #888;
		h2 {
			color: #FFF;
			text-shadow: 0px 1px 0px #111;
		}
		p { color: #FFF; }
	}
	p {
		color: #000;
		position: absolute;
		top: 60px;
		left: 6px;
		width: 124px;
		height: 90px;
		line-height: 13px;
		overflow: hidden;
	}
}
.small_product_box {
	//border: 1px solid #CCC;
	padding: 2px;
	background: white;
	//height: 200px;
	position: relative;
	color: #444;
	overflow: hidden;
	width: 100%; // of the container
	img {
		margin: 10px 0px 6px;
	}
	.product_thumb {
		width: 100%;
	}
	.compare_checkbox {
		margin-top: 10px;
	}
	h3 {

		font-weight: 400;
		margin-bottom: 4px;
		&.vertical {
			margin-top: 28px;
		}
	}
	.product_description {
		font-size: 14px;
		line-height: 15px;
	}
}
@media only screen and (max-width: 720px) {
	.small_product_box {
		.product_description {
			line-height: 16px;
		}
	}
}
.related_products {
	margin: 20px 0px;
	font-style: oblique;
}
table.comparison {
	border-collapse: collapse;
	border: 1px solid #CCC;
	td {
		padding: 6px 8px;
		border: 1px dotted #CCC;
		&.spec_name {
			font-size: 90%;
			width: 120px;
			color: #111;
			background: #EEE;
		}
		&.spec_value {
			text-align: center;
		}
	}
	th {
		padding: 4px;
		border: 1px solid #CCC;
		border-bottom: 2px solid #CCC;
	}
}
div.compare_button {
	padding: 40px 0px;
}
/***** Product Page *****/

.suggested_product a {
	text-decoration: none;
	color: #555;
	h3 {
		color: #000;
	}
}

#viewer_container {
	margin: 10px 0px;
	background: white;
}
@media only screen and (min-width: 720px) {
	#viewer_container {
		margin: 20px 0px 40px;
		height: 280px;
		display: table;
		width: 100%;
	}
	#viewer {
	   display: table-cell;
	   text-align: center;
	   vertical-align: middle;
	}
}
@media only screen and (max-width: 720px) {
	#viewer_container {
		margin: 40px 0px;
	}
}
.larger_tag {
	margin-left: 0px;
	font-size: 90%;
	color: #777;
}
ul#product_thumbnails {
	margin: 4px 0px 10px 0px;
	padding: 0px;
	text-align: left;
	li {
		padding: 2px;
		border: 1px solid #E6E6E6;
		margin-right: 6px;
		background: white;
		overflow: hidden;
		text-align: center;
	}
}
ul#discontinued_product_thumbnails {
	margin: 14px 0px;
	padding: 4px;
	text-align: left;
	border: none;
	li {
		display: inline;
		list-style: none;
		padding: 6px;
	}
}
.product_main_tab_content {
	margin-bottom: 20px;
	ul {
		margin-left: 30px;
	}
}
#description {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
#breadcrumbs {
	font-size: 90%;
	text-align: left;
	letter-spacing: 0.02em;
}
div.accordion {
	div.content {
		ul {
			margin-left: 10px;
			list-style: none;
			li:before {
				content: "\2022 \00A0";
				color: $primary-color;
				font-weight: bold;
			}
		}
		ul.docs, ul.downloads, ul.news {
			margin-left: 0px;
			list-style:none;
			li:before {
				content: ""
			}
			li {
				font-size: 11px;
				a {
					font-weight: 400;
					font-size: 13px;
				}
			}
		}
	}
}
.product_detail_box {
	margin-bottom: 10px;
	h2 {
		margin: 0; padding: 0;
		font-size: 16px;
		a:link, a:visited {
			color: #777;
			border-bottom: 1px solid #E6E6E6;
			background: #FFF asset-url('lexicon/browse_products_arrow.png', image) no-repeat;
			background-position: 4px 9px;
			display: block;
			padding-left: 19px;
			padding-top: 2px;
			line-height: 28px;
		}
	}
}

#product_packaging_tabs {
	ul {
		margin:0; padding:0;
		margin-bottom: -8px;
	}
	li {
		margin:0; padding:0;
		display: inline;
		list-style: none;
		border: none;
		a {
			display: block;
			float: left;
			height: 30px;
			padding: 3px 4px 2px 2px;
			margin-right: 4px;
			text-decoration: none;
			border: 1px solid #E6E6E6;
			background: #EEE;
			margin-bottom: 4px;
			color: #040437;
			font-size: 90%;
			letter-spacing: -1px;
			&:hover {
				background: #FFF;
				border: 1px solid #E6E6E6;
			}
		}
		&.current a {
			background: #E6E6E6 asset-url('tabbg.png', image);
			border: 1px solid #E6E6E6;
			border-bottom: none;
			padding-bottom: 8px;
			margin-bottom: -4px;
			z-index: 990;
		}
	}
}

#product_packaging_contents {
	clear: both;
	border: 1px solid #E6E6E6;
	margin-bottom: 10px;
	padding: 16px 21px;
	height: 230px;
	overflow: auto;
}
h2.special_offer {
	//font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 0px;
	a:link, a:visited {
		display: block;
		color: #666;
	}
}
.special_offer_contents {
}
.product_tab_content {
/*	border: 1px solid #E6E6E6;*/
	padding: 10px;
	width: 260px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
/*	max-height: 230px;*/
	overflow: auto;
}
table.specs {
	border-collapse: collapse;
	margin: 8px 0px;
	width: 100%;
	td {
		padding: 7px 16px;
		border-bottom: 1px solid #CCC;
		color: #333;
		&.name {
			font-size: 85%;
			border-right: 1px solid #DDD;
			color: #777;
		}
		&.divided {
			border-right: 1px solid #CCC;
		}
	}
	th {
		padding: 2px 6px;
		font-size: 16px;
		line-height: 26px;
		border-bottom: 2px solid #333;
	}
}
.odd {}
.even {
	background: #EEE;
}
.faq {
	margin-bottom: 8px;
	h3 {
		font-size: 14px;
	}
}
span.discontinued {
	color: red;
	font-size: 70%;
	font-weight: normal;
	margin-left: 6px;
}
div#product_buy_now_box {
	text-align: center;
	padding: 10px;
	margin: 10px 0px 20px -30px;
}

/***** Dealer Lookup *****/
div#dealer_lookup_floater {
	float: right;
	text-align: right;
	width: 650px;
}
.form_container {
	background: #6D6D6D;
	color: #FFF;
	padding: 8px 12px 2px 18px;
	margin-bottom: 6px;
	a:link, a:visited {
		color: white;
	}
}
ul.dealer_results li {
	margin-left: 12px;
	margin-bottom: 12px;
}
div#pop_info {
	width: 275px;
	text-align: center;
	background: #EEE;
	padding: 8px 10px;
	float: left;
	margin: 15px;
	margin-right: 5px;
	p {
		text-align: left;
		margin: 6px;
	}
}
@media only screen and (min-width: 720px) {
	div#dealer_results {
		height: 600px;
		overflow: auto;
	}
}

div.retailer_logo {
  float: left;
  margin: 6px;
  width: 125px;
}

/****** News ********/

@media only screen and (min-width: 720px) {
	.news_container {
		padding-bottom: 40px;
		border-bottom: 1px solid lighten($light-gray, 7%);

		h3 {
			margin-top: -2px; 
			font-size: 99%;
		}
	}
	.featured-news-image-container {
		background: black !important;
	}
}
@media only screen and (max-width: 720px) {
	.news_container {

	}
}
.blog-date {
	border: none;
	h2.subheader {
		line-height: .9em;
	}
}

/******** Search ********/
ol#search_results {
	margin: 8px;
	margin-left: 20px;
	li {
		margin-bottom: 6px;
		list-style-type: decimal;
	}
}
.search_link a:link,
.search_link a:visited {
	color: green;
}
/******* Support *******/

div.captcha {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

/******** Form Errors ********/
div.field_with_errors {
	display: inline;
}
.field_with_errors label {
  color: red;
  font-weight: bold;
/*  display: table;*/
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin-left: auto;
  margin-right: auto;
	h2 {
	  text-align: left;
	  font-weight: bold;
	  padding: 5px 5px 5px 15px;
	  font-size: 12px;
	  margin: -7px;
	  background-color: #c00;
	  color: #fff;
	}

	p {
	  color: #333;
	  margin-bottom: 0;
	  padding: 5px;
	  margin-top: 4px;
	}
	ul {
		margin-left: 24px;
		padding-left: 12px;
		li {
		  font-size: 12px;
		  list-style: square;
		  color: #000;
		}
	}
}
/****** Information Tables *****/
table.info {
	width: 100%;
	border: 1px solid darken($light-gray, 10%);
	border-collapse: collapse;
	tr td, tr th {
		padding: 6px;
		border: 1px dotted darken($light-gray, 10%);
	}
	th {
		background: lighten($light-gray, 7%);
	}
}
table.download-collection {
	border-collapse: collapse;
	border: 1px solid #EEE;
	box-shadow: 1px 3px 3px #CCC;
	margin-top: 25px;
	tr td {
		padding: 12px 6px;
		background: white;
		border: 1px solid #EEE;
	}
	th {
		padding: 6px;
		background: #be1300;
		color: white;
		text-shadow: 0px 1px 1px #410303;
		font-size: 15px;
		a:link, a:hover, a:visited {
			color: white;
		}
	}
}
/****** Software Downloads *******/
div#software-page-content {
	margin-top: 20px; 
	margin-bottom: 40px;
	.aside {
		float: right;
		margin: 10px 50px; 
		width: 300px; 
		.download_box {
			margin-bottom: 10px;
			text-align: center; 
			background: #EEE; 
			padding: 20px 20px 10px 20px;
		}
		div#signup {
			text-align: center; 
		}
	}
}
/****** Youtube table ********/
table.tube {
	td {
		padding: 1px 1px 1px 8px;
	}
}
/******* Promo page *******/
.promotion_bug_container {
	margin-bottom: 30px;
	img {
		margin: 10px 0px;
	}
}
/************** ***********/
.disclaimer {
	font-size: 80%; 
	margin-bottom: 10px;
	font-style:oblique; 
	color: #333
}

/*** admin functions **/
.admin_function {
	position: absolute;
	top: 0px;
	right: -40px;
	color: white;
	z-index: 20;
	a:link, a:visited {
		color: white;
		text-decoration: none;
		display: block;
		background: #222;
		padding: 1px 6px 3px 6px;
		border-radius: 4px;
		-moz-border-radius: 6px;
	}
	a:hover {
		color: white;
		text-decoration: none;
		background: #777;
	}
}
#admin_menu_link {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 30;
	a:link, a:visited {
		display: block;
		color: #EEE;
		text-decoration: none;
		padding: 1px 6px 3px 6px;
		font-family: Helvetica, arial, sans-serif;
		font-weight: normal;
		font-size: 10px;
		text-shadow: #222 1px 1px 1px;
		background: #00395a;
	}
	a:hover {
		color: #FFF;
	}
}
.small_button {
	font-size: 11px; 
	font-weight: normal; 
	border-radius: 3px; 
	border: 1px solid #CCC; 
	padding: 1px 5px;
}
table.training_list {
	width: 800px; 
	margin: 30px auto;
	td {
		vertical-align: top;
		padding: 4px 26px;
		h3 {
			font-size: 14px;
			font-weight: normal;
			text-transform: uppercase;
			line-height: 16px;
			margin-top: 0px;
			margin-bottom: 6px;
			border-bottom: 1px solid #999;
			color: #555;
		}
		ul {
			margin-bottom: 18px;
		}
		ol {
			margin-bottom: 18px;
			margin-left: 0px;
			padding-left: 20px;
			li {
				margin-left: 0px;
				padding-left: 0px;
			}
		}
	}
}

.callout {
	background: #EEE;
	box-shadow: 1px 2px 3px #BBB;
	padding: 8px 12px;
	margin: 8px 0px;
}
a {
	.software_banner {
		border: 1px solid #c1c1c1;
		box-shadow: 1px 2px 4px #CCC;
		background: #fbfbfb;
		&:hover {
			background: #eaeaea;
		}
		h3 {
			text-decoration: none;
		}
	}
}
div.quicklinks {
	margin: 20px 0px;
	ul {
		list-style-type: disc;
		margin: 10px 20px 30px;
		li {
			font-size: 13px;
			margin-left: 20px;
		}
	}
}

@-webkit-keyframes bouncing {
  0% { bottom: 9px; }
  50% { bottom: 12px; }
  100% { bottom: 9px; } 
}

@-moz-keyframes bouncing {
  0% { bottom: 9px; }
  50% { bottom: 12px; }
  100% { bottom: 9px; } 
}

@-ms-keyframes bouncing {
  0% { bottom: 9px; }
  50% { bottom: 12px; }
  100% { bottom: 9px; } 
}

@keyframes bouncing {
  0% { bottom: 9px; }
  50% { bottom: 12px; }
  100% { bottom: 9px; } 
}		

.bouncing-arrow {
  background: asset-url('dod/arrow.png', image);
  width: 56px;
  height: 25px;
  position: fixed;
  left: 50%;
  bottom: 9px;
  margin-left: -28px;
  z-index: 1000;
  -webkit-animation: bouncing 750ms infinite;
  -moz-animation: bouncing 750ms infinite;
  -ms-animation: bouncing 750ms infinite;
  animation: bouncing 750ms infinite; 
}

@media only screen and (min-width: 720px) {
	#promotion_side_button {
		transform: rotate(90deg);
		transform-origin: right top 0;
		position: fixed;
		z-index: 9999999;
		top: 450px;
		right: -2px;
		a {
			outline: 2px solid white;
		}
	}
}
@media only screen and (max-width: 719px) {
	#promotion_side_button {
		display: none;
	}
}