/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*= require reset
*= require dod_framework_and_overrides
*= require lightbox
*= require tiny
*= require jquery-ui.min
*= require_self
*/
img, div.menu, .pngfix, input { behavior: url("/css/iepngfix.htc") }

body {
	background: #000;
	text-align: center;
}
div#logo {
	margin-bottom: 6%;
}
div#footer {
	position: fixed;
	bottom: 20px;
	width: 100%;
	text-align: center;
	color: #333;
	font-size: 10px;
	a {
		color: #444;
		&:hover {
			color: #fdff45;
		}
	}
	div#footer_info {
		position: static;
		text-align: center;
	}
}
div#middle_container {
	text-align: center;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 20%;
	width: 100%;
}
