@import 'foundation/functions';

$dark-gray: #575757;
$dark-blue: #062659;
$medium-gray: #a8a8a8;
$light-gray: #ededed;
$strip-bg-even: #E1E1E1;
$strip-bg-odd: #000000;

$row-width: rem-calc(1170);
$body-bg: #FFF;
$body-font-color: $dark-gray;
$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: 400;
$primary-color: #00162e;
$secondary-color: $medium-gray;
$include-print-styles: true;
$header-font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 600;
$header-font-color: $dark-gray;
$header-top-margin: .4em;

$h1-font-size: rem-calc(28px);
$h2-font-size: rem-calc(22px);
$h3-font-size: rem-calc(18px);
$h4-font-size: rem-calc(16px);
$h5-font-size: rem-calc(14px);
$h6-font-size: 1em;

$subheader-font-color: lighten($dark-gray, 20%);
$small-font-color: lighten($header-font-color, 35%);

$paragraph-font-weight: 300;
$accordion-navigation-padding: rem-calc(14);
$accordion-navigation-bg-color: scale-color($light-gray, $lightness: 25%);
$accordion-navigation-active-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -13%);
$accordion-content-padding: rem-calc(12);
$accordion-navigation-font-size: rem-calc(13);
$tabs-navigation-padding: rem-calc(12);
$tabs-navigation-bg-color: $light-gray;
$tabs-navigation-active-bg-color: white;
$tabs-navigation-hover-bg-color: scale-color($tabs-navigation-bg-color, $lightness: -6%);
$tabs-navigation-font-color: $dark-gray;
$tabs-navigation-active-font-color: $tabs-navigation-font-color;
$tabs-navigation-font-size: rem-calc(13);
$tabs-navigation-font-family: $body-font-family;
$anchor-font-color: #00275d;
$anchor-font-color-hover: lighten($anchor-font-color, 5%);

$form-spacing: rem-calc(18px);
$form-label-font-weight: 400;
$form-label-font-color: lighten($body-font-color, 30%);
$input-font-color: rgba(0,0,0,0.65);
$input-bg-color: darken(#fff, 2%);
$input-focus-bg-color: #fff;
$button-tny: rem-calc(5px);
$button-sml: rem-calc(7px);
$button-med: rem-calc(10px);
$button-lrg: rem-calc(14px);
$button-font-weight: 300;
$button-border-style: none;
$topbar-bg-color: $primary-color;
$topbar-bg: $topbar-bg-color !default;
$topbar-height:                        rem-calc(90px);
$topbar-title-weight:                  bold;
$topbar-dropdown-bg:                      rgba($topbar-bg-color, 0.9);
$topbar-dropdown-link-bg:                 rgba(darken($topbar-bg-color, 2%),0.85);
$topbar-dropdown-toggle-alpha:         0.5;
$topbar-link-weight:                   light;
$topbar-link-hover-lightness:          -30%; // Darken by 30%
$topbar-link-bg-hover:                 darken($topbar-bg, 3%);
$topbar-link-bg-active:                rgba($topbar-bg, 0.6);
$topbar-menu-link-weight:              200;

$topbar-sticky-class:                  ".sticky";

$medium-breakpoint: em-calc(1200) !default;
$medium-range: (em-calc(740), $medium-breakpoint) !default;
$reveal-position-top: rem-calc(10);
$reveal-default-width: 60%;
$reveal-max-width: 75%;
@import 'brand_common';

h1 { font-size: 37px; line-height: 1; text-transform: uppercase; font-weight: normal; }
h2 { font-size: 19px; line-height: initial; text-transform: uppercase; font-weight: normal; }

@media only screen and (min-width: 720px) {
	.logo-container img {
		padding: 8px 10px 0px 16px;
		width: 84px;
	}
  .top-bar-section {
    li.has-form {
      padding: rem-calc(17);
      padding-right: rem-calc(10);
    }
  }
  /** search box in top nav **/
  #search_form #query {
    margin-bottom:5px;
    width:120px;
  }
  .top-bar input, .top-bar .button {
      top: 16px;
      height: 1.9em;
  }
}

@media only screen and (min-width: 1301px) {
  .top-bar-section {
    li:not(.has-form) a:not(.button) {
      padding: 0 14px !important;
    }
    li {
      &.has-dropdown {
        a {
          padding-right: 14px !important;
          &:after {
            margin-right: 1px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 719px) {
	.logo-container img {
		padding: 4px 0px 0px 6px;
	}
  .top-bar-section {
    li:not(.has-form) a:not(.button) {
      padding-left: rem-calc(6);
      padding-right: rem-calc(6);
    }
    li.has-form {
      padding: rem-calc(6) rem-calc(12);
      width: 100%;
    }
  }
}

body {
	line-height: 1.5;
}
@media only screen and (min-width: 720px) {
  div.homepage_block {
    min-height:0;
    h1 {
      font-size: 2.3em;
      line-height: 1.1;
    }
    h2 {
      font-size: 1.9em;
    }
    h3 {
      font-size: 1.5em;
    }
    p {
      line-height: 13px;
    }    
  }
}
@media only screen and (max-width: 719px) {
  div.homepage_block {
    h1 {
      font-size: 2em;
    }
  }
}

div.homepage_block {
  &.market_segments {
    li {
      div.market-segment {
        position: relative;
        img {
          width: 100%;
        }
        div.text-center {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          max-height: 65px;
          overflow: hidden;
          background: rgb(255, 255, 255);
          background: rgba(255, 255, 255, 0.8);
          color: $dark-gray;
          padding: 4px 0 1px;
          p {
            font-size: rem-calc(11px);
          }
          a {
            color: $dark-gray;
          }
        }
      }
    }
  }
  &.features {
    li {
      div.feature {
        position: relative;
        img {
          width: 100%;
        }
        div.text-center {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          max-height: 65px;
          overflow: hidden;
          background: rgb(0, 0, 0);
          background: rgba(0, 0, 0, 0.8);
          color: $light-gray;
          h4 { color: $white; }
          p {
            font-size: rem-calc(11px);
          }
          a {
            color: $white;
            h4 {
              color: $white;
            }
            &:hover {
              color: scale-color($white, $lightness: -20%);
              h4 {
                color: scale-color($white, $lightness: -20%);
              }
            }
          }
        }
      }
    }
  }
}

#video_pattern{
  display: none;
}
div.market_segment_banner {
  position: relative;
  h1 {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    color: $dark-gray;
    padding: 4px 10px;
  }
}

div.product-title-block, div.small-title-block {
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
  h3 {
    color: $medium-gray;
    font-weight: 300;
  }
  dl.side-nav {
    dd {
      font-size: rem-calc(14px);
      line-height: 1.5;
      a {
        color: $medium-gray;
      }
    }
  }
}
.headline_slide {
  h1 {
    @media only screen and (min-width: 720px) {
      font-size: emCalc(40px);
      line-height: 1.1;
    }
    @media only screen and (max-width: 719px) {
      font-size: emCalc(20px);
    }
  }
}

/***** Product Family Page *****/
.product_family_header {
  background-color: scale-color($light-gray, $lightness: -10%);
  color: scale-color($dark-gray, $lightness: 0%);
  padding: rem-calc(40) 0 rem-calc(50);
  h1 {
    font-size: rem-calc(52);
    color: scale-color($dark-blue, $lightness: 5%);
  }
}
.small_product_box {
  padding: 2px 2px 40px;
  background: white;
  position: relative;
  color: #444;
  overflow: hidden;
  width: 100%; // of the container
  img {
    margin: 10px 2px 6px;
  }
  .product_thumb {
    width: 100%;
    padding-right: 10px;
  }
  .compare_checkbox {
    margin-top: 10px;
  }
  h3 {
    font-weight: 400;
    margin-bottom: 4px;
    &.vertical {
      margin-top: 8px;
    }
  }
  .product_description {
    font-size: 14px;
    line-height: 15px;
    color: scale-color($dark-blue, $lightness: 5%);
  }
}

/********** chosen-rails style overrides */
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  /* background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 100% -20px; */
  background: none;
  background-attachment:fixed; /* this fixes the unwanted artifacts in the search box that appear at some resolutions */
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.chosen-container-single .chosen-search {
  /* background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 100% -20px; */
  background: none;
}

/********** end chosen-rails style overrides */

/******** Footer Logos ********/
.footer_brand_logos {
  padding: 12px 0 0 0;
}
#footer_logo_akg, #footer_logo_bss, #footer_logo_dbx {
  width: 50px;
}
#footer_logo_amx {
  width: 57px;
}
#footer_logo_crown {
  width: 77px;
  padding: 8px 0 0 0;
}
#footer_logo_jbl {
  width: 76px;
  padding: 6px 0 0 0;
}
#footer_logo_lexicon {
  width: 57px;
}
#footer_logo_martin {
  width: 64px;
  padding: 8px 0 0 0;
}
#footer_logo_soundcraft {
  width: 79px;
  padding: 6px 0 0 0;
}
