$font_family: Helvetica, arial, verdana, sans-serif;
$divider: asset-url('digitech/gray_horizontal_divider.png');

#product-notice {
	background-color: #fd9b45;
	padding: 10px 20px;
	color: black;
	font-size: 13px;
	line-height: 18px;
}

header#product_header {
	position: relative;
	h1 {
		font-size: 38px;
		color: #222;
		small {
			padding-left: 4px;
			letter-spacing: normal;
			color: #777;
			font: {
				size: 70%;
				weight: normal;
			}
		}
	}
	&.istomp {
		height: 66px;
	}
	#tec_burst {
		position: absolute;
		top: 310px;
		left: -56px;
		z-index: 999999;
	}
}

#product_content {
	position: relative;
	overflow: hidden;
	background: {
		image: url($divider);
		position: bottom center;
		repeat: no-repeat;
	}
  p {
    font-size: 15px;
    line-height: 1.3;
  }
  .product_main_tab_content {
    margin-bottom: 0 !important;
  }
  .tabs-content {
    margin-bottom: 0 !important;
  }
	div#demo_msg {
		font-size: 10px;
		letter-spacing: normal;
		font-style: oblique;
	}
	li.sm2_link a {
		padding-right: 8px;
	}
	&.istomp {
    height: 415px;
		background: {
			image: asset-url('digitech/istomp/guitar_player_bg.jpg');
			position: top right;
			repeat: no-repeat;
		}
	}
	&.stomp_shop {
		margin-top: 20px;
    height: 400px;
    @media only screen and (min-width: 720px) {
      background: {
        image: asset-url('digitech/istomp/stomp_shop_bg.jpg');
        position: top right;
        repeat: no-repeat;
      }
    }
	}
	&.epedal {
		#right_side_image {
			#label_request_box {
				font-size: 10px;
				color: #555;
			}
		}
	}
  #product_buy_now_box {
    margin: 10px;
  }
	h2 {
		font-size: 18px;
		letter-spacing: normal;
	}
  #viewer {
    display: block;
    .burst {
      position: absolute;
      top: 6px;
      left: 22px;
    }
  }
	#right_column {
		overflow: auto;
		ul {
			margin-left: 1px;
		}
		li {
			font-size: 13px;
			line-height: 19px;
			margin-bottom: 4px;
		}
		.description h1 {
			font: {
				size: 18px;
				weight: normal;
				family: $font_family;
			}
			text-align: left;
			line-height: 22px;
			background: white;
			color: #111;
			padding-left: 0px;
		}
	}
	.gallery {
		padding-bottom: 8px;
		img {
			margin: 4px;
			padding: 4px;
			outline: 1px solid #9C9C9C;
		}
	}
}

table.specs {
	margin: 4px 0px 10px;
	border: 1px solid #CCC;
	td {
		font-size: 11px;
		line-height: 14px;
		padding: 3px 10px 0px;
		border-bottom: 1px dotted #555;
		&.name {
			background: #E1E1E1;
			color: #333;
			font-size: 14px;
			line-height: 17px;
		}
	}
}

div#product_buy_now_box {
	margin-top: 0px;
	span.price_label {
		font-size: 11px;
		letter-spacing: -0.05em;
		color: #333;
	}
	span.price {
		font: {
			weight: bold;
			size: 16px;
		}
	}
}

div#epedals {
	margin: 0px auto 20px;
	padding: 0px 40px 20px;
	background: {
		image: url($divider);
		position: bottom center;
		repeat: no-repeat;
	}
	h3 {
		text-align: center;
		font: {
			family: $font_family;
			size: 16px;
		}
		color: #888;
		line-height: 30px;
	}
}
section#product_bottom_content {
	margin: 20px auto;
	padding-bottom: 8px;
	width: 98%;
	background: {
		image: url($divider);
		position: bottom center;
		repeat: no-repeat;
	}
  p {
    font-size: 14px;
    line-height: 1.4;
  }
	.callout {
		height: 404px;
		overflow: hidden;
		font-size: 12px;
    line-height: 1.2;
		a:link, a:visited {
			text-decoration: none;
			font-weight: bold;
			color: #444;
		}
	}
	.left_callout {
		border-right: 1px solid #B3B3B3;
		width: 50%;
	}
	.right_callout {
		float: right;
		width: 49%;
	}
	div#stomp_shop_callout {
		background: {
			image: asset-url('digitech/istomp/stomp_shop_callout_bg.png');
			position: bottom right;
			repeat: no-repeat;
		}
		div#stomp_shop_callout_content {
			width: 155px;
			margin-top: 8px;
			height: 315px;
			overflow: hidden;
		}
	}
	div#featured_callout {
		div.featured_pedal {
			float: left;
			width: 180px;
			text-align: center;
			position: relative;
			h5 {
				margin-top: 9px;
				text: {
					transform: uppercase;
					align: left;
				}
				color: #555;
				font-size: 15px;
				width: 190px;
				overflow: hidden;
			}
			p {
				text-align: left;
			}
			div.burst {
				position: absolute;
				top: 10px;
				right: 5px;
			}
		}
	}
	div#istomp_callout {
		background: {
			image: asset-url('digitech/istomp/istomp_callout_bg.jpg');
			position: top right;
			repeat: no-repeat;
		}
		position: relative;
		div#istomp_callout_content {
			position: absolute;
			top: 290px;
			left: 200px;
			width: 250px;
		}
	}
}

div#videos_container {
	text-align: center;
	position: relative;
	#video_label1 {
		position: absolute;
		bottom: -20px;
		left: 20px;
		width: 450px;
		height: 20px;
		text-align: center;
	}
	#video_label2 {
		position: absolute;
		bottom: -20px;
		right: 20px;
		width: 450px;
		height: 20px;
		text-align: center;
	}
}

form.callout {
	margin: 30px 40px 40px 40px;
	background: #EEE;
	box-shadow: 0px 2px 5px #AAA;
	padding: 20px 26px;
	label {
		display: block;
		&.control-label {
			color: #444;
			font-size: 14px;
			line-height: 24px;
			text-transform: uppercase;
		}
		&.checkbox {
			text-transform: none;
		}
	}
	div.input {
		margin-bottom: 20px;
	}
	input, select {
		font-size: 16px;
		padding: 4px 6px;
		font-weight: normal;
	}
	table.selection {
		margin: 10px 0px 10px;
		width: 700px;
		td {
			&.label-box {
				width: 360px;
				overflow: hidden;
				background: white;
				padding: 8px;
				margin: 8px;
			}
			&.label-description {
				padding: 16px;
				margin: 8px;
				font-size: 20px;
				input.check_boxes {
					padding: 8px;
					font-size: 200%;
				}
				.hint {
					font-size:12px;
					line-height: 17px;
					margin: 8px 0;
				}
			}
		}
	}
}
