@import 'foundation/functions';
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500);

$dark-gray: #575757;
$medium-gray: #a8a8a8;
$light-gray: #d0d0d0;
$strip-bg-even: #E1E1E1;
$strip-bg-odd: #000000;

$row-width: rem-calc(1170);
$body-bg: #FFF;
$body-font-color: $dark-gray;
$body-font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: 400;
$primary-color: #fa4616;
$secondary-color: $medium-gray;
$include-print-styles: true;
$header-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 600;
$header-font-color: $dark-gray;
$header-top-margin: .4em;

$h1-font-size: rem-calc(28px);
$h2-font-size: rem-calc(22px);
$h3-font-size: rem-calc(18px);
$h4-font-size: rem-calc(16px);
$h5-font-size: rem-calc(14px);
$h6-font-size: 1em;

$subheader-font-color: lighten($dark-gray, 20%);
$small-font-color: lighten($header-font-color, 35%);

$paragraph-font-weight: 300;
$accordion-navigation-padding: rem-calc(14);
$accordion-navigation-bg-color: scale-color($light-gray, $lightness: 25%);
$accordion-navigation-active-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -13%);
$accordion-content-padding: rem-calc(12);
$accordion-navigation-font-size: rem-calc(13);
$tabs-navigation-padding: rem-calc(12);
$tabs-navigation-bg-color: $light-gray;
$tabs-navigation-active-bg-color: white;
$tabs-navigation-hover-bg-color: scale-color($tabs-navigation-bg-color, $lightness: -6%);
$tabs-navigation-font-color: $dark-gray;
$tabs-navigation-active-font-color: $tabs-navigation-font-color;
$tabs-navigation-font-size: rem-calc(14);
$tabs-navigation-font-family: $body-font-family;
$anchor-font-color: $primary-color;
$anchor-font-color-hover: lighten($anchor-font-color, 5%);

$form-spacing: rem-calc(18px);
$form-label-font-weight: 400;
$form-label-font-color: lighten($body-font-color, 30%);
$input-font-color: rgba(0,0,0,0.65);
$input-bg-color: darken(#fff, 2%);
$input-focus-bg-color: #fff;
$button-tny: rem-calc(5px);
$button-sml: rem-calc(7px);
$button-med: rem-calc(10px);
$button-lrg: rem-calc(14px);
$button-font-weight: 300;
$button-border-style: none;
$topbar-bg-color: $primary-color;
$topbar-bg: $topbar-bg-color !default;
$topbar-height:                        rem-calc(90px);
$topbar-title-weight:                  bold;
$topbar-dropdown-bg:                      rgba($topbar-bg-color, 0.7);
$topbar-dropdown-link-bg:                 rgba(darken($topbar-bg-color, 2%),0.85);
$topbar-dropdown-toggle-alpha:         0.5;
$topbar-link-font-size:                rem-calc(15);
$topbar-link-weight:                   light;
$topbar-link-hover-lightness:          -30%; // Darken by 30%
$topbar-link-bg-hover:                 darken($topbar-bg, 3%);
$topbar-link-bg-active:                rgba($topbar-bg, 0.6);
$topbar-menu-link-weight:              200;
$topbar-divider-border-bottom: solid 1px $topbar-bg-color;
$topbar-divider-border-top: solid 1px $topbar-bg-color;

$topbar-sticky-class:                  ".sticky";

$reveal-position-top: rem-calc(10);
$reveal-default-width: 60%;
$reveal-max-width: 75%;
@import 'brand_common';

@media only screen and (min-width: 720px) {
	.logo-container img {
		padding: 8px 12px 0px 20px;
	}
  .top-bar-section {
    li.has-form {
      padding-top: rem-calc(17);
    }
  }
}

@media only screen and (min-width: 1301px) {
  .top-bar-section {
    li:not(.has-form) a:not(.button) {
      padding: 0 14px !important;
    }
    li {
      &.has-dropdown {
        a {
          padding-right: 14px !important;
          &:after {
            margin-right: 1px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 919px) {
	.logo-container img {
    //height: 40px;
		padding: 4px 0px 0px 6px;
	}
  .top-bar-section {
    li:not(.has-form) a:not(.button) {
      padding-left: rem-calc(6);
      padding-right: rem-calc(6);
    }
    li.has-form {
      padding-left: rem-calc(2);
      padding-right: rem-calc(2);
      width: 130px;
    }
  }
}
body {
	line-height: 1.5;
}

@media only screen and (min-width: 720px) {
  div.homepage_block {
    h1 {
      font-size: 2.3em;
      line-height: 1.1;
    }
    h2 {
      font-size: 1.9em;
    }
    h3 {
      font-size: 1.5em;
    }
  }
}
@media only screen and (max-width: 719px) {
  div.homepage_block {
    h1 {
      font-size: 2em;
    }
  }
}

div.homepage_block {
  &.product_families {
    color: #888;
    padding: 60px 20px;
    background-color: #212121;
    background-image: asset-url("jbl_professional/grill-bg.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    ul {
      li {
        padding: 10px;
        a {
          h3 {
            color: white;
          }
          img {
            background: white;
            outline: 2px solid $primary-color;
          }
          color: white;
          &:hover {
            h3 {
              color: $primary-color;
            }
            color: $primary-color;
            img {
              outline: 3px solid white;
            }
          }
        }
      }
    }
  }
}

div.market_segment_banner {
  position: relative;
  h1 {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    color: $dark-gray;
    padding: 4px 10px;
  }
}

h1, h2 {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

div.product-title-block, div.small-title-block {
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
  h3 {
    color: $medium-gray;
    font-weight: 300;
  }
  dl.side-nav {
    dd {
      font-size: rem-calc(14px);
      line-height: 1.5;
      a {
        color: $medium-gray;
      }
    }
  }
}
.product_family_header {
  background-color: black;
  h1 {
    font-size: rem-calc(32);
    color: #e8e8e8;
  }
}
.button {
  letter-spacing: 0.05em;
}
.find-a-dealer {
  font-size: 80%;
}
.have-a-question {
  font-size: 80%;
  img {
    padding-right: 3px;
  }
}
.contact-consultant {
  font-size: 80%;
}

/********** chosen-rails style overrides */
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  /* background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 100% -20px; */
  background: none;
  background-attachment:fixed; /* this fixes the unwanted artifacts in the search box that appear at some resolutions */
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.chosen-container-single .chosen-search {
  /* background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 100% -20px; */
  background: none;
}

/********** end chosen-rails style overrides */
