/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*= require martin_framework_and_overrides
*= require lightbox
*= require bouncing_arrow
*= require jquery-ui.min
*= require add2home
*= require_self
*/

span.smalColHeader {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  line-height: 1.5;
}

span.specContent {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
  line-height: 1.2;
}

div.approval {
  img {
    margin: 8px;
  }
}
