@import 'foundation/functions';
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500);

$row-width: rem-calc(1400);
$martin-yellow: #fdd301;
$pale-gray: #f8f8f9;
$medium-gray: #9b9b9b;
$fuchsia: #af3480;
$pink: #f35f6d;
$orange: #ee7625;
$green: #6cb33f;
$blue: #008fd5;
$dark-gray: #575757;
$darker-gray: #121212;
$light-gray: $pale-gray;
$strip-bg-even: #000000;
$strip-bg-odd: #000000;

$body-bg: #000;
$body-font-color: black;
$body-font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$primary-color: $medium-gray;
$secondary-color: $martin-yellow;
$include-print-styles: true;
$header-font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-weight: 500;
$header-font-color: $dark-gray;
$header-top-margin: .4em;

$h1-font-size: rem-calc(62px);
$h2-font-size: rem-calc(25px);
$h3-font-size: rem-calc(20px);
$h4-font-size: rem-calc(18px);
$h5-font-size: rem-calc(15px);
$h6-font-size: 1em;

$subheader-font-color: lighten($dark-gray, 20%);
$small-font-color: lighten($header-font-color, 35%);

$paragraph-font-weight: 300;
$accordion-navigation-padding: rem-calc(14);
$accordion-navigation-bg-color: scale-color($light-gray, $lightness: 25%);
$accordion-navigation-active-bg-color: scale-color($accordion-navigation-bg-color, $lightness: -13%);
$accordion-content-padding: rem-calc(12);
$accordion-navigation-font-size: rem-calc(13);
$tabs-navigation-padding: rem-calc(12);
$tabs-navigation-bg-color: scale-color($secondary-color, $lightness: 45%); //#71D1EC;
$tabs-navigation-active-bg-color: $secondary-color;
$tabs-navigation-hover-bg-color: scale-color($tabs-navigation-bg-color, $lightness: -10%);
$tabs-navigation-font-color: white;
$tabs-navigation-active-font-color: white;
$tabs-navigation-font-size: rem-calc(14);
$tabs-navigation-font-family: $body-font-family;
$anchor-font-color: $darker-gray;
$anchor-font-color-hover: lighten($anchor-font-color, 25%);

$form-spacing: rem-calc(18px);
$form-label-font-weight: 400;
$form-label-font-color: lighten($body-font-color, 30%);
$input-font-color: rgba(0,0,0,0.65);
$input-bg-color: darken(#fff, 2%);
$input-focus-bg-color: #fff;
$button-tny: rem-calc(5px);
$button-sml: rem-calc(7px);
$button-med: rem-calc(10px);
$button-lrg: rem-calc(14px);
$button-font-weight: 500;
$button-border-style: none;
$topbar-bg-color: black;
$topbar-bg: $topbar-bg-color !default;
$topbar-height:                        rem-calc(100px);
$topbar-input-height:                  rem-calc(12);
$topbar-title-weight:                  500;
$topbar-dropdown-bg:                      rgba($topbar-bg-color, 0.7);
$topbar-dropdown-link-bg:                 rgba(darken($topbar-bg-color, 2%),0.85);
$topbar-dropdown-toggle-alpha:         0.5;
$topbar-link-font-size:                rem-calc(14);
$topbar-link-weight:                   500;
$topbar-link-hover-lightness:          -30%; // Darken by 30%
$topbar-link-bg-hover:                 lighten($topbar-bg, 3%);
$topbar-link-bg-active:                rgba($topbar-bg, 0.6);
$topbar-menu-link-weight:              200;
$topbar-divider-border-bottom: solid 1px $topbar-bg-color;
$topbar-divider-border-top: solid 1px $topbar-bg-color;

$topbar-sticky-class:                  ".sticky";

$reveal-position-top: rem-calc(10);
$reveal-default-width: 60%;
$reveal-max-width: 75%;

$medium-breakpoint: em-calc(1056) !default;
$medium-range: (em-calc(641), $medium-breakpoint) !default;
$large-range: ($medium-breakpoint + em-calc(1), em-calc(1440)) !default;
@import 'foundation';
@import 'brand_common';
@import 'slick';
$slick-arrow-color: $dark-gray;
@import 'slick-theme';

#above-nav-space {
  display: none !important;
  height: 0;
}
.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  &.secondary {
    color: black;
  }
  &:hover {
    &.secondary {
      color: black;
    }
  }
}
.top-bar-section {
  ul {
    li {
      &.has-form {
        padding-left: rem-calc(20);
        padding-right: rem-calc(0);
        width: 170px;
        input {
          margin-top: 20px;
          background: #454545;
          border: none;
        }
      }
      a {
        padding: 0 12px !important;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:hover {
          color: $secondary-color !important;
        }
      }
      &.has-dropdown {
        a {
          padding: 0 14px !important;
          &:after {
            margin-right: 1px !important;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1076px) {
  .top-bar-section {
    ul {
      li {
        a {
          padding: 0 12px !important;
          &:after {
            margin-right: 2px !important;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
	.logo-container img {
    height: 40px;
		padding: 12px 0px 0px 6px;
	}
  .top-bar-section {
    li.has-form {
      padding-left: rem-calc(2);
      width: 130px;
    }
  }
}

.content-container {
  padding: rem-calc(59px);
  margin-bottom: rem-calc(39px);
  .overline {
    height: rem-calc(39px);
  }
}

h1 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
}

h2 {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.87px;
  color: black;
  text-transform: uppercase;
}

h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.73px;
  color: black;
  text-transform: uppercase;
  &.content-nav {
    color: black;
    margin-bottom: rem-calc(39px);
  }
}

h5 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: black;
  text-transform: uppercase;
}
.overline {
  width: 80px;
  height: 10px;
  border-bottom: 1px solid $martin-yellow;
  display: block;
}
body {
	line-height: 1.87;
}

#breadcrumbs {
	font-size: rem-calc(12px);
	text-align: left;
	letter-spacing: 1px;
  text-transform: uppercase;
}
.larger_tag {
	font-size: rem-calc(12px);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.content-container {
	background: white;
	margin-top: 0 !important;
  padding-top: rem-calc(20px);
}
.smalColHeader {
  font-size: rem-calc(13px);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.docs {
  table {
    h6 {
      margin: rem-calc(10px) 0;
      color: black;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1.2px;
    }
    thead tr td:not(:first-child) {
      text-align: center;
    }
  }
}
@media only screen and (min-width: 720px) {
  div.homepage_block {
    h1 {
      font-size: 2.3em;
      line-height: 1.1;
    }
    h2 {
      font-size: 1.9em;
    }
    h3 {
      font-size: 1.5em;
    }
  }
}
@media only screen and (max-width: 719px) {
  div.homepage_block {
    h1 {
      font-size: 2em;
    }
  }
}

div.homepage_block {
  padding: 60px 40px;
  h1,h2,h3,h4,h5,h6 {
    color: $pale-gray;
  }
  h2 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2.73px;
  }
  &.market_segments {
    li {
      div.market-segment {
        position: relative;
        img {
          width: 100%
        }
        div.text-center {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          max-height: 65px;
          overflow: hidden;
          background: rgb(255, 255, 255);
          background: rgba(255, 255, 255, 0.8);
          color: $dark-gray;
          padding: 4px 0 1px;
          p {
            font-size: rem-calc(11px);
          }
          a {
            color: $dark-gray;
          }
        }
      }
    }
  }
  &.featured_products {
    background-image: asset-url("martin/featured-products-bg.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.white-text-box {
  border-top: 1px solid $primary-color;
  background: white;
  color: black;
  padding: 10px;
  h5 {
    color: black;
  }
}

.news-slider {
  margin-top: 20px;
  .slide {
    color: black;
    h5 {
      color: black;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.56;
    }
  }
}
.products-slider {
  margin-top: 20px;
  a {
    display: block;
    &:hover {
      background: rgba(0, 0, 0, 0.1);
      color: $martin-yellow;
      h5 {
        color: $martin-yellow;
        background: rgba(0,0,0,0.48);
      }
      .product-photo {
        opacity: 90%;
      }
    }
  }
  .slide {
    margin-right: 20px;
    position: relative;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.38);
    color: white;
    height: 500px;
    padding-right: 0 !important;
    .product-photo {
      background: white;
      height: 100%;
      opacity: 75%;
    }
    h5 {
      position: absolute;
      left: 0;
      bottom: 10px;
      z-index: 999;
      color: $pale-gray;
      font-weight: 300;
      font-size: 25px;
      letter-spacing: 3.87px;
      padding: 10px 20px;
    }
  }
}
.news_banner {
  margin: 0 !important;
  @media only screen and (min-width: 1200px) {
    margin: 0 !important;
    z-index: 1 !important;
  }
  position: relative;
  height: auto;
  max-height: auto;
  min-height: auto;
  padding-top: rem-calc(59px);
  padding-bottom: rem-calc(59px);
  @media only screen and (min-width: 641px) {
    padding-bottom: rem-calc(159px);
  }
  background-image: asset-url("martin/news-header.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    color: $pale-gray;
    font-size: 62px;
    font-weight: 300 !important;
    text-transform: capitalize !important;
  }
  div.filters {
    position: absolute;
    bottom: 0px;
    height: 100px;
    padding-top: 28px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.48);
    color: white;
    form {
      outline: 2px solid white;
      select {
        background: transparent;
        color: $pale-gray;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        border: none;
        outline: none;
        margin-bottom: 0;
      }
      i {
        margin-top: 11px;
      }
    }
  }
}
div.list-news {
  margin: rem-calc(60px) rem-calc(30px);
}
div.news-main-image {
  margin-left: -60px;
  margin-top: -20px;
}
div.news-summary {
  a {
    font-size: 20px;
    line-height: 1.45;
    color: black;
    max-height: 116px;
  }
  p {
    margin-bottom: 2px;
  }
  height: 160px;
  overflow: hidden;
  padding: 10px 20px;
}
div.news-sidebar {
  padding-top: rem-calc(59px);
  margin-left: -29px;
  div.back-to-news {
    margin-bottom: rem-calc(59px);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    a {
      color: black;
    }
  }
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2.73px;
  }
  div.news-image-thumbnail-bg {
    background-color: $primary-color;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem-calc(136px);
  }
  div.news-summary {
    padding: rem-calc(10px) !important;
    height: rem-calc(136px);
    p a {
      font-size: 15px;
      line-height: 1.87;
      font-weight: normal;
    }
  }
}
div.news-content {
  padding-top: 60px;
  h5 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2.73px;
  }
  div.news-body {
    margin-top: rem-calc(39px);
  }
}
div.infinite-pagination {
  a.next_page {
    @include button(
      $button-med,
      $secondary-color
    );
    color: black !important;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
div.mobile-filters {
  left: 0;
  width: 100%;
  background: white;
  color: black;
  form {
    margin-bottom: rem-calc(29px);
    outline: 2px solid black;
    select, input {
      background: transparent;
      color: $dark-gray;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      border: none;
      outline: none;
      margin-bottom: 0;
      box-shadow: none;
      text-transform: uppercase;
    }
    ::-webkit-input-placehoder {
      color: $dark-gray;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    ::-ms-input-placeholder {
      color: $dark-gray;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    ::placeholder {
      color: $dark-gray;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    i {
      margin-top: 11px;
    }
    .button {
      margin: 0 !important;
      background: black;
      color: white;
    }
  }
}
div.market_segment_banner {
  position: relative;
  h1 {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    color: $dark-gray;
    padding: 4px 10px;
  }
}

div.product-title-block, div.small-title-block {
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
  h3 {
    color: $medium-gray;
    font-weight: 300;
  }
  div.side-nav-container {
    .button {
      font-size: rem-calc(12px);
      letter-spacing: 1px;
    }
  }
  dl.side-nav {
    dd {
      font-size: rem-calc(14px);
      line-height: 1.5;
      a {
        color: $medium-gray;
      }
    }
  }
}
.product_main_tab_content {
  ul {
    margin-left: 40px !important;
    li {
      font-weight: 300;
    }
  }
}
.small_product_box {
  padding: 0;
  background: $pale-gray;
  border: 1px solid scale-color($medium-gray, $lightness: 70%);
  position: relative;
  color: $dark-gray;
  width: 100%; // of the container
  img {
    margin: 0;
    background: white; // most of our images are jpg on white bg. This helps standardize those that are transparent pngs.
  }
  h3 {
    font-weight: 400;
    letter-spacing: 1.1px;
    margin: rem-calc(20px) 0;
    &.vertical {
      margin-top: rem-calc(20px);
    }
  }
  .product_description {
    font-size: rem-calc(16px);
    letter-spacing: 1.1px;
    width: 50%;
    line-height: 1.5;
  }
}
ul.tabs {
  li.tab-title {
    border: 1px solid $dark-gray;
    border-bottom: none;
    margin-right: 4px;
    letter-spacing: rem-calc(1px);
  }
}
.tabs-content {
  border: 1px solid $dark-gray;
  padding: 10px 20px;
}
.find-a-dealer, .have-a-question, .contact-consultant {
  background-color: #f8d448;
  color: white;
}
.events_header {
  position: relative;
  padding-top: rem-calc(59px);
  padding-bottom: rem-calc(59px);
  @media only screen and (min-width: 641px) {
    padding-bottom: rem-calc(159px);
  }
  background-color: scale-color($primary-color, $lightness: -80%);
  background-image: asset-url("martin/events-header-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  h1 {
    color: $pale-gray;
    font-size: 62px;
    font-weight: 300 !important;
    text-transform: capitalize !important;
  }
  div.filters {
    position: absolute;
    bottom: 0px;
    height: 100px;
    padding-top: 28px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.48);
    color: white;
    a {
      color: $pale-gray;
      &:hover {
        color: white;
      }
    }
  }
}
.event-list {
  h2 {
    font-size: rem-calc(40px);
    font-weight: 300;
    letter-spacing: normal;
    color: black;
  }
  h5 {
    font-size: rem-calc(20px);
    font-weight: 300;
    letter-spacing: 2.73px;
    color: black;
    margin: rem-calc(29px) 0;
  }
  a.arrow {
    font-size: rem-calc(60px);
    font-weight: 100;
    color: $martin-yellow;
  }
  padding: rem-calc(29px) 0;
  border-bottom: 1px solid $medium-gray;
}
div.event-side {
  padding-top: rem-calc(59px);
  margin-left: -29px;
  #breadcrumbs {
    margin-bottom: rem-calc(39px);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    a {
      color: black;
    }
  }
}
div.event-main {
  padding-top: 60px;
  h5 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2.73px;
  }
  div.event-body {
    margin-top: rem-calc(39px);
  }
}

.where_to_buy_header {
  position: relative;
  padding-top: rem-calc(59px);
  padding-bottom: rem-calc(59px);
  @media only screen and (min-width: 641px) {
    padding-bottom: rem-calc(159px);
  }
  background-color: scale-color($primary-color, $lightness: -80%);
  background-image: asset-url("martin/wheretobuy_header_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  h1 {
    color: $pale-gray;
    font-size: 62px;
    font-weight: 300 !important;
    text-transform: capitalize !important;
  }
  div.filters {
    position: absolute;
    bottom: 0px;
    height: 100px;
    padding-top: 28px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.48);
    color: white;
    form {
      outline: 2px solid white;
      select, input {
        background: transparent;
        color: $pale-gray;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        border: none;
        outline: none;
        margin-bottom: 0;
        box-shadow: none;
        text-transform: uppercase;
      }
      ::-webkit-input-placehoder {
        color: $pale-gray;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      ::-ms-input-placeholder {
        color: $pale-gray;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      ::placeholder {
        color: $pale-gray;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      i {
        margin-top: 11px;
      }
      .button {
        margin: 0 !important;
        background: rgba(0, 0, 0, 0.32);
      }
    }
  }
}
.wtb-main {
  margin-top: rem-calc(59px);
  hr {
    margin: rem-calc(39px) 0;
  }
  .distributor-data {
    h5 {
      font-size: 16px;
      letter-spacing: normal;
      color: black;
      line-height: 1.56;
    }
  }
}
.wtb_side_panel {
  .panel {
    background: white;
    border: none;
    h4 {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2.73px;
      margin-bottom: rem-calc(29px);
      line-height: 1.2;
    }
    font-size: 15px;
    font-weight: normal;
    line-height: 1.87;
    p {
      font-size: 15px;
      font-weight: normal;
      line-height: 1.87;
      margin-bottom: rem-calc(29px);
    }
    a.button {
      font-size: 14px;
      letter-spacing: 1px;
      color: black;
      background: none;
      padding: 0;
    }
  }
}
.dealer_results {
  margin-top: rem-calc(29px);
}


.product_family_header {
  background-color: scale-color($primary-color, $lightness: -80%);
  background-image: asset-url("martin/product_family_header_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: rem-calc(29px) rem-calc(59px);
  h1 {
    text-transform: uppercase;
    letter-spacing: 2.9px;
  }
}
.feature-pre {
  color: $pale-gray;
  h1,h2 {
    color: white;
  }
  h3,h4,h5,h6 {
    color: $pale-gray;
  }
  a {
    color: white;
  }
}

footer {
  color: $medium-gray;
  font-size: 12px;
  a {
    color: $medium-gray;
    &:hover {
      color: $pale-gray;
    }
    &.button {
      font-size: rem-calc(10px);
      letter-spacing: 0px !important;
      .fa {
        margin-right: 0;
        padding-right: 3px;
      }
    }
  }
  .footer-links {
    text-transform: uppercase;
    letter-spacing: 1.29px;
    line-height: 2.5;
  }
}
div#harmanpro_bar {
  background: none;
  padding-top: 9px;
  height: auto;
  margin-bottom: 8px;
}
/********** for search results */
input#query {
  color: #CCC;
}
/********** end search results styles */

/********** chosen-rails style overrides */
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  /* background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 100% -20px; */
  background: none;
  background-attachment:fixed; /* this fixes the unwanted artifacts in the search box that appear at some resolutions */
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

  .chosen-container-single .chosen-search {
  /* background: url(/assets/chosen-sprite-8aa69ee6b2376505578d758bfbbc52aec88fa5e591f1a7cabd8adfa80a7b613a.png) no-repeat 100% -20px; */
  background: none;
}


/********** end chosen-rails style overrides */

