@import "foundation/functions";

$body-bg: #f8f5e9;
$body-font-color: #251511;
$primary-color: #1f609f;

// Heading font styles
@import url(http://fonts.googleapis.com/css?family=Sintony);

$header-font-family: "Sintony", Times, "Times New Roman", serif;
$header-font-color: #1d150f;
$header-top-margin: .4em;
$h1-font-size: rem-calc(34px);
$h2-font-size: rem-calc(24px);
$h3-font-size: rem-calc(19px);
$h4-font-size: rem-calc(14px);
$h5-font-size: rem-calc(11px);
$h6-font-size: 1em;

$subheader-font-color: lighten($header-font-color, 25%);
$small-font-color: lighten($header-font-color, 35%);
$anchor-font-color: #0000ff; //lighten($primary-color, 5%);
$anchor-font-color-hover: lighten($anchor-font-color, 25%);
$legend-bg: none;
$legend-font-weight: 200;

$button-tny: rem-calc(5px);
$button-sml: rem-calc(7px);
$button-med: rem-calc(10px);
$button-lrg: rem-calc(14px);

$panel-bg: darken($body-bg, 5%);
$switch-bottom-margin: rem-calc(10px);
$switch-font-size-tny: 13px;
$switch-font-size-sml: 17px;
$switch-font-size-med: 15px;
$switch-negative-color: lighten($primary-color, 50%);
$table-even-row-bg: lighten($body-bg, 2%);
$table-border-color: lighten($header-font-color, 80%);
$table-head-bg: lighten($body-bg, 1%);
$table-head-font-color: $header-font-color;
$topbar-height:                        rem-calc(46px);
$topbar-margin-bottom:                 rem-calc(26px);
$topbar-title-weight:                  bold;
$topbar-link-weight:                   light;

@import 'foundation';


.top-bar {
  box-shadow: 0px 2px 4px #888;
}
h1,h2,h3,h4,h5,h6 {
  .button {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  }
}
.red {
  color: red;
}
p {
  font-size: 15px;
  line-height: 135%;
}
h1 img {
  padding-top: 8px;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
.alert {
  a {
    color: white;
  }
}
a#toggle-formatting {
  font-size: 11px;
}
ul {
  &.task-list {
    margin-bottom: 40px;
    list-style-type: none;
    li {
      margin-bottom: 8px;
      i {
        font-size: 70%;
        color: #666;
      }
      a {
        padding: 0px 2px;
      }
      div.assigned {
        font-size: 70%;
        color: #444;
        margin-left: 18px;
        margin-top: -8px;
      }
    }
  }
  &.completed {
    li {
      a {
        font-weight: normal;
        font-size: 90%;
      }
    }
  }
  &.compact {
    li {
      font-size: 80%;
    }
  }
  &.list {
    margin-left: 20px;
    i {
      font-size: 80%;
      color: #444;
    }
  }
}
.hint {
  display: block;
  font-size: 70%;
  color: #444;
  margin: -9px 0px 16px;
}
div.sidenav {
  padding-left: 0;
  padding-right: 0;
}
div#main {
  padding-bottom: 10px;
  min-height: 400px;
}
div.main-container {
  background: asset-url('white-90.png');
  margin: 0px 0px;
  padding: 10px 20px;
  box-shadow: 1px 2px 3px #eee;
}
div.content-container {
  background: asset-url('white-90.png');
}
ul.breadcrumbs {
  background: asset-url('white-90.png');
}
#overview {
  height: 206px;
}
input.boolean {
    margin-right: 6px;
}
.large-1, .small-2 {
  input.boolean {
    margin-right: 0px;
    margin-top: 7px;
    margin-left: 40%;
  }
}
.breadcrumbs {
  background-color: #fbfbfb;
  border-color: #ddd;
}
input[type="text"].prefix {
  text-align: left;
  &.round {
    border-radius: 1000px 0 0 1000px;
  }
}
input[type="range"] {
  width: 100%;
}
nav.top-bar {
  input[type="text"] {
    background-color: #dcd8d2;
    border-color: #333;
    color: #000;
    font-weight: 200;
    width: 180px;
  }
  input[type="submit"] {
    margin-top: 0;
    padding-bottom: 2px;
  }
  .button {
    background-color: #444;
    border-color: #111;
    font-weight: 200;
    color: #ccc;
  }
}
.top-bar-section ul {
  background-color: #111;
}
div.small {
  font-size: 80%;
  color: #666;
}
ol {
  li {
    margin-left: 20px;
    margin-bottom: 12px;
  }
}
@media only screen and (min-width: 980px) {
  div.content-container {
    background: asset-url('light-gray-50.png');
  }
  input[type='submit'] {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .small-hidden {
    display: none;
  }
}

div#tasks-overview {
  margin-bottom: 20px;
}
thead.tiny {
  tr {
    th {
      background-color: white;
      font: {
        weight: 300;
        size: 80%;
      }
      text-align: center;
      color: #888;
    }
  }
}
.label {
  a {
    text-decoration: underline;
  }
}
table#completed-tasks {
  font-size: 14px;
  thead {
    tr {
      th {
        color: #777;
      }
    }
  }
  tbody {
    tr {
      line-height: 0.6em;
      td {
        color: #888;
        padding-top: 0.2625em;
        padding-bottom: 0.25em;
        line-height: 0.98em;
      }
    }
  }
}
div.comment {
  padding: 20px 0px;
  border-bottom: 2px dotted #CCC;
  div.comment-badge {
    text-align: center;
  }
}
div.tip {
  background: asset-url('queue/girl-idea-icon.png') no-repeat 0px 14px;
  padding: 12px 10px 10px 66px;
  p {
    font-size: 80%;
  }
  font-style: oblique;
}

.visible-img img {
    width:auto;
    margin: auto !important;  /* !important to overwrite negative margin-left and margin-top foundation js gives for images in clearing*/
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


