@import 'foundation/functions';
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);

$dark-gray: #575757;
$medium-gray: #a8a8a8;
$light-gray: #d0d0d0;
$strip-bg-even: #E1E1E1;
$strip-bg-odd: #000000;
$color-gray-darker: #111111;
$color-gray-dark: #575757;
$color-gray-medium: #A8A8A8;
$color-gray-light: #D0D0D0;
$color-gray-lighter: #EEEEEE;

$color-main: #333333;
$color-main-alpha: rgba($color-main, 0.9);

$color-soundcraft: #004666;
$color-soundcraft-alpha: rgba($color-soundcraft, 0.9);

$color-accent4: #3C8DB2; /* blue, secondary to soundcraft  */
$color-accent4-alpha: rgba($color-accent4, 0.9);

$primary-color: $color-soundcraft;
$secondary-color: #B2AB00; /* yellow */
$anchor-font-color: scale-color($color-soundcraft, $lightness: 20%);

$primary-font: 'Lato', sans-serif;

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;

$primary-font-size: 1em;
$secondary-font-size: 0.875em;
$tertiary-font-size: 0.75em;

$strip-bg-even: #E1E1E1;
$strip-bg-odd: #cc0000;

$body-bg: #FFF;
$body-font-color: $color-gray-dark;
$body-font-family: $primary-font;
$body-font-weight: $font-normal;

$header-font-family: $primary-font;
$header-font-weight: $font-normal;
$header-font-color: $color-gray-dark;
$header-top-margin: .4em;

$h1-font-size: rem-calc(38px);
$h2-font-size: rem-calc(28px);
$h3-font-size: rem-calc(21px);
$h4-font-size: rem-calc(18px);
$h5-font-size: rem-calc(15px);
$h6-font-size: 1em;

$include-print-styles: true;

@import 'foundation';
@import 'brand_common';

//Soundcraft overrides
div.product-title-block, div.small-title-block {
  h1 {
    font-size: 48px;
    @media only screen and (max-width: 719px) {
      font-size: 38px;
      line-height: 34px;
    }
  }
}


body {
  line-height: 1.5;
  font-family: $primary-font;
  font-size: $font-normal;
}

/* TOP BAR ///////////////////////////////  */

nav.top-bar {
  /* Prevent background color leak outs */
    -webkit-background-clip: padding-box;
    -moz-background-clip:    padding;
    background-clip:         padding-box;
}

.top-bar {
   height: 52px;
   background-color: $color-main;
   z-index: 100;
   border-top: solid 1px $color-soundcraft;
    border-bottom: solid 4px $color-soundcraft;

 }

.top-bar input, top-bar .button {
  top: 10px;
  background-color: $color-main-alpha;
  height: 1.7em;
}

.top-bar input {
  background-color: white;
  border-radius: 5px;
}

.top-bar .name h1 a {
  font-weight: normal;
  color: white;
  width: 75%;
  display: block;
  padding: 0 0 0 0;
}

.logo-container {
  img {padding: 0px 0px 0px 5px;}
  a:hover {
    background-color: transparent;
  }
}

.top-bar-section ul li {
  background: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  padding: 0px 15px;
  line-height: 50px;
  background: transparent;
  background-color: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button):hover  {
  /* hover main nav buttons */
  background-color: $color-soundcraft-alpha;
}

.top-bar-section ul li:hover:not(.has-form) > a {
  /* main nav button after hover */
  background: $color-main-alpha;
  }

.top-bar-section .dropdown li:not(.has-form) a:not(.button)  {
  /* nav items */
  background: $color-soundcraft;
  border-bottom: solid 1px $color-gray-dark;
  border-right: solid 1px $color-gray-dark;
  height: 45px;
}

.top-bar-section .dropdown li:not(.has-form):hover > a:not(.button) {
  /* hover selected nav item */
  background: $color-accent4;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  /* separator */
  border-bottom: none;
  border-top: none;
  border-right: solid 1px $color-gray-dark;
  clear: none;
  height: 50px;
  width: 0px;
}

.top-bar-section .has-form {
  /* bg for search area */
  background: transparent;
  padding: 3px 20px;
  height: 50px;
}

#above_nav {
  height: 25px;
}

@media only screen and (max-width: 720px) {
  .top-bar-section ul li {
    background: $color-main;
  }
  .top-bar-section .has-form {
  background: $color-main;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {

  background: $color-main;
  }
  .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    height: 0px;
  }
  .logo-container img {
    padding: 0px 0px 0px 0px;
  }
  #above_nav {
    height: 0px;
  }
}


/* FOOTER ////////////////////////////////// */

footer {
  position: absolute;
  margin: 0px 0px 0px;
  background-color: $color-main;
  border-top: solid 4px $color-soundcraft;
  line-height: 20px;
  width: 100%;

  .footer-links a {
    font-size: $secondary-font-size;
    color: $color-gray-light;
  }
  .footer-links a:hover {
    font-size: $secondary-font-size;
    color: $color-soundcraft;
    font-weight: thin;
    background: transparent;
  }
}

#footer_top_space {
  height: 30px;
}

#harmanpro_bar {
  background: transparent !important;
  position: relative;
  padding: 10px 10px 10px 10px;
  text-align: center;

  a:hover{
    background: transparent;
  }
}

/* MAIN /////////////////////////////////// */

#topper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#main_container {
  margin-top: 80px;
}
.news_strip {
  padding-top: 10px;
}
#homepage_product_features {
    h1 {
      font-size: 1.8em;
      font-weight: $font-light;
      color: $color-gray-lighter;
    }
    h3 {
      font-size: 1.2em;
      padding-bottom: 15px;
      color: $color-gray-lighter;
    }
   img {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding: 2px;
   }
   a {
     color: white;
   }
   .title_field {
      background: $color-soundcraft;
      padding-top: 30px;
      padding-bottom: 30px;
      border-radius: 4px;
    }
}

#homepage_mwp {
    padding: 2px;

     div, img {
    border-radius: 5px;
    min-width: 50px;
    }
    .mwp {
   background: $color-soundcraft;
      border-radius: 5px;
    }
    h3 {
      font-size:2em;
      color: $color-gray-lighter;
      padding-top: 40px;
    }
     h4 {
      font-size:1em;
      color: $color-gray-lighter;
    }
}

#homepage_banners {
    img {
  border-radius: 5px;
  padding: 0px;
  height: 100%;
  width: 100%;
  padding: 2px;
 }
 .visit_us {
   background: $color-soundcraft;
   border-radius: 5px;
   padding-top: 40px;
    padding-bottom: 55px;
   h3 {
     font-size: 1.7em;
    color: $color-gray-lighter;
   }
   h4 {
     font-size: 1em;
     font-weight: thin;
    color: $color-gray-lighter;
   }
 }
}
.product-title-block {
  h3 {
    font-weight: 200;
  }
}

// Product family pages
.product_family_header {
  margin-top: 70px;
}
