<div id="signup">
	<%= simple_form_for Signup.new, url: website.email_signup_url do |f| %>
		<h4>Newsletter Sign Up</h4>
		<div class="row collapse">
			<div class="medium-9 small-9 columns">
				<%= f.input :email, placeholder: "email address", label: false %>
			</div>
			<div class="medium-3 small-3 columns">
				<%= f.submit "go", class: "postfix button" %>
			</div>
		</div>
	<% end %>
</div>
