<div id="signup">
	<%= simple_form_for Signup.new, url: website.email_signup_url do |f| %>
		<h4>Newsletter Sign Up</h4>
		<div class="row collapse">
			<div class="large-10 small-10 columns">
				<%= f.input :email, placeholder: "email address", label: false %>
			</div>
			<div class="large-2 small-2 columns">
				<%= f.submit "go", class: "postfix button" %>
			</div>
		</div>
	<% end %>
</div>
