<%= f.input :_destroy, as: :hidden %>
<div class="row">
	<div class="large-1 small-1 columns text-right">
		<label class="right inline">
			<%= link_to image_tag('icons/delete.png', alt: 'del action'), '#', class: 'remove_fields' %>
		</label>
	</div>
	<div class="large-11 small-11 columns">
		<%= f.input :name, label: false %>
	</div>
</div>