<h1>Blogs</h1>

<% if can? :create, Blog %>
<ul class="button-group round">
	<li><%= link_to 'New Blog', new_admin_blog_path, class: "small success button" %></li>
</ul>
<% end %>

<ul class="list">
<% @blogs.each do |blog| %>
  <li><%= link_to blog.name, [:admin, blog] %></li>
<% end %>
</ul>

