<h1>Training Classes</h1>

<table class="data">
	<tr>
		<th>Date</th>
		<th>Location</th>
		<th>Instructor</th>
	</tr>
	<% @training_classes.each do |training_class| %>
	<tr>
		<td><%= link_to I18n.l(training_class.start_at, format: :long), [:admin, training_class.training_course, training_class] %></td>
		<td><%= training_class.location %></td>
		<td><%= training_class.instructor.name %></td>
	</tr>
	<% end %>
</table>
