<div class="description text-content">

  <%=raw translate_content(@product, :description) %>

  <% if @product.highlights.count > 0 %>
    <ul data-orbit data-options="timer: false; bullets: false; slide_number: false; animation: fade;">
      <% @product.highlights.each do |highlight| %>
        <li><%= render_feature highlight %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @product.show_recommended_verticals && @product.market_segments.distinct.length > 0 %>
    <p>
      <i>Recommended for:
        <%=
          @product.market_segments.distinct.map do |ms|
            link_to(translate_content(ms, :name), ms)
          end.join(", ").html_safe
        %>.
      </i>
    </p>
  <% end %>
</div>

