<ul class="disc">
	<% product.product_documents.each do |product_document| %>
	<li>
		<% if product_document.document_content_type.match(/pdf/i) || product_document.document_file_name.match(/pdf$/i) %>
			<%= image_tag("pdf_17.png", style: "vertical-align: middle") %>
		<% end %>
		<%= link_to product_document.name, product_document.document.url %> 
		[<%= number_to_human_size(product_document.document_file_size) %>]
	</li>
	<% end %>
</ul>