<% product.news_and_reviews.each do |p| %>
  <% if p.is_a?(News) %>
    <%= render_partial 'news/news_row', news: p %>
  <% else %>
    <div class="row">
      <div class="large-10 columns">
        <% if p.external_link.present? || p.review.present? || p.body.length > 400 %>
          <%= link_to translate_content(p, :title), p %>
        <% else %>
          <%= raw translate_content(p, :body) %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="large-10 columns">
        <hr/>
      </div>
    </div>
  <% end %>
<% end %>
