<table class="specs">
	<% product.product_specifications.each do |product_spec| %>
	<tr>
		<td class="name"><%= translate_content(product_spec.specification, :name) %></td>
		<td><%= product_spec.value %></td>
	</tr>
	<% end %>
</table>