<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Untitled document</title>
<style>
  a:link, a:visited { color: white; }
</style>
</head>
<body>
<table style="width: 100%;" border="0" cellpadding="0" align="center" bgcolor="#003e7e">
<tbody>
<tr>
<td>
<table style="z-index: 5; width: 560px;" border="0" align="center">
<tbody>
<tr>
<td style="border: 0; height: 60px;" colspan="2" valign="top"><img src="https://www.lexiconpro.com/mailers/images/mpxdemo/header.jpg" border="0" alt="HEADER IMAGE" /></td>
</tr>
<tr style="position: relative; top: -10px;" valign="top">
<td style="width: 345px; height: 390px; border: 0;" align="left" valign="top"><img src="https://www.lexiconpro.com/mailers/images/mpxdemo/mainpic.jpg" border="0" alt="MAIN PICTURE" />
<h1 style="margin-left: 0px; position: relative; width: 340px; text-align: left; font-family: sans-serif; line-height: 24px; font-size: 19px; color: white; font-weight: bold;">CONGRATULATIONS!</h1>
<p style="margin-bottom: 20px; margin-left: 0px; margin-top: -10px; width: 340px; text-align: left; font-family: sans-serif; line-height: 21px; font-size: 12px; color: white;"><!--PUT YOUR FIRST STORY COPY HERE--> In just moments you too can join the elite group of audio legends that use only the best -- Lexicon reverb. With 7 different reverb types and over 100 studio--quality presets, the MPX Native Reverb Plug--In will undoubtedly take your mix to the next level. Follow these simple instructions to redeem your FREE Lexicon MPX Native Reverb Plug--In 14-Day Demo. Go ahead, this gold record could have your name on it.</p>
</td>
<td style="height: 390px; width: 215px; border: 0;"><!--YOUR BUTTON LINK GOES BELOW--> <a href="https://www.ilok.com"><img src="https://www.lexiconpro.com/mailers/images/mpxdemo/button.jpg" border="0" alt="ilok.com" style="border: none; position: relative; left: 20; margin-bottom: 10px;" /></a>
<h1 style="margin-left: 20px; valign=top position: relative; width: 170px; text-align: left; font-family: sans-serif; line-height: 24px; font-size: 19px; color: white; font-weight: bold;">INSTRUCTIONS:</h1>
<p style="margin-bottom: 20px; margin-left: 20px; margin-top: -10px; width: 190px; text-align: left; font-family: sans-serif; line-height: 21px; font-size: 12px; color: white;"><!--PUT YOUR SECOND STORY COPY HERE--> <strong>1.</strong> Install the MPX Native Reverb Plug-In on your computer. <a href="https://www.lexiconpro.com/en-US/products/mpx-native-reverb/downloads_and_docs">Download here</a>. (Look under the "Downloads" tab)<br /> <br /> <strong>2.</strong> Go to iLok.com and create an account or sign in if you already have an existing account.<br /> <br /> <strong>3.</strong> Enter your license code: <br /> <strong> 0167-8670-5950-8198-9021- <br /> 0548-6003-47 </strong> and download <br /> the license to your iLok2 USB smart key.<br /> <br /> <strong>4.</strong> You're ready to launch your DAW and enjoy the plug-ins!</p>
</td>
</tr>
<tr valign="center ">
<td style="height: 140px; width: 345px; border: 0; margin-bottom: 20px;"><img src="https://www.lexiconpro.com/mailers/images/mpxdemo/subpic.jpg" border="0" alt="SUB PICTURE" style="margin-bottom: 20px;" /></td>
<td style="height: 140px; width: 345px; border: 0;">
<h1 style="margin-left: 20px; valign=top position: relative; width: 170px; text-align: left; font-family: sans-serif; line-height: 24px; font-size: 19px; color: white; font-weight: bold;">LEARN MORE &gt;</h1>
<p style="margin-bottom: 20px; margin-left: 20px; margin-top: -10px; width: 190px; text-align: left; font-family: sans-serif; line-height: 21px; font-size: 12px; color: white;">Visit the MPX Native Reverb Plug-In page on lexiconpro.com to learn more. <a style="color: white; font-weight: bold; font-size: 15;" href="https://www.lexiconpro.com/product.php?id=176"> CLICK HERE </a></p>
</td>
</tr>
<tr>
<td style="background-color: #191815; height: 140px; border: 0;" colspan="2">
<table style="width: 500px;" border="0" align="center">
<tbody>
<tr style="height: 60px;" valign="center">
<td style="width: 250px;"><!--YOUR SOCIAL MEDIA LINKS GO BELOW--> <a href="https://www.facebook.com/lexiconpro?v=info"><img src="https://www.lexiconpro.com/mailers/images/mpxdemo/social_03.png" border="0" alt="Facebook" style="border: 0;" /></a> <a href="https://www.youtube.com/user/LexiconPro"><img src="https://www.lexiconpro.com/mailers/images/mpxdemo/social_04.png" border="0" alt="YouTube" style="border: 0;" /></a> <a href="https://twitter.com/#!/lexiconpro"><img src="https://www.lexiconpro.com/mailers/images/mpxdemo/social_05.png" border="0" alt="Twitter" style="border: 0;" /></a> <a href="https://www.lexiconpro.com/rss.php"><img src="https://www.lexiconpro.com/mailers/images/mpxdemo/social_06.png" border="0" alt="RSS Feed" style="border: 0;" /></a></td>
<td><!--YOUR BRAND WEBSITE LINK GOES BELOW--> <a href="https://www.lexiconpro.com"> <img src="https://www.lexiconpro.com/mailers/images/mpxdemo/brandlogo.png" border="0" alt="Lexicon By Harman" align="right" style="border: 0;" /></a></td>
</tr>
<tr style="height: 30px;" valign="center">
<td colspan="2"><img src="https://www.lexiconpro.com/mailers/images/mpxdemo/harman.png" border="0" alt="Harman" style="position: relative; top: 15px;" /> <span style="z-index: 5; position: relative; left: 100px; top: -10px; color: white; font-family: sans-serif; font-size: 10px; text-align: left; line-height: 8px;"> <br /> 10653 South Riverfront Pkwy | South Jordan, UT 84095 | 801 566 8800 <br /> <!--THE UNSUBSCRIBE LINK AND PRIVACY POLICY LINK GOES BELOW--> <br /> <a style="text-decoration: none; color: white;" href="https://www.lexiconpro.com/static_callout.php?id=83"> unsubscribe </a> | <a style="text-decoration: none; color: white;" href="https://www.lexiconpro.com/privacy_policy.php"> privacy policy </a> <br /> </span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</body>
</html>