<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p>For over 40 years Lexicon has been considered the gold standard for digital reverb. The MPX-i Native Reverb Plug-In allows all aspiring engineers and producers a new way to bring the legendary Lexicon sound to their mix.</p>
<p>With more control and flexibility, an intuitive, streamlined user interface, and even more masterfully tuned presets, you'll experience first-hand the quality that elevates any home recording or project studio to a whole new level.</p>
<p>Click below to download:</p>
<p><a href="<%= @download_registration.download_link %>"><%= @download_registration.download_link %></a></p>
<p>Enjoy!<br /> <a href="https://www.lexiconpro.com">Lexicon</a></p>
</body>
</html>