<html>

<!--CHANGE THE BACKGROUND COLOR BELOW-->
<body style="background-color:#161515;">
<table style="width: 100%;" border="0" cellpadding="0" align="center" bgcolor="#161515">
<tbody>
<tr>
<td>
<table style="z-index: 5; width: 560px;" border="0" align="center">
<tbody>
<tr>
<td style="border: 0; height: 350px;" colspan="2" valign="top"><img src="http://www.lexiconpro.com/mailers/images/mpxgain/mainpic.jpg" border="0" alt="Main Picture" style="border: 0;" /></td>
</tr>
<tr valign="center">
<td style="width: 360px; height: 277px; border: 0;" align="center">
<p style="position: relative; width: 295px; text-align: left; font-family: sans-serif; line-height: 21px; font-size: 12px; color: white;"><!--WRITE YOUR PARAGRAPH HERE--> In just moments you too can join the elite group of audio legends that use only the best – Lexicon reverb. With 7 different reverb types and over 100 studio–quality presets, the <strong>MPX Native Reverb Plug–In</strong> will undoubtedly take your mix to the next level. <br /><br /> Simply click on the Buy It Now icon and use this unique, one–time use coupon code to purchase your Lexicon <strong>MPX Native Reverb Plug–In</strong> with your GAIN discount: <br /><br /> <%= @download_registration.download_code %> <br /><br /> <strong>Go ahead, this gold record could <br />have <em>your</em> name on it.</strong></p>
</td>
<td style="height: 277px; width: 240px; border: 0;"><!--YOUR BUTTON LINK GOES BELOW--> <a href="http://store.lexiconpro.com/item/lexplmpxr-d_mpx+native+reverb+plug-in_reverb+plugins"> <img src="http://www.lexiconpro.com/mailers/images/mpxgain/button.png" border="0" alt="BUTTON" style="border: NaNpx solid black;" /> </a></td>
</tr>
<tr>
<td style="background-color: #2e2d2c; height: 152px; border: 0;" colspan="2">
<table style="width: 500px;" border="0" align="center">
<tbody>
<tr style="height: 60px;" valign="center">
<td style="width: 250px;"><!--YOUR SOCIAL MEDIA LINKS GO BELOW--> <a href="http://www.facebook.com/lexiconpro?v=info"><img src="http://www.lexiconpro.com/mailers/images/mpxgain/social_03.png" border="0" alt="Facebook" style="border: 0;" /></a> <a href="http://www.youtube.com/user/LexiconPro"><img src="http://www.lexiconpro.com/mailers/images/mpxgain/social_04.png" border="0" alt="YouTube" style="border: 0;" /></a> <a href="http://twitter.com/#!/lexiconpro"><img src="http://www.lexiconpro.com/mailers/images/mpxgain/social_05.png" border="0" alt="Twitter" style="border: 0;" /></a> <a href="http://www.lexiconpro.com/rss.php"><img src="http://www.lexiconpro.com/mailers/images/mpxgain/social_06.png" border="0" alt="RSS Feed" style="border: 0;" /></a></td>
<td><!--YOUR BRAND WEBSITE LINK GOES BELOW--> <a href="http://www.lexiconpro.com"> <img src="http://www.lexiconpro.com/mailers/images/mpxgain/brandlogo.png" border="0" alt="Lexicon By Harman" align="right" style="border: 0;" /></a></td>
</tr>
<tr style="height: 30px;" valign="center">
<td colspan="2"><img src="http://www.lexiconpro.com/mailers/images/mpxgain/harman.png" border="0" alt="Harman" style="position: relative; top: 20px;" /> <span style="z-index: 5; position: relative; left: 100px; top: -5px; color: white; font-family: sans-serif; font-size: 10px; text-align: left; line-height: 8px;"> <br /> 8760 S. Sandy Pkwy | Sandy, UT 84070 | 801 566 8800 <br /> <!--THE UNSUBSCRIBE LINK AND PRIVACY POLICY LINK GOES BELOW--> <br /> <a style="text-decoration: none; color: white;" href="http://www.lexiconpro.com/static_callout.php?id=83"> unsubscribe </a> | <a style="text-decoration: none; color: white;" href="http://www.lexiconpro.com/privacy_policy.php"> privacy policy </a> <br /> </span></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
</html>