<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body>
<table style="z-index: 5; width: 560px;" border="0" align="center">
<tbody>
<tr>
<td style="border: 0; height: 350px;" colspan="2" valign="top"><img src="https://lexiconpro.com/mailers/images/mpx-l/mainpic.jpg" border="0" alt="Main Picture" /></td>
</tr>
<tr valign="center">
<td style="width: 360px; height: 277px; border: 0;" align="center">
<p style="position: relative; width: 283px; text-align: left; font-family: sans-serif; line-height: 21px; font-size: 12px;">For over 40 years Lexicon has been considered the gold standard for digital reverb. The <strong> MPX-L Native Reverb Plug-In </strong> allows all aspiring engineers and producers a new way to bring the legendary Lexicon sound to their mix -- FREE!&nbsp; <br /><br />With more control and flexibility, an intuitive, streamlined user interface, and even more masterfully tuned presets, you'll experience first-hand the quality that elevates any home recording or project studio to a whole new level.</p>
</td>
<td style="height: 277px; width: 240px; border: 0;"><a href="<%= @download_registration.download_link %>"> <img src="https://lexiconpro.com/mailers/images/mpx-l/button.png" border="0" alt="BUTTON" style="border: none;" /> </a></td>
</tr>
<tr>
<td style="background-color: #0a1231; height: 152px; border: 0;" colspan="2">
<table style="width: 500px;" border="0" align="center">
<tbody>
<tr style="height: 60px;" valign="center">
<td style="width: 250px;"><a href="https://www.facebook.com/lexiconpro?v=info"><img src="https://lexiconpro.com/mailers/images/mpx-l/social_03.png" border="0" alt="Facebook" style="border: 0;" /></a> <a href="https://www.youtube.com/user/LexiconPro"><img src="https://lexiconpro.com/mailers/images/mpx-l/social_04.png" border="0" alt="YouTube" style="border: 0;" /></a> <a href="https://twitter.com/#!/lexiconpro"><img src="https://lexiconpro.com/mailers/images/mpx-l/social_05.png" border="0" alt="Twitter" style="border: 0;" /></a> <a href="https://lexiconpro.com/en/rss.xml"><img src="https://lexiconpro.com/mailers/images/mpx-l/social_06.png" border="0" alt="RSS Feed" style="border: 0;" /></a></td>
<td><a href="https://lexiconpro.com"> <img src="https://lexiconpro.com/mailers/images/mpx-l/brandlogo.png" border="0" alt="Lexicon By Harman" width="103" height="42" align="right" style="border: 0; float: right;" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
</html>
