<div class="row">
  <div class="small-12 medium-5 medium-offset-1 large-4 large-offset-2 medium-text-right columns">
    <% country_name = country_name(country_code)
    if country_name.present? %>
        Your country is <%=country_name%> <%=image_tag "https://www.countryflags.io/#{country_code}/flat/32.png", alt: country_name %>
    <% end %>
  </div>
  <div class="small-12 medium-4 large-3 columns end">
    <%= select_tag "country-switch",
    options_for_select(CountryList.countries.sort_by { |item| item[:harman_name]}.map {|country| [country[:harman_name], country[:alpha2]] }, country_code.upcase), 
    prompt: "Select Your Country", title:"#{country_name}",
    class: 'chosen-select'
    %>
  </div>
</div>
