<div class="row">
    <div class="large-8 large-offset-4 small-8 columns" style="border: solid red 0px;">
        <div style="float:left; border: solid red 0px;">
            <% country_name = country_name(country_code)
            if country_name.present? %>
                Your country is <%=country_name%> <%=image_tag "https://flagcdn.com/24x18/#{country_code}.png", alt: "#{country_name} flag" %>
            <% end %>
        </div>
        <div style="float:left; border: solid red 0px; width: 400px; margin-top: 4px; margin-left: 20px;">
            <%= select_tag "country-switch", 
            options_for_select(CountryList.countries.sort_by { |item| item[:harman_name]}.map {|country| [country[:harman_name], country[:alpha2]] }, country_code.upcase), 
            prompt: "Select Your Country", title:"#{country_name}",
            class: 'chosen-select'
            %>
        </div>
        <div style="clear: left;"></div>
    </div>
</div> <!-- <div class="row"> -->
