<div class="secondary alert-box">
  Information gathered on this form will only be used to contact you
  regarding this inquiry and will not be saved for any other future use.
  Click below to agree to these terms.
</div>
