<div class="large-8 columns" data-equalizer="support-selector-box">
	<h1><%= t('titles.support') %></h1>
	<ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1">
        <li>
			<a href="/support/tech_support">
                <div class="expand button" data-equalizer-watch="support-selector-box">Technical Support</div>
    		</a>
        </li>
        <li>
        	<a href="/support/repairs">
                <div class="expand button" data-equalizer-watch="support-selector-box">Repair</div>
            </a>
        </li>
        <li>
        	<a href="/support/parts_new">
                <div class="expand button" data-equalizer-watch="support-selector-box">Spare Parts</div>
            </a>
        </li>
        <li>
        	<a href="/support/rsos">
                <div class="expand button" data-equalizer-watch="support-selector-box">Harman Accounts</div>
            </a>
        </li>            
      </ul>
</div> <!-- <div class="large-8 columns" data-equalizer="support-selector-box"> -->