<% set_meta_tags title: t('titles.support'),
				 description: t('meta.description.support', brand: website.brand_name),
				 reverse: true %>

<% if website.support_banner %>
  <div class="category-banner">
    <%= image_tag website.support_banner, alt: "Product Support" %>
  </div>
<% end %>

<%=render_partial "support/country_switch" %>

<%if country_is_usa %>
  <%=render_partial "support/repairs_usa" %>
<%else%>
  <%=render_partial "support/repairs_international" %>
<%end%>
