<p id="please_wait"><i>Please wait while troubleshooting information is loaded...</i></p>
<iframe src="<%= @src %>" width="100%" height="600"></iframe>

<%= content_for :extra_js do %>
	$(document).ready(function() {
		$('#please_wait').delay(300).remove();
	});
<% end %>
