<% set_meta_tags title: t('titles.warranty_registration'),
				 description: t('meta.warranty_registration'),
				 reverse: true %>

<h1><%= t('titles.warranty_registration') %></h1>

<div class="row">
	<div class="large-10 columns">
    <%= render_partial "support/warranty_registration_form" %>
	</div>
</div>

<%= content_for :extra_js do %>
	$(document).ready(function() {
		$('#warranty_registration_first_name').focus();
	});
<% end %>
