<% set_meta_tags title: t('titles.warranty_registration'),
				 description: t('meta.warranty_registration'),
				 reverse: true %>

<h1><%= t('titles.warranty_registration') %></h1>

<% if website.product_registration_intro %>
  <div>
    <%=raw website.product_registration_intro %>
  </div>
<% end %>

<div class="row">
	<div class="large-10 columns">
    <%= render_partial "support/warranty_registration_form" %>
	</div>
</div>

<%= content_for :extra_js do %>
  <script>
    $(document).ready(function() {
      $('#warranty_registration_first_name').focus();
    });
  </script>
<% end %>
