<ul class="button-group round">
    <li><%= link_to 'Certifications List', admin_vip_certifications_path, class: "small button round" %>	</li>
    <li><%= link_to 'Delete', admin_vip_certification_path(@vip_certification), confirm: 'Are you sure?', method: :delete, class: "small alert button" %> </li>
</ul>
<h1>Edit AMX VIP Certification</h1>

<%= render "form" %>