<h1>AMX VIP Certifications</h1>

<ul class="button-group round">
	<li><%= link_to 'Programmers List', admin_vip_programmers_path, class: "small button round" %>	</li>
	<li><%= link_to 'New AMX VIP Certification', new_admin_vip_certification_path, class: "small success button" %></li>
</ul>

<table class="data">
  <tr>
  	<th></th>
    <th>Name</th>
  </tr>

<% @vip_certifications.each do |cert| %>
  <tr style="vertical-align:text-bottom;">
    <td><%= link_to 'Edit', edit_admin_vip_certification_path(cert), class: "small round button" %></td>
    <td><%= cert.name %></td>
  </tr>
<% end %>
</table>