<% unless ps.new_record? %>
  <% called_from ||= 'product' %>
  <% if ps.suggested_product.is_a?(Product) && ps.product.is_a?(Product) %>
  <li id="product_suggestion_<%= ps.id %>">
    <span class="handle"><%= image_tag("icons/drag_handle.gif", lazy: false) %></span>
    <%= (called_from == 'product') ?
        link_to(ps.suggested_product.name, [:admin, ps.suggested_product]) :
        link_to(ps.product.name, [:admin, ps.product]) %>

    <%= link_to(image_tag("icons/trash.gif", lazy: false),
        admin_product_suggestion_path(ps),
        confirm: "Are you sure? (This won't delete either product--it will only remove the association.)",
        remote: true,
        method: :delete) %>
  </li>
  <% end %>
<% end %>
