<% called_from ||= 'product' %>
<li id="product_document_<%= pd.id %>">
	<span class="handle"><%= image_tag("icons/drag_handle.gif") %></span>
	<%= (called_from == 'product') ? 
			link_to(pd.name(hide_product_name: true), [:admin, pd]) : 
			link_to(pd.product.name, [:admin, pd.product]) %> 
	<%= link_to(image_tag("icons/trash.gif"), 
			admin_product_document_path(pd), 
			remote: true,
			confirm: "Are you sure?", 
			method: :delete) %>
</li>
