<li id="product_video_<%= pv.id %>">
  <span class="handle"><%#= image_tag("icons/drag_handle.gif", lazy: false) %></span>
  <% if pv.group.present? %>
    <%= pv.group %>:
  <% end %>
  <%= link_to pv.youtube_id, "https://youtu.be/#{pv.youtube_id}", target: "_blank" %>
  <span class="little">
    <%= link_to(image_tag("icons/trash.gif", lazy: false),
      admin_product_video_path(pv),
      remote: true,
      confirm: "Are you sure?",
      method: :delete) %>
  </span>
</li>
