<% called_from ||= 'product' %>
<li id="product_family_product_<%= pfp.id %>">
	<% unless called_from == 'product' %>
	<span class="handle"><%= image_tag("icons/drag_handle.gif") %></span>
	<% end %>
	<%= (called_from == 'product') ?
			link_to(pfp.product_family.name, [:admin, pfp.product_family]) :
			link_to(pfp.product.name, [:admin, pfp.product]) %>
	<%= link_to(image_tag("icons/trash.gif"),
			admin_product_family_product_path(pfp),
			confirm: "Are you sure? (This won't delete the product or the product family--it will only remove the product from the family.)", 
			remote: true,
			method: :delete) %>
</li>
