<li id="software_attachment_<%= sa.id %>">
	<%= link_to(image_tag("trash.gif"), 
			admin_software_attachment_path(sa), 
			:remote => true,
			:confirm => "Are you sure?", 
			:method => :delete) %>
	<%= link_to(sa.name, sa.software_attachment.url) %>
</li>