<% unless stc.new_record? %>
  <% called_from ||= "software" %>
  <li id="software_training_class_<%= stc.id %>">
    <%= (called_from == "software") ?
      link_to(stc.training_class.name, edit_admin_training_class_path(stc.training_class)) :
      link_to(stc.software.name, [:admin, stc.software]) %>
    <%= link_to(image_tag('icons/trash.gif', lazy: false),
        admin_software_training_class_path(stc),
        remote: true,
        confirm: "Are you sure?",
        method: :delete) %>
  </li>
<% end %>
