<% unless spec_group.new_record? %>
  <li id="specification_group_<%= spec_group.id %>">
    <span class="handle"><%= image_tag("icons/drag_handle.gif", lazy: false) %></span>
    <%= link_to spec_group.name, [:admin, spec_group] %>
  </li>
<% end %>

