<% unless usr.new_record? %>
  <li id="us_rep_region_<%= usr.id %>">
    <%= link_to(image_tag('icons/trash.gif', alt: "delete", lazy: false), [:admin, usr],
    confirm: "Are you sure? (This won't delete the region--it will only remove the association with this rep.)",
    remote: true,
    method: :delete) %>
    <%= link_to usr.us_region.name, edit_admin_us_region_path(usr.us_region) %>
  </li>
<% end %>
