<% unless association.new_record? %>
  <% called_from ||= 'vip_location' %>
  <li id="vip_location_service_area_<%= association.id %>">
    <%= (called_from == 'vip_location') ? association.service_area.name : link_to(association.location.name, [:admin, association.location]) %>
    <%= link_to(image_tag("icons/trash.gif", lazy: false),
        admin_vip_location_service_area_path(association, called_from: called_from),
        confirm: "Are you sure? (This won't delete the service_area --it will only remove the association.)",
        remote: true,
        method: :delete) %>
  </li>
<% end %>
