<% called_from ||= 'vip_programmer' %>
<li id="vip_programmer_market_<%= association.id %>">
	<% if (called_from == 'vip_programmer') %><span class="handle"><%= image_tag("icons/drag_handle.gif", lazy: false) %></span><% end %>
	<%= (called_from == 'vip_programmer') ? link_to(association.market.name, [:admin, association.market]) : link_to(association.programmer.name, [:admin, association.programmer]) %> 
	<%= link_to(image_tag("icons/trash.gif"), 
			admin_vip_programmer_market_path(association, called_from: called_from), 
			confirm: "Are you sure? (This won't delete the market --it will only remove the association.)", 
			remote: true,
			method: :delete) %>
</li>
