<h1>Audio Demos</h1>
<% if can? :create, AudioDemo %>
<ul class="button-group round">
	<li><%= link_to 'New Demo', new_admin_audio_demo_path, class: "small success button" %></li>
</ul>
<% end %>

<ul>
<% @audio_demos.each do |audio_demo| %>
  <li><%= link_to audio_demo.name, [:admin, audio_demo] %></li>
<% end %>
</ul>
