
<% content_for :page_specific_js do %>
	<!-- Include the ActiveUsers component script. -->
	<script src="/javascript/embed-api/components/active-users.js"></script>
    <script src="/javascript/harman/3rdPartyVisualizations.5Charts.js"></script>
<% end %>

<div class="Dashboard Dashboard--full">
	<header class="Dashboard-header">
		<ul class="FlexGrid">
			<li class="FlexGrid-item">
				<div class="Titles">
					<h1 class="Titles-main" id="view-name">Select a View</h1>
					<div class="Titles-sub">Google Analytics Charts</div>
				</div>
			</li>
			<li class="FlexGrid-item FlexGrid-item--fixed">
				<div id="active-users-container"></div>
			</li>
		</ul>
		<div id="view-selector-container" style="display:none;"></div>
	</header><!-- <header class="Dashboard-header"> -->

	<ul class="FlexGrid FlexGrid--halves">
		<li class="FlexGrid-item">
			<div class="Chartjs">
				<header class="Titles">
					<h1 class="Titles-main">This Week vs Last Week</h1>
					<div class="Titles-sub">By sessions</div>
				</header>
				<figure class="Chartjs-figure" id="chart-1-container"></figure>
				<ol class="Chartjs-legend" id="legend-1-container"></ol>
			</div>
		</li>
		<li class="FlexGrid-item">
			<div class="Chartjs">
				<header class="Titles">
					<h1 class="Titles-main">This Year vs Last Year</h1>
					<div class="Titles-sub">By users</div>
				</header>
				<figure class="Chartjs-figure" id="chart-2-container"></figure>
				<ol class="Chartjs-legend" id="legend-2-container"></ol>
			</div>
		</li>
		<li class="FlexGrid-item">
			<div class="Chartjs">
				<header class="Titles">
					<h1 class="Titles-main">Top Browsers</h1>
					<div class="Titles-sub">By pageview</div>
				</header>
				<figure class="Chartjs-figure" id="chart-3-container"></figure>
				<ol class="Chartjs-legend" id="legend-3-container"></ol>
			</div>
		</li>
		<li class="FlexGrid-item">
			<div class="Chartjs">
				<header class="Titles">
					<h1 class="Titles-main">Top Countries</h1>
					<div class="Titles-sub">By sessions</div>
				</header>
				<figure class="Chartjs-figure" id="chart-4-container"></figure>
				<ol class="Chartjs-legend" id="legend-4-container"></ol>
			</div>
		</li>
		<li class="FlexGrid-item">
			<div class="Chartjs">
				<header class="Titles">
					<h1 class="Titles-main">Top Social Media</h1>
					<div class="Titles-sub">By sessions</div>
				</header>
				<figure class="Chartjs-figure" id="chart-5-container"></figure>
				<ol class="Chartjs-legend" id="legend-5-container"></ol>
			</div>
		</li>		
	</ul><!-- <ul class="FlexGrid FlexGrid--halves"> -->
</div><!-- <div class="Dashboard Dashboard--full"> -->