<% system_option = f.object.system_option %>
<%= f.input :system_option_id, as: :hidden %>

<%= f.association :system_option_values, as: :select, label: false,
	collection: system_option.system_option_values,
  # selected: (f.object.system_configuration_option_values.length > 0) ? f.object.system_configuration_option_values.first.system_option_value_id : system_option.default_system_option_value_id,
  include_blank: true,
	input_html: {
    multiple: true,
    class: "un-multiply",
		id: "system_option_#{ system_option.id }",
		data: {
			:'system-option-id' => system_option.id,
			:'system-rule-ids' => "#{system_option.system_rules.map{|sr| sr.id}.join(' ')}",
      :'multiname' => "multiselect_#{system_option.id}"
		}
	}
%>

<div class="container">
  <div class="large-6 medium-6 small-6 columns">
    <%= link_to "+ add another", '#', class: 'option-adder', data: { option_id: system_option.id } %>
  </div>
  <div class="large-6 medium-6 small-6 columns text-right">
    <%= link_to "- remove last", '#', class: 'option-remover', data: { option_id: system_option.id } %>
  </div>
</div>
