<%= content_for :extra_header_code do %>
	<script src="<%= system_path(@system, format: 'js') %>" type="text/javascript" charset="utf-8" async defer></script>
<% end %>

<h1 style="text-align: center">Build Your <%= @system.name %></h1>

<div id="dialog"></div>

<%= render 'form' %>


