<div class="row">

  <div class="large-7 medium-7 small-12 columns">
    <h1>System Requirements:</h1>

    <% @system_configuration.system_configuration_options.each do |sco| %>
      <% unless sco.system_option.parent_id.to_i > 0 %>
        <%= render_partial "system_configurations/system_configuration_option", sco: sco %>
      <% end %>
    <% end %>
  </div>

  <div class="large-5 small-5 small-12 columns">
    <div class="panel">
      <h3>System Components</h3>
      <ul>
        <% @system_configuration.system_configuration_components.each do |scc| %>
          <% if scc.quantity.to_i > 0 %>
            <li><%= scc.system_component.name %> (Qty: <%= scc.quantity %>)</li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

</div>

<%= content_for :extra_js do %>
  $( document ).ready(function(){
    window.print();
  });
<% end %>
